In [ ]:
# Notes:
# Need to revisit facebook area, figure out how to use glob to loop 
# through the whole list of folders and create seperate dataframes
# loop through all data frames to perform calculations
# then loop through all to create charts

# Twitter Mining Function
---------------------------------------------------------------
## Searches, Stores, and Produce Outputs In The Form Of DataFrames and CSV Files.

### Run each cell one at a time, and follow the next instruction:

In [1]:
# Import Dependencies
%matplotlib notebook
import os
import csv
import json
import requests
from pprint import pprint
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from twython import Twython
import simplejson
import sys
import string
import glob
from pathlib import Path

In [2]:
# Import Twitter 'Keys' - MUST SET UP YOUR OWN 'config_twt.py' file
from config_twt import (app_key_twt, app_secret_twt, oauth_token_twt, oauth_token_secret_twt)

In [3]:
# Set Up Consumer Keys And Secret with Twitter Keys
APP_KEY = app_key_twt
APP_SECRET = app_secret_twt

# Set up OAUTH Token and Secret With Twitter Keys

OAUTH_TOKEN = oauth_token_twt
OAUTH_TOKEN_SECRET = oauth_token_secret_twt

# Load Keys In To a Twython Function And Call It "twitter"
twitter = Twython(APP_KEY, APP_SECRET, OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

# Setup Batch Counter For Phase 2
batch_counter = 0

___________________________
## Twitter Mining Function '(TMF)'
___________________________

### INSTRUCTIONS:


This will Twitter Query Function will:
- Perform searches for hastags (#)
- Search for "@twitter_user_acct"
- Provide mixed results of popular and most recent tweets from the last 7 days
- 'remaining' 'search/tweets (allowance of 180) rate limit status' regenerates in 15 minutes after depletion

### Final outputs are aggegrated queries in both:

- Pandas DataFrame of queried tweets
- CSV files saved in the same folder as this Jupyter Notebook


### Phase 1 - Run Query and Store The Dictionary Into a List


- Step 1) Run the 'Twitter Mining Function' cell below to begin program
            Note:
                - Limits have not been fully tested due to time constraint
                - Search up to 180 queries where and each query yields up to 100 tweets max
                - Running the TLC to see how many you have left after every csv outputs.

- Step 2) When prompted, input in EITHER: #hashtag or  @Twitter_user_account
            Examples: "#thuglife" or "@beyonce"

- Step 3) TMF will query Twitter and store the tweets_data, a list called "all_data"

- Step 4) Upon query search completion, it will prompt: "Perform another search query:'  ('y'/'n')  "
            - Input 'y' to query, and the program will append the results
            - Tip: Keep count of how many 'search tweets' you have, it should deduct 1 from 'remaining',
                    which can produce up to 100 tweets of data
                    
- Step 5) End program by entering 'n' when prompted for 'search again'
            Output: printed list of all appended query data


### Phase 2 - Converting to Pandas DataFrame and Produce a CSV Output

- Step 6) Loop Through Queried Data 

- Step 7) Convert to Pandas DataFrame

- Step 8) Convert from DataFrame to CSV

### Addtional Considerations:

- Current set up uses standard search api keys, not premium
- TMF returns potentially 100 tweets at a time, and pulls from the last 7 days in random order
- More than likely will have to run multiple searches and track line items count
    in each of the csv files output that will be created in the same folder

### Tweet Limit Counter (TLC)
    - Run cell to see how many search queries you have available
    - Your 'remaining' search tweets regenerates over 15 minutes.

In [5]:
# TLC - Run to Query Current Rate Limit on API Keys    
twitter.get_application_rate_limit_status()['resources']['search']

{'/search/tweets': {'limit': 180, 'remaining': 180, 'reset': 1585453400}}

In [6]:
#Twitter Mining Function (TMF)
#RUN THIS CELL TO BEGIN PROGRAM!

print('-'*80)
print("TWITTER QUERY FUNCTION - BETA")
print('-'*80)
print("INPUT PARAMETERS:")
print("- @Twitter_User_Account e.g. @clashofclans")
print("- Hashtags (#) e.g. #THUGLIFE")
print()
print("NOTE: SCROLL DOWN AFTER EACH QUERY FOR ENTER INPUT")
print('-'*80)

def twitter_search(app_search):
        # Store the following Twython function and parameters into variable 't'
        t = Twython(app_key=APP_KEY,
                   app_secret=APP_SECRET,
                   oauth_token=OAUTH_TOKEN,
                   oauth_token_secret=OAUTH_TOKEN_SECRET)
        # The Twitter Mining Function we will use to run searches is below
        # and we're asking for it to pull 100 tweets
        search = t.search(q=app_search, count=100)
        tweets = search['statuses']
        
    # This will be a list of dictionaries of each tweet where the loop below will append to
        all_data = []

    # From the tweets, go into each individual tweet and extract the following into a 'dictionary'
    # and append it to big bucket called 'all_data'
        for tweet in tweets:
            try:
                tweets_data = {
                    "Created At":tweet['created_at'],
                    "Text (Tweet)":tweet['text'],
                    "User ID":tweet['user']['id'],
                    "User Followers Count":tweet['user']['followers_count'],
                    "Screen Name":tweet['user']['name'],
                     "ReTweet Count":tweet['retweet_count'],
                     "Favorite Count":tweet['favorite_count']
                }
                all_data.append(tweets_data)
                #print(tweets_data)
                #print()
            except (KeyError, NameError, TypeError, AttributeError) as err:      
                print(f"{err}    Skipping...")
                #functions need to return something...
        return all_data

# The On and Off Mechanisms:
search_again = 'y'
final_all_data = []

# initialize the query counter
query_counter = 0
while search_again == 'y':
    query_counter += 1
    print()
    start_program = str(input('Type the EXACT @twitter_acct or #hashtag to query:   '))
    all_data = twitter_search(start_program)
    final_all_data += all_data
    print()
    #print(all_data)
    print(f"Completed Collecting Search Results for {start_program} . Queries Completed: {query_counter} ")
    print('-'*80)
    search_again = input("Would you like to run another query? Enter 'y'. Otherwise, 'n' or another response will end query mode. ")
    print('-'*80)
# When you exit the program, set the query counter back to zero
query_counter = 0
print()
print(f"Phase 1 of 2 Queries Completed . Proceed to Phase 2 - Convert Collection to DF and CSV formats .")
#print("final Data", final_all_data)
#####################################################################################################
# TIPS!: # If you're searching for the same hastag or twitter_handle,
         # consider copying and pasting it (e.g. @fruitninja)

--------------------------------------------------------------------------------
TWITTER QUERY FUNCTION - BETA
--------------------------------------------------------------------------------
INPUT PARAMETERS:
- @Twitter_User_Account e.g. @clashofclans
- Hashtags (#) e.g. #THUGLIFE

NOTE: SCROLL DOWN AFTER EACH QUERY FOR ENTER INPUT
--------------------------------------------------------------------------------

Type the EXACT @twitter_acct or #hashtag to query:   #coronavirus

Completed Collecting Search Results for #coronavirus . Queries Completed: 1
--------------------------------------------------------------------------------
Would you like to run another query? Enter 'y'. Otherwise, 'n' or another response will end query mode. y
--------------------------------------------------------------------------------

Type the EXACT @twitter_acct or #hashtag to query:   y
Would you like to run another query? Enter 'y'. Otherwise, 'n' or another response will end query mode.

Completed Collecting Search Results for y . Queries Completed: 2
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

Phase 1 of 2 Queries Completed . Proceed to Phase 2 - Convert Collection to DF and CSV formats .

In [7]:
# Display the total tweets the TMF successfully pulled:
print(len(final_all_data))

200

### Tweet Limit Counter (TLC)
    - Run cell to see how many search queries you have available
    - Your 'remaining' search tweets regenerates over 15 minutes.

In [8]:
# Run to view current rate limit status
twitter.get_application_rate_limit_status()['resources']['search']

{'/search/tweets': {'limit': 180, 'remaining': 178, 'reset': 1585453407}}

In [9]:
#df = pd.DataFrame(final_all_data[0])
#df

final_all_data

[{'Created At': 'Sun Mar 29 03:28:25 +0000 2020',
  'Text (Tweet)': 'RT @derekjames150: There is increasing evidence that the UK Government is recording #Coronavirus deaths as pneumonia. If this is the case,…',
  'User ID': 1217481071375331329,
  'User Followers Count': 25,
  'Screen Name': 'Penny Ware',
  'ReTweet Count': 473,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:25 +0000 2020',
  'Text (Tweet)': 'Congreso de Perú eximió de responsabilidad penal a los militares y policías que hieran o maten gente en situación d… https://t.co/NfLX7Tp2fN',
  'User ID': 2396731321,
  'User Followers Count': 55968,
  'Screen Name': 'LaHistoria',
  'ReTweet Count': 0,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:25 +0000 2020',
  'Text (Tweet)': 'RT @UNDP: Two out of every five people on Earth do not have a basic hand washing facility with soap &amp; water at home. See how we work to ens…',
  'User ID': 3289433933,
  'User Followers Count': 24,
  'Screen Name': 'S. M. Tariqul Islam',
  'ReTweet Count': 6,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:25 +0000 2020',
  'Text (Tweet)': 'RT @thewebbix: The missing 6 weeks: how Trump failed his life’s BIGGEST test | The Guardian\n#TrumpPandemicFailure\nJanuary 20,2020 — two mon…',
  'User ID': 814331324,
  'User Followers Count': 4844,
  'Screen Name': '⚖️ Äиαstαsíα ⚖️',
  'ReTweet Count': 62,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:25 +0000 2020',
  'Text (Tweet)': '#Coronavirus Fury at China efforts to blame Covid-19 on #US army delegation to Wuhan https://t.co/JVDw8LAO2G via @MailOnline',
  'User ID': 2189056412,
  'User Followers Count': 1213,
  'Screen Name': 'Commodity Hunter #MBGA',
  'ReTweet Count': 0,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:25 +0000 2020',
  'Text (Tweet)': 'RT @CNBCTV18Live: #Coronavirus | Tata Sons to contribute Rs 1,000 cr towards fighting the #CoronavirusOutbreak \n\nEarlier today, Tata Trusts…',
  'User ID': 524542218,
  'User Followers Count': 17780,
  'Screen Name': 'Nisha Poddar',
  'ReTweet Count': 732,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:25 +0000 2020',
  'Text (Tweet)': 'Quick pauses from my solo run to document #covid_19 themed street art (and some tone-deaf advertising).… https://t.co/SUGPCV2pkU',
  'User ID': 743604277,
  'User Followers Count': 68,
  'Screen Name': 'Olivia G Cadwell',
  'ReTweet Count': 0,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:25 +0000 2020',
  'Text (Tweet)': 'RT @amitmalviya: AAP government in Delhi cut electricity and water supply of migrant workers\u200b, spread rumours that buses were waiting for t…',
  'User ID': 1203635602677288961,
  'User Followers Count': 50,
  'Screen Name': '🔱 Dushy™ 🔱',
  'ReTweet Count': 2623,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:25 +0000 2020',
  'Text (Tweet)': "RT @HKWORLDCITY: ‼️WOW‼️ Bruce Aylward/@WHO did an interview with HK's @rthk_news &amp; when asked about #Taiwan he pretended not to hear the q…",
  'User ID': 1163131078036430854,
  'User Followers Count': 644,
  'Screen Name': 'HongKongGuardian',
  'ReTweet Count': 14276,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:25 +0000 2020',
  'Text (Tweet)': 'RT @ezracheungtoto: It is an embarrassing scene. @WHO Director General, Bruce Aylward, hangs up in an interview with RTHK when he is asked…',
  'User ID': 274796762,
  'User Followers Count': 572,
  'Screen Name': 'Nick Pal',
  'ReTweet Count': 7814,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': 'RT @tutoquiroga: El muñeco parlante de Maduro, el servil narco-fraudulento @evoespueblo, defiende al narco-tirano Maduro. \nLos integrantes…',
  'User ID': 275250016,
  'User Followers Count': 119,
  'Screen Name': 'alex diaz neira',
  'ReTweet Count': 165,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': 'RT @algore: This is a shameful abdication of responsibility by @EPA. President Trump is using a public health crisis to justify a free allo…',
  'User ID': 262349771,
  'User Followers Count': 1172,
  'Screen Name': 'Primate Seven',
  'ReTweet Count': 1134,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': 'RT @chematierra: #Coronavirus \nMarzo 28\nPanorama mundial\n662,073 infectados\n30,780 muertos\n139,426 recuperados\n🇺🇸EEUU es ahora por mucho el…',
  'User ID': 1168593433843384320,
  'User Followers Count': 9,
  'Screen Name': 'MARIO',
  'ReTweet Count': 49,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': 'RT @sopitas: “Esto es impostergable, es nuestra última oportunidad de hacerlo y hacerlo ya. Quédate en casa. Quédate en casa. Quédate en ca…',
  'User ID': 383485444,
  'User Followers Count': 361,
  'Screen Name': 'Juan',
  'ReTweet Count': 1002,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': 'RT @rdiazccs: IMPORTANTE! Vecinos de San José informan que se llevaron del Edif. San Gabriel, detrás de la Av. Panteón a un residente de es…',
  'User ID': 149224005,
  'User Followers Count': 1354,
  'Screen Name': 'F Gabriela Rios G',
  'ReTweet Count': 310,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': 'RT @nicolasyanez: Acabamos de aplazar el plebiscito del 26 de abril por el #coronavirus 🦠, pero para el flamante nuevo Ministro de Educació…',
  'User ID': 1216753386,
  'User Followers Count': 397,
  'Screen Name': 'phillipe romo',
  'ReTweet Count': 57,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': 'RT @NineInchBride: #Coronavirus Highlights American Government Insanity\nhttps://t.co/IUuPH9Xn4y\nKleptocratic multi-trillion-dollar corporat…',
  'User ID': 1342560042,
  'User Followers Count': 1028,
  'Screen Name': 'Red Ocelot',
  'ReTweet Count': 2,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': 'RT @BonelliOK: #Encuesta\nCómo te parece que está llevando adelante la crisis sanitaria por el #Coronavirus 🦠el gobierno de Alberto Fernánde…',
  'User ID': 1120165760696037382,
  'User Followers Count': 2456,
  'Screen Name': 'Graciela Beatriz Varela🦊#SoyDel41%',
  'ReTweet Count': 1396,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': 'RT @vikatan: `800 குடும்பங்களுக்கு தலா 10 கிலோ அரிசி!’ -கூட்டத்தை தவிர்க்க வீடுகளுக்கே கொண்டு கொடுத்த தம்பதி\n#sivaganga #coronavirus https:…',
  'User ID': 2558870815,
  'User Followers Count': 7341,
  'Screen Name': 'கோயம்புத்தூரான்™',
  'ReTweet Count': 368,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': 'RT @asoquim: Para protegernos ante el #Coronavirus, son muy importantes los antisépticos, desinfectantes y antibacteriales. Deben ser usado…',
  'User ID': 302232285,
  'User Followers Count': 14166,
  'Screen Name': 'Luis Córdova',
  'ReTweet Count': 1291,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': 'RT @OSWALDORIOSM: #URGENTE\n\nMédicos de clínica 50 de @Tu_IMSS en #SLP, protestan porque no se aplican diagnósticos oportunos, no se brinda…',
  'User ID': 439780212,
  'User Followers Count': 75,
  'Screen Name': 'F.R.C.',
  'ReTweet Count': 274,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': '#Coronavirus en México al día de hoy 28 de Marzo del 2020 son\n\n   848 Casos Confirmados\n2,623 Casos Negativos\n4,341… https://t.co/WB0GWguyBA',
  'User ID': 1222521053009862657,
  'User Followers Count': 1611,
  'Screen Name': 'Alerta Cambio Climático',
  'ReTweet Count': 0,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': "RT @HKWORLDCITY: ‼️WOW‼️ Bruce Aylward/@WHO did an interview with HK's @rthk_news &amp; when asked about #Taiwan he pretended not to hear the q…",
  'User ID': 3933905784,
  'User Followers Count': 70,
  'Screen Name': 'mehhh',
  'ReTweet Count': 14276,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:24 +0000 2020',
  'Text (Tweet)': 'RT @GabyGamboa_S: Continuamos con la campaña de sanitización de espacios públicos para evitar riesgos del #Coronavirus #COVID19. \n\nCuídense…',
  'User ID': 1131581080727896065,
  'User Followers Count': 14,
  'Screen Name': 'Serrano Díaz Cesar',
  'ReTweet Count': 61,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:23 +0000 2020',
  'Text (Tweet)': 'Have queries on #coronavirus? \n\nCall us on 8377-08-8377 and our expert will answer all your questions. \n\nTune into… https://t.co/sPTU9veeIF',
  'User ID': 2760050489,
  'User Followers Count': 102,
  'Screen Name': 'Mir Gowhar',
  'ReTweet Count': 0,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:23 +0000 2020',
  'Text (Tweet)': 'RT @SSalud_mx: #ConferenciaDePrensa: #Coronavirus #COVID19 | 28 de marzo de 2020 https://t.co/OetRLs0h27',
  'User ID': 23009983,
  'User Followers Count': 3007,
  'Screen Name': 'Mario Castillo (Coronadriver)🗞️',
  'ReTweet Count': 1098,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:23 +0000 2020',
  'Text (Tweet)': 'RT @UNAM_MX: #BoletínUNAM Es erróneo decir que no realizar pruebas aumenta la transmisión de #coronavirus. El distanciamiento físico es la…',
  'User ID': 708189835,
  'User Followers Count': 178,
  'Screen Name': 'Noam Jericho',
  'ReTweet Count': 1353,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:23 +0000 2020',
  'Text (Tweet)': 'RT @AnaCabrera: JUST IN: 51 Italian doctors who tested positive for #coronavirus have died - Italian Association of Doctors',
  'User ID': 19406606,
  'User Followers Count': 398,
  'Screen Name': 'Maria_Maria_2020',
  'ReTweet Count': 61756,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:23 +0000 2020',
  'Text (Tweet)': '#ElCacas es sospechoso de ser portador de #coronavirus y sigue viajando y conviviendo con gente.\n\nEl discurso ofici… https://t.co/xHhSUTSzQs',
  'User ID': 235238280,
  'User Followers Count': 397,
  'Screen Name': 'Tikun',
  'ReTweet Count': 0,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:23 +0000 2020',
  'Text (Tweet)': 'RT @eaglewarrior427: March 28, 2020 currently there are 121,132 #coronavirus \n&amp; 2016 #coronavirusdeaths \n\n#CoronaUpdate  It did NOT go away…',
  'User ID': 820426623656697856,
  'User Followers Count': 10935,
  'Screen Name': 'Susan_S',
  'ReTweet Count': 18,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:23 +0000 2020',
  'Text (Tweet)': 'RT @ChinaInFocusNTD: Chinese state-run media reported that China donated 150,000 #CCPVirus (#coronavirus) test kits to the Czech Republic.…',
  'User ID': 45998359,
  'User Followers Count': 440,
  'Screen Name': 'iceup',
  'ReTweet Count': 1292,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:23 +0000 2020',
  'Text (Tweet)': 'RT @ilumina_helios: ¿Deseas información de nuestros productos? Comunícate con nosotros vía correo electrónico: informacion@helios.com.ve y…',
  'User ID': 126081386,
  'User Followers Count': 68,
  'Screen Name': 'Teresa Perez',
  'ReTweet Count': 1,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:23 +0000 2020',
  'Text (Tweet)': "I've only been in #NYC #coronavirus quarantine for a week,\n\nand it already feels like I've lived through the Old Testament.",
  'User ID': 1171504015974137867,
  'User Followers Count': 18,
  'Screen Name': 'kyle hates comedy',
  'ReTweet Count': 0,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:23 +0000 2020',
  'Text (Tweet)': 'RT @jacinta_nicole_: #Modiji starting the clapping in India.. 👏🏼 UK followed.. then #USA.. history repeats itself.. Many indians who hate i…',
  'User ID': 985852020417589248,
  'User Followers Count': 33,
  'Screen Name': 'Vikash Mudgal',
  'ReTweet Count': 3475,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': 'RT @CANAL44TV: #Coronavirus Situación en #Jalisco \n\nCasos confirmados: 86 (4 sin síntomas)\nCasos descartados: 426\nCasos en proceso: 209\nDef…',
  'User ID': 2285757872,
  'User Followers Count': 59,
  'Screen Name': 'Tono Garcia',
  'ReTweet Count': 1,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': 'RT @rschuch: Multiple medical assocs. recommend mandate from Fed Gov to shutdown all non essential services. This must be done.....please r…',
  'User ID': 18902547,
  'User Followers Count': 92,
  'Screen Name': 'Beth Corey',
  'ReTweet Count': 18,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': 'RT @ACampaNajjar: As our nation battles #Coronavirus, my district is without a congressman. \n\nAs a native son of #CA50, I know the hardship…',
  'User ID': 1179826438704230402,
  'User Followers Count': 114,
  'Screen Name': 'Angela Smith',
  'ReTweet Count': 234,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': 'RT @GamingGifter: #CoronaLockdown is happening. To make someone’s day &amp; spread some positivity I will reward one person who Retweets + Foll…',
  'User ID': 28307821,
  'User Followers Count': 1539,
  'Screen Name': 'Angela Amenta',
  'ReTweet Count': 3926,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': 'RT @DrDenaGrayson: The US and #SouthKorea had their 1st confirmed #COVID19 case on the *same day*.\n\nWithin 1 week, South Korea approved the…',
  'User ID': 98026255,
  'User Followers Count': 40,
  'Screen Name': 'me',
  'ReTweet Count': 826,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': "RT @IndonesiaAust: DKI Jakarta Governor @aniesbaswedan prolongs the state of emergency in Indonesia's capital city province to 19 April to…",
  'User ID': 17363170,
  'User Followers Count': 4322,
  'Screen Name': '💧 Elias Hallaj 🔥',
  'ReTweet Count': 1,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': 'RT @ExpressGujarat: A family of four in #Gandhinagar who tested positive for #coronavirus, has been charged under multiple laws for not fol…',
  'User ID': 168446899,
  'User Followers Count': 45,
  'Screen Name': 'Sushil',
  'ReTweet Count': 14,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': 'RT @RonnieMoas: Twelve days ago the President of #Peru ... Population 30,000,000 ... placed the country on lockdown and the Military, Natio…',
  'User ID': 955807966120169472,
  'User Followers Count': 1001,
  'Screen Name': 'BobDrèz.tron',
  'ReTweet Count': 2,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': "RT @brianlilley: When Canadians looked to their Parliament for help and all parties said they would support the government's aid package, w…",
  'User ID': 1172475064870027264,
  'User Followers Count': 1023,
  'Screen Name': 'Donna R #PPC',
  'ReTweet Count': 513,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': 'Recién el 21 de marzo Italia decide interrumpir todas las actividades que no sean esenciales tras conocerse que en… https://t.co/JvzzAJFg2N',
  'User ID': 1244082601763241985,
  'User Followers Count': 0,
  'Screen Name': 'covid-19',
  'ReTweet Count': 0,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': 'Kindly donate as much You Can &amp; Support 😍🙏!!! \n#BeResponsible!!!! \n #Coronavirus!!!!! \n#IndiafightsCorona!!!… https://t.co/ExMv05NANM',
  'User ID': 364967816,
  'User Followers Count': 4,
  'Screen Name': 'sharan bassappa',
  'ReTweet Count': 1,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': 'RT @Jan_Herzog: “ A Victoria Ruffo ya ni la toco ! \n\nPor eso no tiene #Coronavirus !!! ... \n\n.\n\nOmar Fayad ...',
  'User ID': 388937141,
  'User Followers Count': 321,
  'Screen Name': 'DELOREAN',
  'ReTweet Count': 26,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': 'RT @FelipeCalderon: Deseo que el Presidente @lopezobrador_  esté bien y no se haya contagiado, dado su reciente contacto con el gobernador…',
  'User ID': 910250561555005440,
  'User Followers Count': 422,
  'Screen Name': 'luz martinez',
  'ReTweet Count': 1457,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:22 +0000 2020',
  'Text (Tweet)': 'RT @WHO: FACT: #COVID19 is NOT airborne. \n\nThe #coronavirus is mainly transmitted through droplets generated when an infected person coughs…',
  'User ID': 804636368,
  'User Followers Count': 15,
  'Screen Name': 'beyou!',
  'ReTweet Count': 11074,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:21 +0000 2020',
  'Text (Tweet)': 'RT @loveacrc: 사회적 거리 두기로~! #코로나19 극뽁!\n#힘내라_대한민국 #힘내라_대구경북\n@hellopolicy #COVID19 #coronavirus #사회적거리두기\nhttps://t.co/Fyz3n97Yth',
  'User ID': 1101016578,
  'User Followers Count': 4824,
  'Screen Name': '😺😸😽😿🐶4냥이베토네🌷🌱',
  'ReTweet Count': 1,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:21 +0000 2020',
  'Text (Tweet)': 'RT @aubrey_huff: Based on 🌎 population. Odds of making it to,\n@mlb:  .00001% \n@NHL:  .000009%\n@NFL:  .000022%\n@NBA:  .000006%\n#Covid_19 cas…',
  'User ID': 166182106,
  'User Followers Count': 270,
  'Screen Name': 'Ken Madley',
  'ReTweet Count': 130,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:21 +0000 2020',
  'Text (Tweet)': 'RT @timesofoman: #MorningMinute: 21 new #coronavirus cases reported. https://t.co/sFzyWVU2pd @OmaniMOH https://t.co/9ppdeSH8nS',
  'User ID': 387914765,
  'User Followers Count': 9815,
  'Screen Name': 'Åtħ Gøðêlítšäs',
  'ReTweet Count': 1,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:21 +0000 2020',
  'Text (Tweet)': 'RT @alexwebmasterx: Dios guarde y proteja al personal de salud, la 1ra línea en la batalla contra el #coronavirus  \nQue orgullo ser padre d…',
  'User ID': 3383462405,
  'User Followers Count': 1366,
  'Screen Name': 'El ℹ️mpertℹ️nente',
  'ReTweet Count': 9,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:21 +0000 2020',
  'Text (Tweet)': 'RT @jacinta_nicole_: #Modiji starting the clapping in India.. 👏🏼 UK followed.. then #USA.. history repeats itself.. Many indians who hate i…',
  'User ID': 1190672333389778944,
  'User Followers Count': 9,
  'Screen Name': 'Indrajeet Pandey',
  'ReTweet Count': 3475,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:21 +0000 2020',
  'Text (Tweet)': '@alfonsoleon10 Siempre agradecida con mi Dios de los cielos pero siento que toda esta situación del #coronavirus me va a volver loca 🤯',
  'User ID': 2925519727,
  'User Followers Count': 6,
  'Screen Name': 'Yamile Perez',
  'ReTweet Count': 0,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:21 +0000 2020',
  'Text (Tweet)': "RT @SiyliaMan: LET'S  see how #WHO faces the problem about Taiwan of RTHK's The Pulse.\n#COVID19 #ChineseVirus #WHO #coronavirus #WuhanVirus…",
  'User ID': 1428337962,
  'User Followers Count': 101,
  'Screen Name': 'CY',
  'ReTweet Count': 106,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:21 +0000 2020',
  'Text (Tweet)': 'RT @dr_dalessandro: ¿A ver, a ver? @PAMI_org_ar lanzó un programa de voluntariado, del cual yo me anoté, para que llamen a los #jubilados y…',
  'User ID': 2468189521,
  'User Followers Count': 1881,
  'Screen Name': 'Rosa',
  'ReTweet Count': 2,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:21 +0000 2020',
  'Text (Tweet)': 'RT @TDN_NOTICIAS: 🔴 ARGENTINA EN CUARENTENA #coronavirus https://t.co/ayHpO1pNH1',
  'User ID': 2491885356,
  'User Followers Count': 363,
  'Screen Name': '#MongoliaVirus',
  'ReTweet Count': 2,
  'Favorite Count': 0},
 {'Created At': 'Sun Mar 29 03:28:21 +0000 2020',

### Step 6) Loop through the stored list of queried tweets from final_all_data and stores in designated lists

In [10]:
# Loop thru finall_all_data (list of dictionaries) and extract each item and store them into
# the respective lists

# BUCKETS
created_at = []
tweet_text = []
user_id = []
user_followers_count = []
screen_name = []
retweet_count = []
likes_count = []

# append tweets data to the buckets for each tweet
#change to final_all_data
for data in final_all_data:
        #print(keys, data[keys])
        
    created_at.append(data["Created At"]),
    tweet_text.append(data['Text (Tweet)']),
    user_id.append(data['User ID']),
    user_followers_count.append(data['User Followers Count']),
    screen_name.append(data['Screen Name']),
    retweet_count.append(data['ReTweet Count']),
    likes_count.append(data['Favorite Count'])


#print(created_at, tweet_text, user_id, user_followers_count, screen_name, retweet_count, likes_count)

print("Run complete. Proceed to next cell.")

Run complete. Proceed to next cell.

### Step 7) Convert to Pandas DataFrame

In [11]:
# Setup DataFrame and run tweets_data_df

tweets_data_df = pd.DataFrame({
    "Created At": created_at,
    "Screen Name": screen_name,
    "User ID": user_id,
    "User Follower Count": user_followers_count,
    "Likes Counts": likes_count,
    "ReTweet Count": retweet_count,
    "Tweet Text" : tweet_text
})
tweets_data_df

,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,Sun Mar 29 03:28:25 +0000 2020,Penny Ware,1217481071375331329,25,0,473,RT @derekjames150: There is increasing evidenc...
1,Sun Mar 29 03:28:25 +0000 2020,LaHistoria,2396731321,55968,0,0,Congreso de Perú eximió de responsabilidad pen...
2,Sun Mar 29 03:28:25 +0000 2020,S. M. Tariqul Islam,3289433933,24,0,6,RT @UNDP: Two out of every five people on Eart...
3,Sun Mar 29 03:28:25 +0000 2020,⚖️ Äиαstαsíα ⚖️,814331324,4844,0,62,RT @thewebbix: The missing 6 weeks: how Trump ...
4,Sun Mar 29 03:28:25 +0000 2020,Commodity Hunter #MBGA,2189056412,1213,0,0,#Coronavirus Fury at China efforts to blame Co...
5,Sun Mar 29 03:28:25 +0000 2020,Nisha Poddar,524542218,17780,0,732,RT @CNBCTV18Live: #Coronavirus | Tata Sons to ...
6,Sun Mar 29 03:28:25 +0000 2020,Olivia G Cadwell,743604277,68,0,0,Quick pauses from my solo run to document #cov...
7,Sun Mar 29 03:28:25 +0000 2020,🔱 Dushy™ 🔱,1203635602677288961,50,0,2623,RT @amitmalviya: AAP government in Delhi cut e...
8,Sun Mar 29 03:28:25 +0000 2020,HongKongGuardian,1163131078036430854,644,0,14276,RT @HKWORLDCITY: ‼️WOW‼️ Bruce Aylward/@WHO di...
9,Sun Mar 29 03:28:25 +0000 2020,Nick Pal,274796762,572,0,7814,RT @ezracheungtoto: It is an embarrassing scen...
10,Sun Mar 29 03:28:24 +0000 2020,alex diaz neira,275250016,119,0,165,"RT @tutoquiroga: El muñeco parlante de Maduro,..."
11,Sun Mar 29 03:28:24 +0000 2020,Primate Seven,262349771,1172,0,1134,RT @algore: This is a shameful abdication of r...
12,Sun Mar 29 03:28:24 +0000 2020,MARIO,1168593433843384320,9,0,49,RT @chematierra: #Coronavirus \nMarzo 28\nPano...
13,Sun Mar 29 03:28:24 +0000 2020,Juan,383485444,361,0,1002,"RT @sopitas: “Esto es impostergable, es nuestr..."
14,Sun Mar 29 03:28:24 +0000 2020,F Gabriela Rios G,149224005,1354,0,310,RT @rdiazccs: IMPORTANTE! Vecinos de San José ...
15,Sun Mar 29 03:28:24 +0000 2020,phillipe romo,1216753386,397,0,57,RT @nicolasyanez: Acabamos de aplazar el plebi...
16,Sun Mar 29 03:28:24 +0000 2020,Red Ocelot,1342560042,1028,0,2,RT @NineInchBride: #Coronavirus Highlights Ame...
17,Sun Mar 29 03:28:24 +0000 2020,Graciela Beatriz Varela🦊#SoyDel41%,1120165760696037382,2456,0,1396,RT @BonelliOK: #Encuesta\nCómo te parece que e...
18,Sun Mar 29 03:28:24 +0000 2020,கோயம்புத்தூரான்™,2558870815,7341,0,368,RT @vikatan: `800 குடும்பங்களுக்கு தலா 10 கிலோ...
19,Sun Mar 29 03:28:24 +0000 2020,Luis Córdova,302232285,14166,0,1291,RT @asoquim: Para protegernos ante el #Coronav...
20,Sun Mar 29 03:28:24 +0000 2020,F.R.C.,439780212,75,0,274,RT @OSWALDORIOSM: #URGENTE\n\nMédicos de clíni...
21,Sun Mar 29 03:28:24 +0000 2020,Alerta Cambio Climático,1222521053009862657,1611,0,0,#Coronavirus en México al día de hoy 28 de Mar...
22,Sun Mar 29 03:28:24 +0000 2020,mehhh,3933905784,70,0,14276,RT @HKWORLDCITY: ‼️WOW‼️ Bruce Aylward/@WHO di...
23,Sun Mar 29 03:28:24 +0000 2020,Serrano Díaz Cesar,1131581080727896065,14,0,61,RT @GabyGamboa_S: Continuamos con la campaña d...
24,Sun Mar 29 03:28:23 +0000 2020,Mir Gowhar,2760050489,102,0,0,Have queries on #coronavirus? \n\nCall us on 8...
25,Sun Mar 29 03:28:23 +0000 2020,Mario Castillo (Coronadriver)🗞️,23009983,3007,0,1098,RT @SSalud_mx: #ConferenciaDePrensa: #Coronavi...
26,Sun Mar 29 03:28:23 +0000 2020,Noam Jericho,708189835,178,0,1353,RT @UNAM_MX: #BoletínUNAM Es erróneo decir que...
27,Sun Mar 29 03:28:23 +0000 2020,Maria_Maria_2020,19406606,398,0,61756,RT @AnaCabrera: JUST IN: 51 Italian doctors wh...
28,Sun Mar 29 03:28:23 +0000 2020,Tikun,235238280,397,0,0,#ElCacas es sospechoso de ser portador de #cor...
29,Sun Mar 29 03:28:23 +0000 2020,Susan_S,820426623656697856,10935,0,18,"RT @eaglewarrior427: March 28, 2020 currently ..."
...,...,...,...,...,...,...,...
170,Sun Mar 29 03:28:28 +0000 2020,Ana Lucia Vazquez❤,4842886084,129,0,626,RT @Guarromantico_: Llega un punto donde ya no...
171,Sun Mar 29 03:28:28 +0000 2020,Luis ayala,1136336420908490752,157,0,56,RT @AnavarroT52: Les recuerdo que los perros 🐶...
172,Sun Mar 29 03:28:28 +0000 2020,Txoria Txori,167033046,83,0,3792,"RT @m_any: Holi, mi mamá prácticamente vive co..."
173,Sun Mar 29 03:28:28 +0000 2020,Ariela Diaz Carlos,991804737057046530,4,0,427,RT @AleMullerA: Hoy si ando de malas. \n\nDebe...
174,Sun Mar 29 03:28:28 +0000 2020,Satªn,857044591543013377,399,0,0,Desp d la charla de 3 horitas q pegamos con mi...
175,Sun Mar 29 03:28:28 +0000 2020,F por celes😞,1043180056976261121,20,0,2419,"RT @SofiaBuurgos: Esto tiene que parar, 3 muje..."
176,Sun Mar 29 03:28:28 +0000 2020,Entresijo,284229097,221,0,34,RT @ceibodecabeza: Qué asco estos políticos de...
177,Sun Mar 29 03:28:28 +0000 2020,𝑺𝒐𝒍𝒄𝒊 🐍,726256051981565952,218,0,55633,RT @jesuispendejio: Una chava en Insta acaba d...
178,Sun Mar 29 03:28:28 +0000 2020,Ykfs♡,634104522,119,0,0,Si les dan se quejan y si no le dan también se...
179,Sun Mar 29 03:28:28 +0000 2020,peter king,126736704,407,0,1217,"RT @MashiRafael: Irresponsablemente, y solo po..."
180,Sun Mar 29 03:28:28 +0000 2020,Tathagata Biswas,1016618544887312384,201,0,425,RT @KizzyPhD: I could just cry. Our vaccine is...
181,Sun Mar 29 03:28:28 +0000 2020,Tu Cotorrin,769051151136333824,202,0,327,RT @elcitizen: Y al final del día los aconteci...
182,Sun Mar 29 03:28:28 +0000 2020,EME 🌔,75888235,747,0,0,Ya probé y no voy a volver.
183,Sun Mar 29 03:28:28 +0000 2020,Liz,252240056,1202,0,0,Danna Paola me parece sobreactuada y cero genu...
184,Sun Mar 29 03:28:28 +0000 2020,Imagine Creativity,722760158741454849,149,0,141,RT @Cudalla: wait people fr mad about idubbbz ...
185,Sun Mar 29 03:28:28 +0000 2020,juan josé rodriguez,956288936,100,0,915,RT @Strategist_62: Millones de españoles en cu...
186,Sun Mar 29 03:28:28 +0000 2020,Eduardo Ayala,1195148808528826368,109,0,37,RT @TuitEnBlanco: No publiquen muchas cosas co...
187,Sun Mar 29 03:28:28 +0000 2020,juan pulido,136266047,30,0,0,@Educacionbogota Los profesores están de vacac...
188,Sun Mar 29 03:28:28 +0000 2020,condesadescalza,1133494878518861824,433,0,586,RT @macariomx: Pésimo. Esto debía ser comunica...
189,Sun Mar 29 03:28:28 +0000 2020,Castelwhite,357700326,128,0,127,RT @ESPNtenis: ¡¡Yo soy tu amigo fiel!! 🎶🎾😂\n ...
190,Sun Mar 29 03:28:28 +0000 2020,Ramìrez Figueroa,1111576381,154,0,0,@gene_llerena Esta gente no entiende no vive y...
191,Sun Mar 29 03:28:28 +0000 2020,Pelicorta.,588619831,206,0,20,RT @DelMarR_V: No quiero que nos vayamos a dor...
192,Sun Mar 29 03:28:28 +0000 2020,Duplaá,1209992551,213,0,84,"RT @juanfranrueda_: Mario Pineida, jugador de ..."
193,Sun Mar 29 03:28:28 +0000 2020,Brandon Ferry,602346968,212,0,10,RT @IQ_GodSon: Y’all go add my tictok @Immanue...
194,Sun Mar 29 03:28:28 +0000 2020,Valores💮🕊,891444422,333,0,23,"RT @JulioSeRoa: 🔮Países como Inglaterra, Estad..."
195,Sun Mar 29 03:28:28 +0000 2020,Marco Carrasco,118475764,373,0,160,RT @CataFG1: Estoy indignada 500 millones de p...
196,Sun Mar 29 03:28:28 +0000 2020,ExpresatePTY,3016704606,196,0,0,@ProtegeryServir @tvnnoticias @TReporta @nexno...
197,Sun Mar 29 03:28:28 +0000 2020,Pedro J. Pernía G.,63338086,2138,0,327,RT @elcitizen: Y al final del día los aconteci...
198,Sun Mar 29 03:28:28 +0000 2020,Mel 🌼,2401662636,1127,0,3289,RT @Nadiiaas_: “Milagro en la celda 7” una pel...
199,Sun Mar 29 03:28:28 +0000 2020,Eugenio Pwlrlo,995532276405620736,2363,0,1,RT @delfin518: @Subrayado De la misma escuela ...

### Step 8) Convert DataFrame to CSV File

In [17]:
# Save Tweets Data to a CSV File (Run Cell to input filename)
# Streamline the saving of multiple queries (1 query = up to 100 tweets) into a csv file.

# E.g. input = (#fruit_ninja) will save the file as "fruit_ninja_batch1.csv" as the file result
# Note: first chracter will be slice off so you can just copy and paste
# the hastag / @twitter_handle from steps above
batch_name = str(input("Enter in batch name."))

# If you restart kernel, batch_counter resets to zero.
batch_counter = batch_counter +1

# Check if the #hastag / @twitter_handle folder exists and create the folder if it does not
Path(f"./resources/{batch_name[1:]}").mkdir(parents=True, exist_ok=True)

# Save dataframe of all queries in a csv file to a folder in the resources folder csv using the 
tweets_data_df.to_csv(f"./resources/{batch_name[1:]}/{batch_name[1:]}_batch{batch_counter}.csv", encoding='utf-8')
print(f"Output saved in current folder as: {batch_name[1:]}_batch{batch_counter}.csv ")

Enter in batch name.#coronavirus
Output saved in current folder as: coronavirus_batch6.csv

# PHASE 3 -  CALCULATIONS USING API DATA

In [28]:
# Example Template of looping thru csvfiles, will replicate these cells

path = './resources/thuglife_files' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [29]:
frame

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Sat Mar 28 05:51:39 +0000 2020,Imurge ThugWear,498999878,181,0,0,this guy called the dog attention like (kiss k...
1,1,Sat Mar 28 05:51:13 +0000 2020,JohnO!,384624175,688,0,0,-This World \r\n-Make It Right ft. @ZROMOCITYD...
2,2,Sat Mar 28 05:31:46 +0000 2020,FloatingDeadGuy,293341196,425,0,0,@JCrossover Coming from a guy who ruined peopl...
3,3,Sat Mar 28 05:07:59 +0000 2020,austin bosquez,1223793917532917760,110,0,0,@slimthugga #ThugLife 🔥
4,4,Sat Mar 28 04:57:10 +0000 2020,🇮🇳 ਜਾਏਸ਼ ਗੁਲਾਟੀ,1087774297521901568,28,0,0,"Quarantine day 9 : Almost said ""I Love You"" to..."
5,5,Sat Mar 28 04:54:20 +0000 2020,Uncle D-Smoke,434570914,567,0,0,God bless all the artist dropping Music during...
6,6,Sat Mar 28 04:38:11 +0000 2020,MAY23 MY BOOFINI DAY,59873374,5463,0,0,#THUGLIFE 😂😂🍕💩 https://t.co/teIh6PXGPg
7,7,Sat Mar 28 04:34:13 +0000 2020,getmybuzzup,369528441,3824,0,0,Slim Thug - Thug Life [#Album] - Houston nativ...
8,8,Sat Mar 28 04:16:43 +0000 2020,Tim Moore,1165645841081741312,5,1,0,Tonight’s smile. Happy Friday and much love to...
9,9,Sat Mar 28 03:42:54 +0000 2020,Joe solis,2148226741,50,0,0,*Thuggish ruggish music playing* my cats watch...
10,10,Sat Mar 28 03:20:50 +0000 2020,bella,3365249679,503,0,4,RT @mendoza64__: So since this is my last year...
11,11,Sat Mar 28 03:08:31 +0000 2020,Mamata Borthakur,72048003,804,0,0,#ThugLife https://t.co/NyCfT4GABQ
12,12,Sat Mar 28 03:01:59 +0000 2020,Imurge ThugWear,498999878,181,0,0,coronaaaaaaaaaa #covid_19 🤣🤣🤣🤣🤣 #thuglife 😆 ht...
13,13,Sat Mar 28 03:00:57 +0000 2020,Imurge ThugWear,498999878,181,0,0,what a reflex for #corona #covid_19 #thuglife ...
14,14,Sat Mar 28 03:00:18 +0000 2020,Imurge ThugWear,498999878,181,0,0,this is serious about his 6 feet #corona #covi...
15,15,Sat Mar 28 02:29:00 +0000 2020,Laura L. Kirby,241236162,399,1,0,#thuglife #ThugLifeMedal #MiniMike https://t.c...
16,16,Sat Mar 28 02:24:52 +0000 2020,GOT DAMN SAMM!,28308170,11131,0,6,RT @HotNewHipHop: .@slimthugga represents Hous...
17,17,Sat Mar 28 02:23:10 +0000 2020,Misi,1144182126,9462,0,2,RT @Cassperloc: 💪.... GRRRRRRR #REALTHUGMUSIC ...
18,18,Sat Mar 28 02:21:37 +0000 2020,BLACC GODDE$$,1242513056300597248,63,0,3,RT @Cassperloc: BUILD YOUR IMMUNE SYSTEMS UP A...
19,19,Sat Mar 28 02:20:50 +0000 2020,CA$$PER LOC™©,270227961,145186,0,2,RT @Cassperloc: 💪.... GRRRRRRR #REALTHUGMUSIC ...
20,20,Sat Mar 28 02:20:40 +0000 2020,CA$$PER LOC™©,270227961,145186,3,2,💪.... GRRRRRRR #REALTHUGMUSIC #THUGBIBLE #THUG...
21,21,Sat Mar 28 01:52:07 +0000 2020,CA$$PER LOC™©,270227961,145186,0,1,RT @Cassperloc: I THUG &amp; GO HARD... GOTTA ...
22,22,Sat Mar 28 01:51:09 +0000 2020,CA$$PER LOC™©,270227961,145186,0,3,RT @Cassperloc: BUILD YOUR IMMUNE SYSTEMS UP A...
23,23,Sat Mar 28 01:51:06 +0000 2020,CA$$PER LOC™©,270227961,145186,2,1,I THUG &amp; GO HARD... GOTTA GET IT SO I HUST...
24,24,Sat Mar 28 01:36:59 +0000 2020,La Diosa K,724944312,802,0,3,RT @Cassperloc: BUILD YOUR IMMUNE SYSTEMS UP A...
25,25,Sat Mar 28 01:34:06 +0000 2020,Amanda Bates,304019893,49,1,0,#potus #trump #donaldtrump #comedy #funny #fun...
26,26,Sat Mar 28 01:28:09 +0000 2020,CA$$PER LOC™©,270227961,145186,4,3,BUILD YOUR IMMUNE SYSTEMS UP AS BEST AS YOU CA...
27,27,Sat Mar 28 01:15:39 +0000 2020,Rajni,1166599629460377600,14,0,5,RT @PMalangwani: Wah what a co-incidence 😁😜\r\...
28,28,Sat Mar 28 01:15:29 +0000 2020,rach,2242553541,1425,1,0,@AlexFaulk2 #thuglife
29,29,Sat Mar 28 01:07:54 +0000 2020,Hot Girl of Hip-Hop ✨,306503868,2424,0,2,RT @defpen: COVID-19 can't stop @SlimThugga. T...
...,...,...,...,...,...,...,...,...
164,67,Fri Mar 27 20:02:13 +0000 2020,Scott Smith,2871942248,1,0,0,@JimCarrey So what's your take on Biden then?....
165,68,Fri Mar 27 19:58:13 +0000 2020,Pallavi Priya 💚,928920153059815424,2431,6,0,Interesting.. Must try and post your comments....
166,69,Fri Mar 27 19:51:34 +0000 2020,TEXAS BOY,1411455840,162,0,0,@slimthugga got the Coronavirus and still drop...
167,70,Fri Mar 27 19:46:35 +0000 2020,Shrenu_Parikh_Galaxy,2575200732,350,0,9,RT @shrenufantamil: Happy to see you doing lov...
168,71,Fri Mar 27 19:25:38 +0000 2020,Dortex,1106620827204812800,8,1,0,@KissKouss Je suis chaud comme tout mon gas. J...
169,72,Fri Mar 27 19:18:21 +0000 2020,L.A 💛💜 : 49 - 14. Kobe Forever ❤️❤️❤️,1167897470464118784,368,0,0,Encore une masterclass dans la discographie de...
170,73,Fri Mar 27 19:18:05 +0000 2020,Lógica Política,758268318973394945,931,0,1,RT @joaquintorrevie: #thuglife https://t.co/ny...
171,74,Fri Mar 27 19:17:58 +0000 2020,Joaquín Albaladejo,382328551,4236,1,1,#thuglife https://t.co/nyRSp6pfIo https://t.co...
172,75,Fri Mar 27 19:13:04 +0000 2020,Christie Guimond,4836564471,1636,1,0,@HBurness #lifeskillz #thuglife
173,76,Fri Mar 27 19:04:47 +0000 2020,Maria Páscoa,929500945599401989,41,2,0,"@SensIdiota Nisto, o nosso PM já tirou o lugar..."
174,77,Fri Mar 27 18:58:10 +0000 2020,Sally Namarome,3054835677,155,3,0,Our pastors are waiting for the Covid-19 pande...
175,78,Fri Mar 27 18:57:06 +0000 2020,ᵃⁱˢʰᵘ,1037331159452196867,107,0,5,RT @PMalangwani: Wah what a co-incidence 😁😜\r\...
176,79,Fri Mar 27 18:52:33 +0000 2020,TRILL WALLETS,350568613,251,1,0,@slimthugga #thuglife https://t.co/FxRTzrJMSK
177,80,Fri Mar 27 18:41:16 +0000 2020,Samir Kochhar,67575861,80089,2,0,#thuglife girish_rajput_photography https://t....
178,81,Fri Mar 27 18:39:36 +0000 2020,DJ II D.E.E.P,29166984,2476,1,1,NEW slimthug #THUGLIFE ALBUM OUT NOW ON ALL PL...
179,82,Fri Mar 27 18:12:09 +0000 2020,Sophie Dean,1124845314647711744,16,1,0,Violating community standards on Facebook by “...
180,83,Fri Mar 27 18:08:38 +0000 2020,Rodney Miller,20796240,171,1,0,He arrived originalfunko @officialfye @2pac #f...
181,84,Fri Mar 27 18:03:55 +0000 2020,FACTUAL OPINIONS OF DRED,1183402627377307649,1312,0,2,RT @HarryO1975: @FACTUALOPINION0 @Omowale99949...
182,85,Fri Mar 27 18:01:14 +0000 2020,Rutuja Kachare,3013718540,153,0,5,RT @PMalangwani: Wah what a co-incidence 😁😜\r\...
183,86,Fri Mar 27 18:00:38 +0000 2020,Eduardo wandscheer,1225563097198473217,13,0,17,RT @viralvideosoff: Here's some ThugLife caugh...
184,87,Fri Mar 27 17:50:40 +0000 2020,Harry Triple O,2997477370,8438,0,2,RT @HarryO1975: @FACTUALOPINION0 @Omowale99949...
185,88,Fri Mar 27 17:50:27 +0000 2020,Harry Triple O,2997477370,8438,5,2,@FACTUALOPINION0 @Omowale99949437 Outside of #...
186,89,Fri Mar 27 17:49:35 +0000 2020,Marlon Santos,873170504647135232,544,0,935,"RT @2PAC: ""When the pressure's on, THUG LIFE.""..."
187,90,Fri Mar 27 17:47:25 +0000 2020,STK AKUMA209x 天,760703401424461831,145,0,0,#2Pac #MakaveliTheDon #ThugLife #1Nation Class...
188,91,Fri Mar 27 17:44:22 +0000 2020,MK,23096499,59,0,0,#thuglife #Trump #MAGA https://t.co/yvYBhoqN43
189,92,Fri Mar 27 17:40:56 +0000 2020,cellule mère,964245519177519107,1104,4,0,personne :\r\n\r\nmon côté #thuglife a 10 ans😔...
190,93,Fri Mar 27 17:37:12 +0000 2020,Rivkah 🇮🇱BeMoreGolda 🇮🇱,745057581173858304,1077,0,0,"@JoosyJew @porknpicklepie You won @JoosyJew, I..."
191,94,Fri Mar 27 17:34:58 +0000 2020,The real Illest Bullet,1271985955,359,0,0,Message 💨 .\r\n.\r\n.\r\n.\r\n.\r\n#RealTalk #...
192,95,Fri Mar 27 17:21:26 +0000 2020,🥶Childless G🅰️mbino 🥶,1164713669718155264,1459,0,0,Yeah @slimthugga this is 🔥🔥\r\n#NewMusicFriday...
193,96,Fri Mar 27 17:19:11 +0000 2020,Ronnie King Music Group,1146915458,642,0,0,One of the many Highlights of my Keyboard Care...

In [60]:
path = './resources/*' # use your path
resources = glob.glob(path)

li = []

#for foldername in enumerate(resources):
print("All folders in the 'resources' folder:")
print("="*40)
for foldername in resources:
    li.append(foldername)
    str(foldername)
    print(foldername[12:])
#print(li)
print("")
print(F"Total Folders: {len(li)}")

All folders in the 'resources' folder:
========================================
angrybirds
bible
candycrushsaga
cheetah
clashofclans
clashroyale
cleanmaster
coronavirus
facebook
final_clean
instagram
madskillsmx
original_raw_data
pandora
pinterest
securitymaster
spotify
subwaysurfer
templerun
thuglife_files
whatsapp
youtube

Total Folders: 22

##### Facebook Calculations

In [4]:
# Example Template of looping thru csvfiles, and concatenate all of the csv files we collected in each folder
path = './resources/facebook'
all_files = glob.glob(path + "/*.csv")
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
fb_frame = pd.concat(li, axis=0, ignore_index=True)
fb_frame

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 19:43:36 +0000 2019,La veille techno,135145900,10071,0,0,RT @nicoladiaz FYI @Hugoslav @edwyplenel @Disc...
1,1,Wed Apr 03 19:43:32 +0000 2019,John Kreuzer,15877403,2923,0,0,If it weren't for constant #Facebook security ...
2,2,Wed Apr 03 19:43:24 +0000 2019,CyberTeam,1031930290363662342,128,0,0,Over 540 Milion Facebook User Records Found On...
3,3,Wed Apr 03 19:43:10 +0000 2019,Jonathan Alvizua,177250563,555,0,1,RT @Economiahoymx: #ATENCIÓN | Cultura Colecti...
4,4,Wed Apr 03 19:43:05 +0000 2019,Swati Khandelwal,864777798,30039,0,0,😱 Over 540 Million #Facebook User Records Expo...
5,5,Wed Apr 03 19:42:35 +0000 2019,Paul Motion,42687750,451,0,108,RT @threatpost: Breaking: Hundreds of millions...
6,6,Wed Apr 03 19:42:02 +0000 2019,TechFood,952518796266401793,5520,0,0,ICO hints at Facebook hypocrisy over data prot...
7,7,Wed Apr 03 19:41:48 +0000 2019,Noticieros GREM,260370353,18771,0,0,#Empresas🔎 Hallan datos de #Facebook en #Amazo...
8,8,Wed Apr 03 19:41:41 +0000 2019,PRSA SF Bay Area,68763408,1828,0,0,"""#Facebook exists to create community and we d..."
9,9,Wed Apr 03 19:41:33 +0000 2019,BuyDirectSports Sports Picks & Predictions,267990789,3136,0,0,That makes 9 Straight #FreePick #Winners @Buyd...
10,10,Wed Apr 03 19:41:30 +0000 2019,Hammer Time ⚡️,907702701001019392,121,0,108,RT @threatpost: Breaking: Hundreds of millions...
11,11,Wed Apr 03 19:41:27 +0000 2019,Yell0w Glasses,837781791419338757,85,0,17,RT @Swati_THN: This is Terrible 🤦 Facebook has...
12,12,Wed Apr 03 19:41:23 +0000 2019,Jecky wachs,741324683006578697,51,0,27,RT @AnonNewsDE: Wo wir vorhin schon beim Thema...
13,13,Wed Apr 03 19:41:22 +0000 2019,Kiriko Yajima,471756956,1434,0,0,Cocktail Book #15 -Bloody Mary- 名前は物騒だが、実はトマトジ...
14,14,Wed Apr 03 19:41:17 +0000 2019,Juho Pesonen,28964825,727,0,0,First I thought that the ppl at #Facebook are ...
15,15,Wed Apr 03 19:41:13 +0000 2019,wizardsec,1094006078730162176,23,0,117,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
16,16,Wed Apr 03 19:41:13 +0000 2019,Merkstatt,19674860,2142,0,0,Hundreds of millions of #Facebook records expo...
17,17,Wed Apr 03 19:41:04 +0000 2019,Cyber Security,3346754597,1832,0,117,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
18,18,Wed Apr 03 19:40:55 +0000 2019,Nancy Roc,122084073,83005,0,0,#Facebook demande à certains utilisateurs le m...
19,19,Wed Apr 03 19:40:46 +0000 2019,SocialTIC,714418874,15076,0,0,#Facebook se enfrenta a señalamientos y baja c...
20,20,Wed Apr 03 19:40:41 +0000 2019,柳井みう@SNSの女王様,97709071,13326,0,0,""" SNSの女王様 柳井みう"" #Facebook #ビジネス #起業家 #集客 #事業主 ..."
21,21,Wed Apr 03 19:40:37 +0000 2019,Michelle Anousjka,118407907,171,0,4,RT @opgelicht: Facebook heeft nieuwe gebruiker...
22,22,Wed Apr 03 19:40:34 +0000 2019,dreams at fifty,802252602368999425,1080,0,19,"RT @Autores_noveles: Sigue al autor, @Morrison..."
23,23,Wed Apr 03 19:40:33 +0000 2019,Ibra,430815517,1106,0,108,RT @threatpost: Breaking: Hundreds of millions...
24,24,Wed Apr 03 19:40:31 +0000 2019,John,1000660376,281,0,94,RT @YourMarkLubbers: #Facebook censors real ac...
25,25,Wed Apr 03 19:40:28 +0000 2019,Schiemer Consulting,1110336600,7138,0,21,RT @DMAlert: RT @Fix_Reputations: The Importan...
26,26,Wed Apr 03 19:40:27 +0000 2019,javifields,376044283,1166,0,117,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
27,27,Wed Apr 03 19:40:25 +0000 2019,Jackie Kollar,463276743,125,0,4,RT @ChatterBlast: Last month's #Facebook outag...
28,28,Wed Apr 03 19:40:23 +0000 2019,David & Dana,845037806737129472,28272,0,0,If you’re not using Facebook Retargeting Ads t...
29,29,Wed Apr 03 19:40:22 +0000 2019,jimmy passemard,994893154519306240,47,0,117,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
...,...,...,...,...,...,...,...,...
5072,1337,Wed Apr 03 19:22:46 +0000 2019,S・Blank 皅朗恖 (ㅅ·바란크),384080647,251,0,0,#SocialMedia websites are interesting. This in...
5073,1338,Wed Apr 03 19:22:45 +0000 2019,Martin,2921905883,46,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5074,1339,Wed Apr 03 19:22:44 +0000 2019,kⒶli,2337594336,1153,0,22,RT @AnonNewsDE: Wo wir vorhin schon beim Thema...
5075,1340,Wed Apr 03 19:22:41 +0000 2019,GNU/Ｚe//e,810915163738177536,187,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5076,1341,Wed Apr 03 19:22:38 +0000 2019,LORE CASTILLO REYES 🇲🇽,184481251,6005,0,0,"Con Margarita Arellano, abogada y feminista, p..."
5077,1342,Wed Apr 03 19:22:37 +0000 2019,chtys 80,2333716978,11,0,0,ONT VEUX LE PLATINE !!! AVEC LES ABONNÉ #direc...
5078,1343,Wed Apr 03 19:22:36 +0000 2019,Ellen Ripley ⏳,1001054494606667777,104,0,27,RT @AnonScan: Millions of #Facebook Records Fo...
5079,1344,Wed Apr 03 19:22:35 +0000 2019,Lesvia Garza Flores,136462493,1884,0,1,RT @DoreFerriz: Si quieren acudir al #Festival...
5080,1345,Wed Apr 03 19:22:31 +0000 2019,James Haus,249850162,184,0,8,"RT @openmarkets: “That’s beyond sketchy,” secu..."
5081,1346,Wed Apr 03 19:22:29 +0000 2019,Ħazem Osama,761060850,172,0,660,RT @TheHackersNews: This is Terrible 🤦 Faceboo...
5082,1347,Wed Apr 03 19:22:29 +0000 2019,Juan C Solano יוחנן,932721278,223,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5083,1348,Wed Apr 03 19:22:27 +0000 2019,Hyrum M,270124606,80,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5084,1349,Wed Apr 03 19:22:27 +0000 2019,Greg D,184723989,51,0,3,"RT @ShonaMurray_: Once again, #facebook at the..."
5085,1350,Wed Apr 03 19:22:19 +0000 2019,Ashish T.,1083227897379225601,31,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5086,1351,Wed Apr 03 19:22:18 +0000 2019,Shruti Mahajan,710608668832571392,47,0,0,This is not the first and it probably won't be...
5087,1352,Wed Apr 03 19:22:09 +0000 2019,Matt C,30847682,145,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5088,1353,Wed Apr 03 19:22:08 +0000 2019,Trip Elix,2290453579,30759,0,0,"""The leaked datasets do not directly belong to..."
5089,1354,Wed Apr 03 19:22:07 +0000 2019,Trip Elix,2290453579,30759,0,0,"""😱 Over 540 Million #Facebook User Records Exp..."
5090,1355,Wed Apr 03 19:21:53 +0000 2019,The Hacker News,209811713,537824,11,5,The leaked datasets do not directly belong to ...
5091,1356,Wed Apr 03 19:21:49 +0000 2019,Ikke,710752588862517248,1760,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5092,1357,Wed Apr 03 19:21:47 +0000 2019,zephyr 101010,914593624842805249,67,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5093,1358,Wed Apr 03 19:21:38 +0000 2019,Cliff Willie,132971811,294,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5094,1359,Wed Apr 03 19:21:38 +0000 2019,Rob,1029371871286816768,627,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5095,1360,Wed Apr 03 19:21:38 +0000 2019,Anonymous Delta,729601114212044800,975,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5096,1361,Wed Apr 03 19:21:31 +0000 2019,⛰🍀🦚§ĮĶĶĄ🕊🌿🗻,3348323991,1993,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5097,1362,Wed Apr 03 19:21:31 +0000 2019,Cyfer Reign,777197042787426304,27,0,0,😱 Over 540 Million #Facebook User Records Expo...
5098,1363,Wed Apr 03 19:21:31 +0000 2019,Andrew Useckas,14534405,123,0,92,RT @threatpost: Breaking: Hundreds of millions...
5099,1364,Wed Apr 03 19:21:28 +0000 2019,Tech Aggregate,1077009755145674752,154,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5100,1365,Wed Apr 03 19:21:28 +0000 2019,JOUET Romaiη 🦊,366557558,436,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
5101,1366,Wed Apr 03 19:21:27 +0000 2019,CryptoManiac,943582748333215744,1710,0,58,RT @TheHackersNews: 😱 Over 540 Million #Facebo...

In [61]:
fb_frame.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,5102.000000,5.102000e+03,5102.000000,5102.000000,5102.000000
mean,650.819287,2.654058e+17,6957.946884,0.314387,183.822619
std,389.521660,4.214586e+17,44160.860710,2.298868,556.649980
min,0.000000,6.637300e+04,0.000000,0.000000,0.000000
25%,318.250000,1.315201e+08,107.000000,0.000000,0.000000
50%,637.000000,1.236133e+09,371.000000,0.000000,4.000000
75%,956.000000,7.616781e+17,1650.000000,0.000000,58.000000
max,1484.000000,1.113193e+18,548840.000000,41.000000,2755.000000

In [14]:
# Sort to set up removal of duplicates
fb_frame.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
43,43,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
125,125,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
208,208,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
294,294,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
379,379,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
464,464,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
550,550,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
635,635,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
720,720,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
806,806,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
892,892,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
979,979,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
1067,1067,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
1155,1155,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
1249,1249,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \r\n@juventusfcen \r\n@FCBarcelona ...
496,496,Wed Apr 03 03:48:02 +0000 2019,Ati Shong Thonger,1112576649948774400,0,0,0,@anthonydelva1 @dreeashy @facebook 28th of Mar...
594,594,Wed Apr 03 03:48:02 +0000 2019,Ati Shong Thonger,1112576649948774400,0,0,0,@anthonydelva1 @dreeashy @facebook 28th of Mar...
692,692,Wed Apr 03 03:48:02 +0000 2019,Ati Shong Thonger,1112576649948774400,0,0,0,@anthonydelva1 @dreeashy @facebook 28th of Mar...
792,792,Wed Apr 03 03:48:02 +0000 2019,Ati Shong Thonger,1112576649948774400,0,0,0,@anthonydelva1 @dreeashy @facebook 28th of Mar...
892,892,Wed Apr 03 03:48:02 +0000 2019,Ati Shong Thonger,1112576649948774400,0,0,0,@anthonydelva1 @dreeashy @facebook 28th of Mar...
87,87,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
186,186,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
285,285,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
386,386,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
485,485,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
585,585,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
685,685,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
785,785,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
884,884,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
984,984,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
...,...,...,...,...,...,...,...,...
486,486,Wed Apr 03 03:30:05 +0000 2019,ななしの,6466292,932,0,2424,RT @yoox5135: おいおいマジかよ。Facebookの担当者は自民党にレクチャーに...
589,589,Wed Apr 03 03:30:05 +0000 2019,ななしの,6466292,932,0,2424,RT @yoox5135: おいおいマジかよ。Facebookの担当者は自民党にレクチャーに...
687,687,Wed Apr 03 03:30:05 +0000 2019,ななしの,6466292,932,0,2424,RT @yoox5135: おいおいマジかよ。Facebookの担当者は自民党にレクチャーに...
785,785,Wed Apr 03 03:30:05 +0000 2019,ななしの,6466292,932,0,2424,RT @yoox5135: おいおいマジかよ。Facebookの担当者は自民党にレクチャーに...
885,885,Wed Apr 03 03:30:05 +0000 2019,ななしの,6466292,932,0,2425,RT @yoox5135: おいおいマジかよ。Facebookの担当者は自民党にレクチャーに...
96,96,Wed Apr 03 19:35:14 +0000 2019,Anthony Augustine,1095661,2222,0,0,https://t.co/V7qFAic6zW #privacy #facebook
195,195,Wed Apr 03 19:35:14 +0000 2019,Anthony Augustine,1095661,2222,0,0,https://t.co/V7qFAic6zW #privacy #facebook
294,294,Wed Apr 03 19:35:14 +0000 2019,Anthony Augustine,1095661,2222,0,0,https://t.co/V7qFAic6zW #privacy #facebook
395,395,Wed Apr 03 19:35:14 +0000 2019,Anthony Augustine,1095661,2222,0,0,https://t.co/V7qFAic6zW #privacy #facebook
494,494,Wed Apr 03 19:35:14 +0000 2019,Anthony Augustine,1095661,2222,0,0,https://t.co/V7qFAic6zW #privacy #facebook
40,40,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
139,139,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
238,238,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
337,337,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
437,437,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
540,540,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
638,638,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
736,736,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
836,836,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
936,936,Wed Apr 03 03:38:10 +0000 2019,Rajesh Kumar,730343,1224,0,0,@abhijitmajumder @facebook @MyNation I did not...
5,5,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,1,0,• Check out @Facebook's extended April Fools j...
104,104,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,1,0,• Check out @Facebook's extended April Fools j...
203,203,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,1,0,• Check out @Facebook's extended April Fools j...
302,302,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,1,0,• Check out @Facebook's extended April Fools j...
402,402,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,1,0,• Check out @Facebook's extended April Fools j...
505,505,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,2,0,• Check out @Facebook's extended April Fools j...
603,603,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,2,0,• Check out @Facebook's extended April Fools j...
701,701,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,2,0,• Check out @Facebook's extended April Fools j...
801,801,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,2,0,• Check out @Facebook's extended April Fools j...
901,901,Wed Apr 03 03:44:13 +0000 2019,minusbaby,66373,3162,2,0,• Check out @Facebook's extended April Fools j...

In [62]:
# Drop Duplicates only for matching columns omitting the index
facebook_filtered_df = fb_frame.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [65]:
# Get New Snap Shot Statistics
facebook_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,834.000000,8.340000e+02,834.000000,834.000000,834.000000
mean,416.143885,2.782046e+17,10212.504796,0.848921,373.279376
std,416.280360,4.284004e+17,62249.253036,4.799580,809.999425
min,0.000000,6.637300e+04,0.000000,0.000000,0.000000
25%,52.000000,1.470639e+08,106.250000,0.000000,2.000000
50%,240.000000,1.269394e+09,294.000000,0.000000,43.000000
75%,822.250000,7.812809e+17,1356.000000,0.000000,117.000000
max,1482.000000,1.113193e+18,548840.000000,41.000000,2755.000000

In [66]:
facebook_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
2510,43,Wed Apr 03 17:10:25 +0000 2019,IRAN FLOOD RELIEF,1113192566273531908,9,0,0,@Cristiano \n@juventusfcen \n@FCBarcelona \n@F...
1981,496,Wed Apr 03 03:48:02 +0000 2019,Ati Shong Thonger,1112576649948774400,0,0,0,@anthonydelva1 @dreeashy @facebook 28th of Mar...
87,87,Wed Apr 03 19:35:59 +0000 2019,DeAnna Hernandez,1112524336966131713,4,0,0,#cbdismything #cbdoil #cbdeanna #pure #Potent ...
34,34,Wed Apr 03 19:39:50 +0000 2019,Juliet Rose,1112033927575810049,15,0,117,RT @TheHackersNews: 😱 Over 540 Million #Facebo...
232,232,Wed Apr 03 19:39:50 +0000 2019,Juliet Rose,1112033927575810049,15,0,118,RT @TheHackersNews: 😱 Over 540 Million #Facebo...

In [67]:
# Count total out of Unique Tweets
facebook_total_tweets = len(facebook_filtered_df['Tweet Text'])
facebook_total_tweets

834

In [68]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
facebook_avg_followers_ct = facebook_filtered_df['User Follower Count'].mean()
facebook_avg_followers_ct

10212.50479616307

In [69]:
# Total Likes of all tweets
facebook_total_likes = facebook_filtered_df['Likes Counts'].sum()
#facebook_avg_likes = facebook_filtered_df['Likes Counts'].mean()
facebook_total_likes
#facebook_avg_likes

708

In [70]:
# Facebook Retweets Stats:
#facebook_sum_retweets = facebook_filtered_df['ReTweet Count'].sum()
facebook_avg_retweets = facebook_filtered_df['ReTweet Count'].mean()
#facebook_sum_retweets
facebook_avg_retweets

373.27937649880096

#### Instagram Calculations

In [72]:
path = './resources/instagram'
all_files = glob.glob(path + "/*.csv")
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
instagram_source_df = pd.concat(li, axis=0, ignore_index=True)
instagram_source_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 17:46:57 +0000 2019,matilda urrea-berm.,52971889,10,0,0,@GWR @instagram Nice do you get a plaque?
1,1,Wed Apr 03 17:46:35 +0000 2019,BAD WAI 🌎BE WATER 😉 MY FRIEND 🤟,143771117,13232,1,0,@TamaraVila83 @EstasTamara @CDRReus @CDRCatOfi...
2,2,Wed Apr 03 17:46:14 +0000 2019,Francesca,718914757,178,0,0,@instagram this new algorithm is awful and mak...
3,3,Wed Apr 03 17:46:06 +0000 2019,Silverlinings,1088936582609014784,18,0,0,@RichJC1001 @GWR @instagram She isnt trying to...
4,4,Wed Apr 03 17:46:01 +0000 2019,rosella north,1113491398819569665,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
5,5,Wed Apr 03 17:45:58 +0000 2019,🎮 Flibbley NovA 🎮,54262136,114,0,0,@TortimerTheGrey @instagram Aww so cute!!
6,6,Wed Apr 03 17:45:56 +0000 2019,jacovaggio,2522432237,378,0,0,@instagram fix your app
7,7,Wed Apr 03 17:45:53 +0000 2019,CLAPPERS,910634139753226240,39,0,0,"@instagram Hello IG, my main account (Clappers..."
8,8,Wed Apr 03 17:45:50 +0000 2019,MadLove.tv,2358484082,563,0,0,@snohaalegra @Brittanysky @TIDAL @AyishaDiaz @...
9,9,Wed Apr 03 17:45:46 +0000 2019,Uncle Moon,909132428513546241,120,0,532,RT @GWR: Congratulations to the Duke and Duche...
10,10,Wed Apr 03 17:45:43 +0000 2019,Ben Bernard,318501747,39,1,0,"Ooh! Ello Bernardians! Tony Tatting, Jr. has h..."
11,11,Wed Apr 03 17:45:21 +0000 2019,Sarah Clarke Biz 🇨🇦,810172601209393152,1475,1,0,@SMExaminer @instagram A3: offering a coupon ...
12,12,Wed Apr 03 17:44:55 +0000 2019,JGIB1978,1082928237674668034,1,0,0,@instagram please stop publishing French adds ...
13,13,Wed Apr 03 17:44:48 +0000 2019,muzukulu wa mulondo,737939101,10437,0,2,RT @JBugs10210: @SMExaminer @instagram A3 - Ti...
14,14,Wed Apr 03 17:44:44 +0000 2019,Tay Alejandro,29187560,595,0,0,@instagram @InstagramES take 9. my account has...
15,15,Wed Apr 03 17:44:39 +0000 2019,muzukulu wa mulondo,737939101,10437,0,1,RT @MLLNNLmotivator: @SMExaminer @instagram A3...
16,16,Wed Apr 03 17:44:11 +0000 2019,Sricharan Iyengar,844101113666330624,6,0,0,@nickatnyteYT @instagram @verified Finally..di...
17,17,Wed Apr 03 17:44:06 +0000 2019,Products That Count,2319351871,3496,1,0,Today's #mobile app leaders are looking to mon...
18,18,Wed Apr 03 17:44:01 +0000 2019,muzukulu wa mulondo,737939101,10437,0,2,RT @SMExaminer: Q3. What would be a unique way...
19,19,Wed Apr 03 17:43:58 +0000 2019,Milena Drs,3222374748,422,0,0,"@instagram en est à la version 87, la version..."
20,20,Wed Apr 03 17:43:56 +0000 2019,Klutch Royale,857684187620548611,174,0,0,@nickatnyteYT @instagram @verified Don’t forge...
21,21,Wed Apr 03 17:43:54 +0000 2019,ispotify,340770461,858,0,0,@keithboykin @TwitterMoments @facebook @Snapch...
22,22,Wed Apr 03 17:43:50 +0000 2019,Dough,150735505,1257,0,0,@instagram x @Twitter got me in my Feelins!! #...
23,23,Wed Apr 03 17:43:46 +0000 2019,McKenna Harris,493619182,344,0,0,@instagram. night mode. pls.
24,24,Wed Apr 03 17:43:23 +0000 2019,Dewi Eirig Jones 🏴󠁧󠁢󠁷󠁬󠁳󠁿,19086504,4229,1,0,@SMExaminer @iSocialFanz @StonehamPress @insta...
25,25,Wed Apr 03 17:43:12 +0000 2019,B&W Forever,789486893603971072,8,0,0,@realwarriale @MATUIDIBlaise @instagram @repor...
26,26,Wed Apr 03 17:43:09 +0000 2019,senaida yajima,1113489772503130112,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
27,27,Wed Apr 03 17:43:02 +0000 2019,Paolo Rotellini,457758673,168,0,0,@realwarriale @mike_fusco @MATUIDIBlaise @inst...
28,28,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
29,29,Wed Apr 03 17:43:00 +0000 2019,muzukulu wa mulondo,737939101,10437,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
...,...,...,...,...,...,...,...,...
3128,628,Wed Apr 03 22:20:40 +0000 2019,gabrielleleigha on Patreon,952863887283687425,1158,1,0,@instagram it would be helpful if someone coul...
3129,629,Wed Apr 03 22:20:38 +0000 2019,Pierpaolo Cavaliero,134789725,395,0,0,#instagram #ricordi https://t.co/cHUsROBxKA
3130,630,Wed Apr 03 22:20:27 +0000 2019,Lucy,232245965,2848,1,0,😂✌🏼\n•\n•\n#goodnight #night #bedtime #bed #fu...
3131,631,Wed Apr 03 22:20:15 +0000 2019,The Tell-Tale Heart Short Film,1078106544737157120,459,0,0,So @shudder just liked one of our photos!!! @t...
3132,632,Wed Apr 03 22:19:45 +0000 2019,Joseph (JehDee) Disopa,1034326033984446464,301,0,1,700 days and I’m still stuck on you. @miriansm...
3133,633,Wed Apr 03 22:19:34 +0000 2019,K2gr,1091452962818457600,7,1,0,#pizza #gr #mi #puremi #puremichigan #love #va...
3134,634,Wed Apr 03 22:19:27 +0000 2019,しょうちゃん,145471090,122,0,16,RT @ayano_DM: ポチャッコのカレー🍛\n可愛すぎるっっ🤦‍♀️💘💘\n・\n♡\...
3135,635,Wed Apr 03 22:19:27 +0000 2019,#Sheffieldissuper,864982249,32223,0,2,RT @mickybricky1: Remaining #brickwork complet...
3136,636,Wed Apr 03 22:19:12 +0000 2019,Vanessa Etim,985614510034694144,583,0,1,RT @Marco_Freitas96: There are no limits to wh...
3137,637,Wed Apr 03 22:19:09 +0000 2019,Tweetering,387002668,9013,0,1,#instagood #instagram #travel #traveling #explore
3138,638,Wed Apr 03 22:18:48 +0000 2019,Allstar Listings,87878790,514,0,0,#InStock shop and search Alexis\n\nhttps://t.c...
3139,639,Wed Apr 03 22:18:39 +0000 2019,Maria Moreira,912339715197718528,652,0,2,RT @ByJeyBar: #3Abr 💻 ¿Tienes tiempo de maneja...
3140,640,Wed Apr 03 22:18:35 +0000 2019,💫g̸͟͞u̸͟͞a̸͟͞d̸͟͞a̸͟͞ 💫,953203189519736833,124,0,6,RT @OrianaNicole_SB: Abro hilo de #INSTAGRAM a...
3141,641,Wed Apr 03 22:17:53 +0000 2019,Erick Jenkins,741662810464227328,112,0,0,Is it appropriate for someone to comment on th...
3142,642,Wed Apr 03 22:17:24 +0000 2019,ArtsForAllCork,1095344515425038342,151,0,1,"RT @Good_DayNews: Spreading #positivevibes of,..."
3143,643,Wed Apr 03 22:17:21 +0000 2019,Truth Sleuth 🕵🏼‍♀️,897246886058446848,75,0,309,RT @MinaANDMaya: #Instagram model #Keevonna C’...
3144,644,Wed Apr 03 22:17:20 +0000 2019,Live Love Kfardebian,900240846922158080,28,0,0,@tarekfeghali 📷 ✌ ❤❤❤❤❤❤\n#beautiful #white #l...
3145,645,Wed Apr 03 22:17:16 +0000 2019,chiBihige【granire】,2855156724,92,1,0,^\n^\n28-75 F/2.8(A036)-α7ⅱ\n＊\n＊\n#camera #so...
3146,646,Wed Apr 03 22:17:07 +0000 2019,Jule Gölsdorf,1879656542,658,0,0,Wenn mir noch ein Mensch bei #Instagram #Tee v...
3147,647,Wed Apr 03 22:17:00 +0000 2019,♥ Suzie ♥,16630502,12771,0,0,"The Best Time to Post on #Instagram, #Facebook..."
3148,648,Wed Apr 03 22:17:00 +0000 2019,Gigalvivelaliberté,909735373294759936,65,0,1,RT @TransfoNum89: Si vous vous demandez commen...
3149,649,Wed Apr 03 22:16:53 +0000 2019,"Eastjavasurfcamp,Art&Culture",1113469862158905344,0,0,0,Contact number :\nWhastaap : +6281236192026\nE...
3150,650,Wed Apr 03 22:16:11 +0000 2019,Land Over Landings,267855923,1157,0,1,RT @CityofPickering: Calling all #photographer...
3151,651,Wed Apr 03 22:16:04 +0000 2019,Jimena Moran,903280164725030920,2236,0,2,RT @ByJeyBar: #3Abr 💻 ¿Tienes tiempo de maneja...
3152,652,Wed Apr 03 22:15:49 +0000 2019,⋆✰Ɗℯℯנαყ Ŧa̶๖ɣ✰,887933150,4205,1,0,N-am nevoie #OfficialVideo\n#OfficialVideo #Ye...
3153,653,Wed Apr 03 22:15:00 +0000 2019,Por J. Barrios,331802880,1256,0,2,#3Abr 💻 ¿Tienes tiempo de manejar las Redes So...
3154,654,Wed Apr 03 22:14:50 +0000 2019,Claudia Q A,244254671,201,0,309,RT @MinaANDMaya: #Instagram model #Keevonna C’...
3155,655,Wed Apr 03 22:14:41 +0000 2019,AnnMarie Byrnes,38905431,807,0,8,"RT @phillyzoo: Good morning, Philly! ☀️ We can..."
3156,656,Wed Apr 03 22:14:13 +0000 2019,graffiti_bot,920107419266699264,791,0,1,RT @BetancourtJonah: Que valga la pena!! 🥁 #gr...
3157,657,Wed Apr 03 22:14:10 +0000 2019,Official_MarcoDeFreitas,821749854770724864,141,0,1,There are no limits to what you can accomplish...

In [73]:
# Snapshot Statistics
instagram_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,3158.000000,3.158000e+03,3158.000000,3158.000000,3158.000000
mean,1057.600697,2.973860e+17,24434.236225,0.806840,37.960101
std,748.279004,4.401682e+17,101565.229508,1.549334,132.480916
min,0.000000,1.490329e+07,0.000000,0.000000,0.000000
25%,394.250000,1.286329e+08,89.000000,0.000000,0.000000
50%,920.500000,9.442872e+08,432.000000,0.000000,0.000000
75%,1709.750000,8.124180e+17,4045.000000,1.000000,1.000000
max,2499.000000,1.113492e+18,521137.000000,6.000000,549.000000

In [20]:
instagram_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 17:46:57 +0000 2019,matilda urrea-berm.,52971889,10,0,0,@GWR @instagram Nice do you get a plaque?
1,1,Wed Apr 03 17:46:35 +0000 2019,BAD WAI 🌎BE WATER 😉 MY FRIEND 🤟,143771117,13232,1,0,@TamaraVila83 @EstasTamara @CDRReus @CDRCatOfi...
2,2,Wed Apr 03 17:46:14 +0000 2019,Francesca,718914757,178,0,0,@instagram this new algorithm is awful and mak...
3,3,Wed Apr 03 17:46:06 +0000 2019,Silverlinings,1088936582609014784,18,0,0,@RichJC1001 @GWR @instagram She isnt trying to...
4,4,Wed Apr 03 17:46:01 +0000 2019,rosella north,1113491398819569665,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...

In [21]:
# Sort to set up removal of duplicates
instagram_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
34,34,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
134,134,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
234,234,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
334,334,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
435,435,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
536,536,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
636,636,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
736,736,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
836,836,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
936,936,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1036,1036,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1136,1136,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1236,1236,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1336,1336,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1437,1437,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1537,1537,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1638,1638,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1739,1739,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
1839,1839,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
1941,1941,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
2041,2041,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
2142,2142,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
2242,2242,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
2342,2342,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
2443,2443,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
50,50,Wed Apr 03 17:37:58 +0000 2019,ricarda pease,1113492397659267072,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
150,150,Wed Apr 03 17:37:58 +0000 2019,ricarda pease,1113492397659267072,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
250,250,Wed Apr 03 17:37:58 +0000 2019,ricarda pease,1113492397659267072,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
350,350,Wed Apr 03 17:37:58 +0000 2019,ricarda pease,1113492397659267072,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
451,451,Wed Apr 03 17:37:58 +0000 2019,ricarda pease,1113492397659267072,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
...,...,...,...,...,...,...,...,...
930,930,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1030,1030,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1130,1130,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1230,1230,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1330,1330,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1431,1431,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1531,1531,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1632,1632,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1733,1733,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1833,1833,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
1935,1935,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
2035,2035,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
2136,2136,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
2236,2236,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
2336,2336,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
2437,2437,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
97,97,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
197,197,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
297,297,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
397,397,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
498,498,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
599,599,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
699,699,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
799,799,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
899,899,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
999,999,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
1099,1099,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
1199,1199,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
1299,1299,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...
1399,1399,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...

In [22]:
# Drop Duplicates only for matching columns omitting the index
instagram_filtered_df = instagram_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [23]:
instagram_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
34,34,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1739,1739,Wed Apr 03 17:41:38 +0000 2019,tamica demartino,1113492484968075265,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
50,50,Wed Apr 03 17:37:58 +0000 2019,ricarda pease,1113492397659267072,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
4,4,Wed Apr 03 17:46:01 +0000 2019,rosella north,1113491398819569665,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1709,1709,Wed Apr 03 17:46:01 +0000 2019,rosella north,1113491398819569665,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
26,26,Wed Apr 03 17:43:09 +0000 2019,senaida yajima,1113489772503130112,0,0,549,RT @marcuslemonis: Join me on @instagram @marc...
1731,1731,Wed Apr 03 17:43:09 +0000 2019,senaida yajima,1113489772503130112,0,0,548,RT @marcuslemonis: Join me on @instagram @marc...
51,51,Wed Apr 03 22:16:53 +0000 2019,"Eastjavasurfcamp,Art&Culture",1113469862158905344,0,0,0,Contact number :\r\nWhastaap : +6281236192026\...
2100,2100,Wed Apr 03 17:48:40 +0000 2019,Iomlan Sunnd Therapies,1111590595288539136,18,0,0,"Iomlan Sunnd Therapies, now on @Twitter, @face..."
17,17,Wed Apr 03 22:23:21 +0000 2019,Christina D 👨‍👩‍👧🌻🐶,1100197005966655489,2802,0,17,RT @BriannaHigdon: Instagram follow train😍\r\n...
44,44,Wed Apr 03 22:17:24 +0000 2019,ArtsForAllCork,1095344515425038342,151,0,1,"RT @Good_DayNews: Spreading #positivevibes of,..."
78,78,Wed Apr 03 17:33:30 +0000 2019,caribbeanvibe,1094772717549744130,9,0,0,@theroyaleditor @5_News @instagram @samburgess...
46,46,Wed Apr 03 17:39:05 +0000 2019,Pdizzleclips,1094491255751561216,16,1,0,Tschüss @instagram bis in ein paar Wochen. @Pa...
35,35,Wed Apr 03 22:19:34 +0000 2019,K2gr,1091452962818457600,7,1,0,#pizza #gr #mi #puremi #puremichigan #love #va...
1400,1400,Wed Apr 03 17:48:02 +0000 2019,bossome,1091434056313655296,10,0,0,@instagram i posted a picture of my food now l...
3,3,Wed Apr 03 17:46:06 +0000 2019,Silverlinings,1088936582609014784,18,0,0,@RichJC1001 @GWR @instagram She isnt trying to...
12,12,Wed Apr 03 17:44:55 +0000 2019,JGIB1978,1082928237674668034,1,0,0,@instagram please stop publishing French adds ...
54,54,Wed Apr 03 17:37:13 +0000 2019,Lele,1078380026519871489,89,0,0,@realwarriale @MATUIDIBlaise @instagram @repor...
33,33,Wed Apr 03 22:20:15 +0000 2019,The Tell-Tale Heart Short Film,1078106544737157120,459,0,0,So @shudder just liked one of our photos!!! @t...
26,26,Wed Apr 03 22:21:05 +0000 2019,skyler.global,1066610298742657024,24,0,1,Daily Quotes .\r\n.\r\n.\r\n#business #entrepr...
0,0,Wed Apr 03 22:27:09 +0000 2019,Karee❤,1039543098991407105,79,0,12,RT @randygonzalez81: #3deAbril Ya Sigues A Mho...
34,34,Wed Apr 03 22:19:45 +0000 2019,Joseph (JehDee) Disopa,1034326033984446464,301,0,1,700 days and I’m still stuck on you. @miriansm...
61,61,Wed Apr 03 22:13:54 +0000 2019,ぷま,986468550662504448,84,0,7,RT @ramu_naruse: 🔇🔇🔇🔇🔇🔇🔇\r\n\r\nオイラのいんちゅた⸜( ॑...
38,38,Wed Apr 03 22:19:12 +0000 2019,Vanessa Etim,985614510034694144,583,0,1,RT @Marco_Freitas96: There are no limits to wh...
88,88,Wed Apr 03 17:32:07 +0000 2019,tsc: USA,981926002979942403,365,3,0,@SMExaminer @instagram a3: like @JBugs10210 me...
24,24,Wed Apr 03 22:21:53 +0000 2019,Sara Rue Updates,980531461139910657,153,0,1,#instagram || 📸: via sararue || 💬: « 💕 Catch m...
464,464,Wed Apr 03 22:28:36 +0000 2019,☆🎹 A$TRX THA PRODUCER 🎹☆,978504986371022848,244,0,1,RT @RellGodly_: #Instagram RellGodly 🔆 Yktv ‼️...
82,82,Wed Apr 03 17:32:39 +0000 2019,Gentle Reader,958406166861754370,14,0,532,RT @GWR: Congratulations to the Duke and Duche...
42,42,Wed Apr 03 22:18:35 +0000 2019,💫g̸͟͞u̸͟͞a̸͟͞d̸͟͞a̸͟͞ 💫,953203189519736833,124,0,6,RT @OrianaNicole_SB: Abro hilo de #INSTAGRAM a...
30,30,Wed Apr 03 22:20:40 +0000 2019,gabrielleleigha on Patreon,952863887283687425,1158,1,0,@instagram it would be helpful if someone coul...
...,...,...,...,...,...,...,...,...
1745,1745,Wed Apr 03 17:40:45 +0000 2019,Social Media Examiner,53925101,521137,6,1,THIS RIGHT HERE! Polls in @Instagram Stories c...
47,47,Wed Apr 03 17:38:39 +0000 2019,Social Media Examiner,53925101,521136,5,0,@KevinDArguello @instagram Love it! We can lea...
1349,1349,Wed Apr 03 17:38:39 +0000 2019,Social Media Examiner,53925101,521137,5,0,@KevinDArguello @instagram Love it! We can lea...
51,51,Wed Apr 03 17:37:50 +0000 2019,Social Media Examiner,53925101,521136,5,0,@iSocialFanz @StonehamPress @DewiEirig @instag...
1353,1353,Wed Apr 03 17:37:50 +0000 2019,Social Media Examiner,53925101,521137,5,0,@iSocialFanz @StonehamPress @DewiEirig @instag...
68,68,Wed Apr 03 17:35:03 +0000 2019,Social Media Examiner,53925101,521136,3,0,@DewiEirig @instagram Oh yes!! (love this GIF ...
1370,1370,Wed Apr 03 17:35:03 +0000 2019,Social Media Examiner,53925101,521137,3,0,@DewiEirig @instagram Oh yes!! (love this GIF ...
89,89,Wed Apr 03 17:32:04 +0000 2019,Social Media Examiner,53925101,521136,4,0,"@JBugs10210 @instagram That's a great idea, Jo..."
1391,1391,Wed Apr 03 17:32:04 +0000 2019,Social Media Examiner,53925101,521137,4,0,"@JBugs10210 @instagram That's a great idea, Jo..."
0,0,Wed Apr 03 17:46:57 +0000 2019,matilda urrea-berm.,52971889,10,0,0,@GWR @instagram Nice do you get a plaque?
93,93,Wed Apr 03 17:31:01 +0000 2019,Devon,46407684,84,0,0,@instagram can you help with a hacked account!?!
57,57,Wed Apr 03 22:14:41 +0000 2019,AnnMarie Byrnes,38905431,807,0,8,"RT @phillyzoo: Good morning, Philly! ☀️ We can..."
33,33,Wed Apr 03 17:41:48 +0000 2019,Claudia,33437279,4958,0,0,@NickeeGee21 @JessBWT @instagram @mosseri @Cox...
43,43,Wed Apr 03 17:39:36 +0000 2019,Melinda,33426753,34,0,0,@ThatDude_Jayy @instagram Ugh me neither! Or w...
444,444,Wed Apr 03 17:39:36 +0000 2019,Melinda,33426753,35,0,0,@ThatDude_Jayy @instagram Ugh me neither! Or w...
14,14,Wed Apr 03 17:44:44 +0000 2019,Tay Alejandro,29187560,595,0,0,@instagram @InstagramES take 9. my account has...
60,60,Wed Apr 03 17:35:55 +0000 2019,Bentley University,23678902,18158,2,0,@photosbycaro @SMExaminer @instagram Exactly! ...
70,70,Wed Apr 03 17:34:40 +0000 2019,Bentley University,23678902,18158,5,0,@B2the7 @SMExaminer @instagram Yes!\r\nThose a...
75,75,Wed Apr 03 17:34:06 +0000 2019,Bentley University,23678902,18158,2,0,@pritchett_dan @SMExaminer @instagram Indeed! ...
76,76,Wed Apr 03 17:33:49 +0000 2019,Bentley University,23678902,18158,2,0,@JBugs10210 @SMExaminer @instagram That's a gr...
39,39,Wed Apr 03 17:41:02 +0000 2019,Evaldas,19443302,258,0,1,RT @AbsoluteDMedia: News: You no longer have t...
24,24,Wed Apr 03 17:43:23 +0000 2019,Dewi Eirig Jones 🏴󠁧󠁢󠁷󠁬󠁳󠁿,19086504,4229,1,0,@SMExaminer @iSocialFanz @StonehamPress @insta...
59,59,Wed Apr 03 17:36:09 +0000 2019,Dewi Eirig Jones 🏴󠁧󠁢󠁷󠁬󠁳󠁿,19086504,4229,2,0,@StonehamPress @SMExaminer @instagram #smechat...
81,81,Wed Apr 03 17:32:53 +0000 2019,Dewi Eirig Jones 🏴󠁧󠁢󠁷󠁬󠁳󠁿,19086504,4229,6,0,@SMExaminer @instagram A3 I would create visua...
96,96,Wed Apr 03 17:30:22 +0000 2019,ScanMyPhotos 💖📸🎞to📀,18909605,11536,0,0,🚨🚨🚨🚨How to get your shoeboxes of pre-digital s...
86,86,Wed Apr 03 17:32:29 +0000 2019,Church Hill Classics,18220259,2242,0,0,So excited that @KylieJenner featured our cust...
49,49,Wed Apr 03 22:17:00 +0000 2019,♥ Suzie ♥,16630502,12771,0,0,"The Best Time to Post on #Instagram, #Facebook..."
23,23,Wed Apr 03 22:21:59 +0000 2019,Endless Events,16425942,26105,0,0,Follow us on #Instagram at https://t.co/yIM22O...
28,28,Wed Apr 03 17:43:00 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,2,RT @MLLNNLmotivator: @SMExaminer A2 This is a ...
97,97,Wed Apr 03 17:30:10 +0000 2019,Stephanie Liu #MDMC19,14903290,18115,0,3,RT @MLLNNLmotivator: @SMExaminer A1 Creating a...

In [24]:
# Get New Snap Shot Statistics
instagram_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,195.000000,1.950000e+02,195.000000,195.000000,195.000000
mean,198.220513,3.298307e+17,32555.861538,0.728205,38.148718
std,459.693912,4.576026e+17,120194.595519,1.496723,131.269077
min,0.000000,1.490329e+07,0.000000,0.000000,0.000000
25%,24.000000,1.317113e+08,107.000000,0.000000,0.000000
50%,48.000000,1.421939e+09,484.000000,0.000000,0.000000
75%,79.500000,8.768142e+17,3195.000000,1.000000,1.000000
max,2400.000000,1.113492e+18,521137.000000,6.000000,549.000000

In [25]:
# Count total out of Unique Tweets
instagram_total_tweets = len(instagram_filtered_df['Tweet Text'])
instagram_total_tweets

195

In [26]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
instagram_avg_followers_ct = instagram_filtered_df['User Follower Count'].mean()
instagram_avg_followers_ct

32555.861538461537

In [27]:
# Total Likes of all tweets
instagram_total_likes = instagram_filtered_df['Likes Counts'].sum()
#instagram_avg_likes = instagram_filtered_df['Likes Counts'].mean()
instagram_total_likes
#instagram_avg_likes

142

In [28]:
# Retweets Stats:
#instagram_sum_retweets = instagram_filtered_df['ReTweet Count'].sum()
instagram_avg_retweets = instagram_filtered_df['ReTweet Count'].mean()
#instagram_sum_retweets
instagram_avg_retweets

38.14871794871795

### Clash of Clans Calculations

In [74]:
plug = 'clashofclans'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
coc_source_df = pd.concat(li, axis=0, ignore_index=True)
coc_source_df

# Snapshot Statistics
coc_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,8400.000000,8.400000e+03,8400.000000,8400.000000,8400.000000
mean,468.547619,6.174391e+17,1171.265119,0.532857,5.140357
std,448.828253,4.756433e+17,4200.926735,3.102429,20.483632
min,0.000000,2.006770e+07,0.000000,0.000000,0.000000
25%,161.000000,2.896023e+09,5.000000,0.000000,0.000000
50%,336.000000,8.235135e+17,62.000000,0.000000,0.000000
75%,571.000000,1.049737e+18,474.000000,0.000000,3.000000
max,1999.000000,1.113542e+18,38102.000000,50.000000,185.000000

In [31]:
coc_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 17:29:23 +0000 2019,ManHell,1443020461,18,0,0,@ClashofClans You should put the Gold Pass to ...
1,1,Wed Apr 03 17:18:24 +0000 2019,Blah Blah,829471565284835329,2,0,0,@ClashofClans Make it available to purchase wi...
2,2,Wed Apr 03 17:12:31 +0000 2019,jessejames,4834465252,24,0,0,@ClashofClans Does anyone have this happen. Su...
3,3,Wed Apr 03 17:09:07 +0000 2019,Rajan Kumar,947721110656659456,31,1,0,@ClashofClans archer queen is moaning... who h...
4,4,Wed Apr 03 17:05:36 +0000 2019,Beansbrigade,967798781315076098,580,0,27,RT @ClashofClans: We're reverting the Archer Q...

In [32]:
# Sort to set up removal of duplicates
coc_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
12,12,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
112,112,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
212,212,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
312,312,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
412,412,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
512,512,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
612,612,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
712,712,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
812,812,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
912,912,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
1012,1012,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
1112,1112,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
1212,1212,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
1312,1312,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
1412,1412,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
1512,1512,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
1612,1612,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
1712,1712,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
1812,1812,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
1912,1912,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
67,67,Wed Apr 03 14:03:12 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@ClashofClans Hey supercell my game is not wor...
167,167,Wed Apr 03 14:03:12 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@ClashofClans Hey supercell my game is not wor...
267,267,Wed Apr 03 14:03:12 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@ClashofClans Hey supercell my game is not wor...
367,367,Wed Apr 03 14:03:12 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@ClashofClans Hey supercell my game is not wor...
467,467,Wed Apr 03 14:03:12 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@ClashofClans Hey supercell my game is not wor...
567,567,Wed Apr 03 14:03:12 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@ClashofClans Hey supercell my game is not wor...
667,667,Wed Apr 03 14:03:12 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@ClashofClans Hey supercell my game is not wor...
767,767,Wed Apr 03 14:03:12 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@ClashofClans Hey supercell my game is not wor...
867,867,Wed Apr 03 14:03:12 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@ClashofClans Hey supercell my game is not wor...
967,967,Wed Apr 03 14:03:12 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@ClashofClans Hey supercell my game is not wor...
...,...,...,...,...,...,...,...,...
1088,1088,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don’t mind the $5 but make it ...
1188,1188,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don’t mind the $5 but make it ...
1288,1288,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don’t mind the $5 but make it ...
1388,1388,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don’t mind the $5 but make it ...
1488,1488,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don’t mind the $5 but make it ...
1588,1588,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don’t mind the $5 but make it ...
1688,1688,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don’t mind the $5 but make it ...
1788,1788,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don’t mind the $5 but make it ...
1888,1888,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don’t mind the $5 but make it ...
1988,1988,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don’t mind the $5 but make it ...
40,40,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
140,140,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
240,240,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
340,340,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
440,440,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
540,540,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
640,640,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
740,740,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
840,840,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
940,940,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
1040,1040,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
1140,1140,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
1240,1240,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
1340,1340,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
1440,1440,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
1540,1540,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
1640,1640,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
1740,1740,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
1840,1840,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...
1940,1940,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...

In [33]:
# Drop Duplicates only for matching columns omitting the index
coc_filtered_df = coc_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [34]:
coc_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
12,12,Wed Apr 03 16:52:08 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@SumitmMallabade @Swapnil3005 @FighterPune @Cl...
67,67,Wed Apr 03 14:03:12 +0000 2019,BalveerSingh,1113440785465270274,0,0,0,@ClashofClans Hey supercell my game is not wor...
62,62,Wed Apr 03 14:13:31 +0000 2019,Md alom hossain,1113090731407663104,0,0,0,@ClashofClans
85,85,Wed Apr 03 14:39:07 +0000 2019,Masterchief1425,1113049117058613248,20,0,1,RT @GaintrainE: MINERS MUNCH! Not the best pla...
11,11,Wed Apr 03 22:43:40 +0000 2019,Juan Carlos,1112997949334851584,5,0,1,RT @JuanCar50259285: #ClashOfClans ☠️ https://...
12,12,Wed Apr 03 22:43:18 +0000 2019,Juan Carlos,1112997949334851584,5,0,1,RT @JuanCar50259285: #ClashOfClans😁 https://t....
13,13,Wed Apr 03 22:41:04 +0000 2019,Juan Carlos,1112997949334851584,5,0,1,#ClashOfClans😁 https://t.co/9Tt7iPzRuA
76,76,Wed Apr 03 15:12:49 +0000 2019,Juan Carlos,1112997949334851584,5,0,1,#ClashOfClans ☠️ https://t.co/DVLdJNUhGf
19,19,Wed Apr 03 21:32:15 +0000 2019,Juan Carlos,1112907074617401344,0,0,5,RT @EstrategiasCoC: 🎥Rumores Aclarados: Tendre...
9,9,Wed Apr 03 16:58:07 +0000 2019,NAGATO CoC,1112873151803936769,1,0,0,@shioNwu @ESL @ClashofClans @ClashofClansESC @...
61,61,Wed Apr 03 16:57:41 +0000 2019,NAGATO CoC,1112873151803936769,1,0,9,RT @shioNwu: ⚡️Hoy 7pm México⚡️\r\nQuieres ver...
24,24,Wed Apr 03 20:58:25 +0000 2019,Manuel Marín,1112791444375339008,2,0,5,RT @shioNwu: 📢Facebook Live📢\r\nDescargando la...
25,25,Wed Apr 03 20:56:07 +0000 2019,Manuel Marín,1112791444375339008,2,0,4,"RT @ByNeKo_: Disculpad mi inactividad,pero los..."
30,30,Wed Apr 03 20:20:30 +0000 2019,Manuel Marín,1112791444375339008,2,0,21,RT @GaladonGaming: FIRSTIES! @ClashofClans #Cl...
31,31,Wed Apr 03 15:46:42 +0000 2019,AB17,1112783093469868032,0,0,0,@ClashofClans I found a bug. When you visit an...
24,24,Wed Apr 03 16:09:44 +0000 2019,Jean,1111882330136825857,1,0,1,RT @minigameees: @ClashofClans pelo amor de De...
14,14,Wed Apr 03 16:51:32 +0000 2019,WarriorX,1111495354447482880,1,0,0,@ClashofClans New update will make the game mo...
82,82,Wed Apr 03 13:17:18 +0000 2019,Rony Muhammad,1111404071246655489,1,0,0,@ClashofClans #WEWANTBANGLADESHFLAG@clashofcla...
83,83,Wed Apr 03 13:14:31 +0000 2019,Rony Muhammad,1111404071246655489,1,0,0,@ClashofClans #WEWANTBANGLADESHFLAG@clashofcla...
84,84,Wed Apr 03 13:13:39 +0000 2019,Rony Muhammad,1111404071246655489,1,0,185,RT @ClashofClans: Get ready for the SEASON CHA...
90,90,Wed Apr 03 13:05:42 +0000 2019,Rony Muhammad,1111404071246655489,1,0,3,RT @009Yashu: #wewantbangladeshflag\r\n@Clasho...
91,91,Wed Apr 03 13:05:36 +0000 2019,Rony Muhammad,1111404071246655489,1,0,1,RT @Prathamraut7: @SumitmMallabade @ClashofCla...
92,92,Wed Apr 03 13:05:33 +0000 2019,Rony Muhammad,1111404071246655489,1,0,1,RT @SumonMa15993332: @ClashofClans #WEWANTBANG...
93,93,Wed Apr 03 13:04:21 +0000 2019,Rony Muhammad,1111404071246655489,1,0,1,RT @MdBiplobHosenB1: @ClashofClans #wewantbang...
94,94,Wed Apr 03 13:04:11 +0000 2019,Rony Muhammad,1111404071246655489,1,0,1,RT @yourAlZihad: #wewantbangladeshflag\r\n@Cla...
95,95,Wed Apr 03 13:04:08 +0000 2019,Rony Muhammad,1111404071246655489,1,0,0,RT @RatanHossain18: #wewantbangladeshflag @Cla...
96,96,Wed Apr 03 13:03:58 +0000 2019,Rony Muhammad,1111404071246655489,1,0,1,RT @OCSGaming1: #wewantbangladeshflag On @Cla...
97,97,Wed Apr 03 13:03:45 +0000 2019,Rony Muhammad,1111404071246655489,1,0,1,RT @stk_shakil: @ClashofClans #wewantBanglades...
98,98,Wed Apr 03 13:02:04 +0000 2019,Rony Muhammad,1111404071246655489,1,0,1,RT @RonyMuhammad16: @SumitmMallabade @ClashofC...
99,99,Wed Apr 03 13:01:49 +0000 2019,Rony Muhammad,1111404071246655489,1,0,1,RT @omarFar09017556: #Wewantbangladeshflag\r\n...
...,...,...,...,...,...,...,...,...
23,23,Wed Apr 03 16:14:34 +0000 2019,Mitrajeet Singh,1562588784,45,0,0,@ClashofClans just bought the April gold pass ...
87,87,Wed Apr 03 13:08:03 +0000 2019,TheHumbleFellow,1531373149,14,0,0,@ClashofClans My game won't even load. It jus...
35,35,Wed Apr 03 15:31:00 +0000 2019,Will Brown,1467278119,387,0,0,@ClashofClans my battle machine keeps freezing...
0,0,Wed Apr 03 17:29:23 +0000 2019,ManHell,1443020461,18,0,0,@ClashofClans You should put the Gold Pass to ...
29,29,Wed Apr 03 16:02:03 +0000 2019,Marco Arroyo,1366090788,73,0,0,@shioNwu @ESL @ClashofClans @ClashofClansESC @...
93,93,Wed Apr 03 13:32:58 +0000 2019,StarsCocRoyale,1164269324,33706,0,5,RT @shioNwu: 📢Facebook Live📢\r\nDescargando la...
78,78,Wed Apr 03 13:23:25 +0000 2019,Lauris,1010855269,8,0,0,@Capinkill47 @ClashofClans How is it exactly f...
79,79,Wed Apr 03 13:20:00 +0000 2019,Greg®️,552108598,102,0,0,@ClashofClans So much for doing it before the ...
17,17,Wed Apr 03 21:59:12 +0000 2019,Temas,533005682,1989,0,0,LeagueOfLegendsLatinoEspañol #ClashofClans htt...
56,56,Wed Apr 03 14:36:18 +0000 2019,Michael,516099800,1218,1,0,@HammyG_15 @ClashofClans @supercell @jnthnbrya...
34,34,Wed Apr 03 15:31:32 +0000 2019,Nikhil Kumar,494783340,77,0,0,@ClashofClans I don't like a lefty Barbarian K...
47,47,Wed Apr 03 14:50:06 +0000 2019,George Gamez,390580138,56,0,0,@ClashofClans Blah blah blah people is always ...
94,94,Wed Apr 03 13:31:39 +0000 2019,"Adrian ""NARUTOMEX""✊🏻",356334389,5900,0,8,RT @SaanQueen: 💀Pro Esports Club: Family Cream...
394,394,Wed Apr 03 13:31:39 +0000 2019,"Adrian ""NARUTOMEX""✊🏻",356334389,5901,0,8,RT @SaanQueen: 💀Pro Esports Club: Family Cream...
7,7,Wed Apr 03 16:58:41 +0000 2019,Forrest Dover,291449277,553,2,0,@HammyG_15 @supercell @ClashofClans @jnthnbrya...
18,18,Wed Apr 03 16:42:49 +0000 2019,HeyJoe!,273574544,240,0,0,@shioNwu @ESL @ClashofClans @ClashofClansESC @...
81,81,Wed Apr 03 13:18:03 +0000 2019,Stefan,264481440,10,0,0,@ClashofClans This is not good it says it's fu...
6,6,Wed Apr 03 23:17:53 +0000 2019,Josh Fullilove,252865155,1112,0,2,RT @clanyikes: So thiccc @Joshfullilove #Clash...
28,28,Wed Apr 03 20:29:15 +0000 2019,Kαяαмelito💀🇲🇽⚜️⚡️,246892574,1049,0,9,RT @shioNwu: ⚡️Hoy 7pm México⚡️\r\nQuieres ver...
48,48,Wed Apr 03 17:38:04 +0000 2019,Snitch Snatcher,215902536,125,0,0,.@ClashofClans — how do I tell if my builders ...
21,21,Wed Apr 03 16:35:14 +0000 2019,Donnettweets.™®,200734329,19860,0,0,Cambien esto @ClashofClansESC no puedo hacer ...
64,64,Wed Apr 03 16:35:14 +0000 2019,Donnettweets.™®,200734329,19859,0,0,Cambien esto @ClashofClansESC no puedo hacer ...
32,32,Wed Apr 03 15:44:54 +0000 2019,Aatif,174330911,77,0,0,@amitbhagat94 @ClashofClans Ask modiji😂
33,33,Wed Apr 03 15:43:49 +0000 2019,Aatif,174330911,77,0,0,@ClashofClans 3 hours passed 30 vs 30 crystal ...
27,27,Wed Apr 03 16:04:30 +0000 2019,Sumeet Mohapatra,140477661,17,0,0,@ClashofClans \r\nJust for information game is...
28,28,Wed Apr 03 16:02:41 +0000 2019,Motley,108363022,58,1,0,@Iaser718 @ClashofClans It's probably not very...
60,60,Wed Apr 03 14:22:13 +0000 2019,Motley,108363022,58,1,0,@ClashofClans Everyone.... This is a style par...
20,20,Wed Apr 03 21:28:16 +0000 2019,Nacnud,24385607,92,0,0,#coc #clashofclans #fuckedup goodbye
88,88,Wed Apr 03 13:06:50 +0000 2019,Jennifer Jones,23486408,245,0,0,@ClashofClans I don’t mind the $5 but make it ...
40,40,Wed Apr 03 15:09:23 +0000 2019,Casey Goode,20067696,1,0,0,@ClashofClans It wasn't mentioned in the updat...

In [35]:
# Get New Snap Shot Statistics
coc_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,204.000000,2.040000e+02,204.000000,204.000000,204.000000
mean,62.892157,6.326896e+17,1283.328431,0.421569,7.490196
std,92.554966,4.804436e+17,4370.340434,1.766889,27.975973
min,0.000000,2.006770e+07,0.000000,0.000000,0.000000
25%,25.000000,2.901916e+09,5.000000,0.000000,0.000000
50%,50.500000,8.530501e+17,64.500000,0.000000,0.000000
75%,76.000000,1.063418e+18,523.750000,0.000000,4.000000
max,800.000000,1.113441e+18,38102.000000,20.000000,185.000000

In [36]:
# Count total out of Unique Tweets
coc_total_tweets = len(coc_filtered_df['Tweet Text'])
coc_total_tweets

204

In [37]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
coc_avg_followers_ct = coc_filtered_df['User Follower Count'].mean()
coc_avg_followers_ct

1283.328431372549

In [38]:
# Total Likes of all tweets
coc_total_likes = coc_filtered_df['Likes Counts'].sum()
#coc_avg_likes = coc_filtered_df['Likes Counts'].mean()
coc_total_likes
#coc_avg_likes

86

In [39]:
# Retweets Stats:
#coc_sum_retweets = coc_filtered_df['ReTweet Count'].sum()
coc_avg_retweets = coc_filtered_df['ReTweet Count'].mean()
#coc_sum_retweets
coc_avg_retweets

7.490196078431373

### Temple Run Calculations

In [75]:
plug = 'templerun'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
templerun_source_df = pd.concat(li, axis=0, ignore_index=True)
templerun_source_df

# Snapshot Statistics
templerun_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,2010.000000,2.010000e+03,2010.000000,2010.000000,2010.000000
mean,623.902985,2.022660e+17,809.317910,1.208955,0.417910
std,438.082537,3.908188e+17,2146.415619,1.724164,1.085897
min,0.000000,1.533084e+07,1.000000,0.000000,0.000000
25%,251.000000,2.473068e+08,33.000000,0.000000,0.000000
50%,502.000000,1.735789e+09,120.000000,1.000000,0.000000
75%,996.750000,3.070339e+09,389.000000,2.000000,0.000000
max,1499.000000,1.110605e+18,13380.000000,9.000000,9.000000

In [42]:
templerun_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Tue Apr 02 21:12:09 +0000 2019,Armor Spongus,2949552951,57,0,0,@TempleRun Your welcome
1,1,Tue Apr 02 17:35:48 +0000 2019,احمق۔۔۔,1017863002937282560,42,3,1,@TheKnightComet @UrslanH @TempleRun How Cool i...
2,2,Tue Apr 02 15:17:39 +0000 2019,Gabbar Khan,1072177567099170819,169,4,1,One can't imagine any other place of worship t...
3,3,Tue Apr 02 09:57:02 +0000 2019,Chrystelle,1731872695,76,0,0,"So last night I downloaded @templerun ,the add..."
4,4,Tue Apr 02 03:59:41 +0000 2019,Vijesh Kumar Singh,2362701498,195,0,0,"@TempleRun P..,1234567890\r\n12345678910"

In [43]:
# Sort to set up removal of duplicates
templerun_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
40,40,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
91,91,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
142,142,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
193,193,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
244,244,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
295,295,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
346,346,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
397,397,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
448,448,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
499,499,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
21,21,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
72,72,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
123,123,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
174,174,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
225,225,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
276,276,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
327,327,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
378,378,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
429,429,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
480,480,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
13,13,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
64,64,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
115,115,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
166,166,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
217,217,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
268,268,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
319,319,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
370,370,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
421,421,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
472,472,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
...,...,...,...,...,...,...,...,...
31,31,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
82,82,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
133,133,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
184,184,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
235,235,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
286,286,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
337,337,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
388,388,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
439,439,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
490,490,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
6,6,Mon Apr 01 08:52:02 +0000 2019,❄चौकीदार अम्रितराज ಅಮ್ರಿತ್ ರಾಜ್❄,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
57,57,Mon Apr 01 08:52:02 +0000 2019,❄चौकीदार अम्रितराज ಅಮ್ರಿತ್ ರಾಜ್❄,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
108,108,Mon Apr 01 08:52:02 +0000 2019,❄चौकीदार अम्रितराज ಅಮ್ರಿತ್ ರಾಜ್❄,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
159,159,Mon Apr 01 08:52:02 +0000 2019,❄चौकीदार अम्रितराज ಅಮ್ರಿತ್ ರಾಜ್❄,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
210,210,Mon Apr 01 08:52:02 +0000 2019,❄चौकीदार अम्रितराज ಅಮ್ರಿತ್ ರಾಜ್❄,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
261,261,Mon Apr 01 08:52:02 +0000 2019,❄चौकीदार अम्रितराज ಅಮ್ರಿತ್ ರಾಜ್❄,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
312,312,Mon Apr 01 08:52:02 +0000 2019,❄चौकीदार अम्रितराज ಅಮ್ರಿತ್ ರಾಜ್❄,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
363,363,Mon Apr 01 08:52:02 +0000 2019,❄चौकीदार अम्रितराज ಅಮ್ರಿತ್ ರಾಜ್❄,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
414,414,Mon Apr 01 08:52:02 +0000 2019,❄चौकीदार अम्रितराज ಅಮ್ರಿತ್ ರಾಜ್❄,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
465,465,Mon Apr 01 08:52:02 +0000 2019,❄चौकीदार अम्रितराज ಅಮ್ರಿತ್ ರಾಜ್❄,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
26,26,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
77,77,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
128,128,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
179,179,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
230,230,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
281,281,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
332,332,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
383,383,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
434,434,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...
485,485,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...

In [44]:
# Drop Duplicates only for matching columns omitting the index
templerun_filtered_df = templerun_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [45]:
templerun_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
40,40,Tue Mar 26 18:15:05 +0000 2019,Alisa Bressler,1110605123892305920,5,2,0,Just jumped off a cliff #templerun
21,21,Fri Mar 29 16:36:50 +0000 2019,ChoWkidar Ajay Sinha,1107328525139410949,16,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
13,13,Sun Mar 31 14:26:47 +0000 2019,Chowkidar Amit Sharma,1105004954748682240,32,7,0,@myogiadityanath @RahulGandhi @priyankagandhi ...
2,2,Tue Apr 02 15:17:39 +0000 2019,Gabbar Khan,1072177567099170819,169,4,1,One can't imagine any other place of worship t...
27,27,Tue Apr 02 15:17:39 +0000 2019,Gabbar Khan,1072177567099170819,170,4,1,One can't imagine any other place of worship t...
39,39,Wed Mar 27 10:44:53 +0000 2019,Pradeep Banerjee,1039161952033861634,41,0,0,Happy #WorldTheatreDay \r\n@RahulGandhi and @p...
1,1,Tue Apr 02 17:35:48 +0000 2019,احمق۔۔۔,1017863002937282560,42,3,1,@TheKnightComet @UrslanH @TempleRun How Cool i...
20,20,Fri Mar 29 20:35:27 +0000 2019,NaN,996095627749666816,8,0,0,"I got 3,496 points while escaping from demon m..."
19,19,Fri Mar 29 09:46:37 +0000 2019,Arma Orientalis,969247709411643392,681,6,1,@dharmeabdul @TempleRun Why? Egyptians are Nor...
1,1,Wed Apr 03 12:07:52 +0000 2019,Velli Mamta💥,939135010795220992,1251,6,0,Which of these games did you play?\r\n\r\n#Pub...
41,41,Tue Mar 26 17:30:41 +0000 2019,The-ly-Mama,928647758583435265,168,2,1,@sambitswaraj Ticket milte hi tumhara bhi chun...
30,30,Thu Mar 28 15:18:39 +0000 2019,The-ly-Mama,928647758583435265,168,0,0,@sambitswaraj @BJP4Odisha Chunavi #TempleRun c...
8,8,Mon Apr 01 04:20:53 +0000 2019,Tweety Dr. Mishra JP,866178780779466752,169,0,9,RT @Krishna_yagyika: #नमो तेरे राज का आलम ये द...
14,14,Fri Mar 29 16:42:14 +0000 2019,Lolerite,853039579997384705,16,1,0,@TempleRun Yayyy
16,16,Fri Mar 29 14:24:07 +0000 2019,Lolerite,853039579997384705,16,1,0,@TempleRun Woah! Never knew you’d reply(when I...
25,25,Fri Mar 29 13:55:36 +0000 2019,Vikas Saxena Advocate,797146447804149760,755,9,2,@BJP4India @AmitShah Opposition had been appea...
22,22,Fri Mar 29 16:28:21 +0000 2019,हिंदू जगाने आया हूं।,765798585053118464,45,0,2,RT @VikasAdvocat: @BJP4India @AmitShah Opposit...
36,36,Thu Mar 28 00:14:21 +0000 2019,emi,743118923420336128,25,0,1,RT @emiliaderosaedr: Temple Run ist ein Triath...
11,11,Sun Mar 31 18:28:01 +0000 2019,Anti- Conversion,736395775446556672,13380,0,9,RT @Krishna_yagyika: #नमो तेरे राज का आलम ये द...
44,44,Tue Mar 26 15:04:42 +0000 2019,Vanita Pande,3288531764,126,0,0,Congress and Rahul want only minorities to vot...
46,46,Tue Mar 26 06:44:11 +0000 2019,Prajwal Babu,3270212347,115,0,1,RT @prajwal91babu: CM HD Kumarswamy is running...
47,47,Tue Mar 26 06:41:26 +0000 2019,Prajwal Babu,3270212347,115,1,1,CM HD Kumarswamy is running the govt for his f...
9,9,Sat Mar 30 11:09:30 +0000 2019,Travis,3070338911,27,1,0,@TFArcenimGaming @TempleRun Congrats on winnin...
10,10,Sat Mar 30 04:14:37 +0000 2019,Arcenim,3068276890,70,2,0,"@TempleRun That’s me, the dual device welder! ..."
3,3,Tue Apr 02 08:32:16 +0000 2019,Julie Ann,2982692906,1,0,0,"I got 14,616 points while escaping from demon ..."
0,0,Tue Apr 02 21:12:09 +0000 2019,Armor Spongus,2949552951,57,0,0,@TempleRun Your welcome
15,15,Fri Mar 29 15:47:50 +0000 2019,Armor Spongus,2949552951,57,1,0,@TempleRun New Drawing with holi festival them...
13,13,Fri Mar 29 16:44:49 +0000 2019,David💎,2791622188,153,2,0,@TempleRun Already there ... https://t.co/Y7F8...
17,17,Fri Mar 29 13:42:27 +0000 2019,Dhrumil Brahmbhatt,2604968304,9,4,0,As @priyankagandhi's temple run is taking pace...
4,4,Tue Apr 02 06:27:56 +0000 2019,sky7,2575183842,738,1,0,Standing Tall At 30 ...2 Weeks To Birthday #Tu...
...,...,...,...,...,...,...,...,...
11,11,Sat Mar 30 02:17:46 +0000 2019,Julio Rodas,288550640,389,1,0,@TempleRun Un año consecutivo superando los de...
9,9,Mon Apr 01 03:14:53 +0000 2019,Chowkidar Rajeev Venkat,249116621,286,0,0,"#TempleRun with Janeu over Kurta, Yatra to #Ka..."
18,18,Fri Mar 29 10:57:21 +0000 2019,Andrewid,247306840,1221,1,0,@ArmaOrientalis @dharmeabdul @TempleRun The ne...
28,28,Fri Mar 29 02:41:25 +0000 2019,Er Jitesh singhal,193585328,236,0,0,#TheClick #TempleRun #Favplace https://t.co/WA...
35,35,Thu Mar 28 03:28:18 +0000 2019,Larry Bonto,191083904,39,0,0,Tombraiding at Ta Prohm\r\n\r\n#angkorwat #sie...
48,48,Mon Mar 25 19:10:25 +0000 2019,yang narvaez,189042302,666,0,0,Hidden gems of Chiang Rai®️ | \r\nOften mistak...
15,15,Sun Mar 31 00:09:00 +0000 2019,Rajneesh Rangra,155604459,119,2,0,@abpnewshindi @priyankagandhi #TempleRun game ...
43,43,Tue Mar 26 15:32:09 +0000 2019,DeeSee,136583685,3697,1,0,The Marble Temple\r\n.\r\n.\r\n.\r\n.\r\n#Bang...
49,49,Mon Mar 25 17:16:39 +0000 2019,DeeSee,136583685,3697,0,0,The gorgeous Wat Arun basking in the sunlight....
20,20,Thu Mar 28 18:12:02 +0000 2019,J A L E E L . ,134928579,205,0,0,@TempleRun Please add a update to be able to s...
22,22,Tue Mar 26 19:41:57 +0000 2019,Triangle ArtWorks,126078987,9073,0,0,"Art Director, technical artist, game artist po..."
27,27,Fri Mar 29 06:01:51 +0000 2019,मनोज गोयल,119447285,50,0,0,"एक मोबाइल गेम है #TempleRun, समझ नही आ रहा गेम..."
14,14,Sun Mar 31 14:06:11 +0000 2019,Ujjwal Sinha,103652288,45,0,0,Looks like @RahulGandhi @INCIndia #templerun i...
12,12,Sat Mar 30 02:17:25 +0000 2019,✨K💫,102734042,120,4,0,@TempleRun Congratulations @TFArcenimGaming! 🙌...
23,23,Fri Mar 29 15:56:23 +0000 2019,Balasubramanyam,97427460,41,0,0,@TimesNow @NalinSKohli Does @RahulGandhi n @IN...
37,37,Wed Mar 27 22:38:44 +0000 2019,Reego Puig,73828189,228,0,0,Higashiyama Street.\r\n\r\n#Kyoto #TempleRun #...
38,38,Wed Mar 27 10:46:07 +0000 2019,Reego Puig,73828189,228,0,0,Around Kiyumizu-Dera Temple.\r\n\r\n#Kyoto #Te...
18,18,Sat Mar 30 12:09:06 +0000 2019,Chun Cheah,72003039,202,0,0,Getting there! #TempleRun https://t.co/YTgGHtOGX5
7,7,Mon Apr 01 07:36:15 +0000 2019,Chun Cheah,72003039,202,0,0,630-odd runs in and I just realized how beauti...
19,19,Fri Mar 29 21:54:00 +0000 2019,Chun Cheah,72003039,202,0,0,Almost there! #templerun https://t.co/SnqmdDBhfK
2,2,Tue Apr 02 23:07:58 +0000 2019,Jane Bernard,46099774,7702,0,0,Random play with games prevents inner burnout....
32,32,Thu Mar 28 14:19:51 +0000 2019,Jane Bernard,46099774,7702,0,0,Random play with games prevents inner burnout....
10,10,Sun Mar 31 23:39:55 +0000 2019,Jane Bernard,46099774,7702,0,0,Random play with games prevents inner burnout....
17,17,Sat Mar 30 12:29:24 +0000 2019,Jane Bernard,46099774,7702,0,0,Random play with games prevents inner burnout....
5,5,Tue Apr 02 04:43:23 +0000 2019,Debbie Dela Cruz,37926688,362,1,0,Escape and breathe the air of new places. 💛\r\...
50,50,Mon Mar 25 11:01:35 +0000 2019,Debbie Dela Cruz,37926688,362,0,0,"Tabi mga sis, parating na ang mga haciendera! ..."
21,21,Thu Mar 28 04:00:11 +0000 2019,Rachel Bowen 🤷‍♀️,20209305,106,0,0,When you had two giant margaritas and walked h...
31,31,Thu Mar 28 14:32:30 +0000 2019,hathor2,16427547,1146,0,0,Day four...perfect day for a walk and finding ...
6,6,Mon Apr 01 08:52:02 +0000 2019,❄चौकीदार अम्रितराज ಅಮ್ರಿತ್ ರಾಜ್❄,15340813,441,0,0,Mumbai kiski hai ? Congress ki....No wait this...
26,26,Fri Mar 29 12:52:20 +0000 2019,#FeildingForTrsChevellaMP Vundyala Phani S Reddy,15330845,1024,0,0,@VishnuThejPutta @ItsActorNaresh @actor_nithii...

In [46]:
templerun_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,75.000000,7.500000e+01,75.000000,75.000000,75.000000
mean,20.440000,2.386775e+17,1226.746667,1.013333,0.506667
std,14.055142,4.172558e+17,2644.603516,1.906556,1.536698
min,0.000000,1.533084e+07,1.000000,0.000000,0.000000
25%,9.000000,1.227631e+08,43.500000,0.000000,0.000000
50%,18.000000,8.691307e+08,170.000000,0.000000,0.000000
75%,30.500000,3.681979e+17,678.000000,1.000000,0.000000
max,50.000000,1.110605e+18,13380.000000,9.000000,9.000000

In [47]:
# Count total out of Unique Tweets
templerun_total_tweets = len(templerun_filtered_df['Tweet Text'])
templerun_total_tweets

75

In [48]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
templerun_avg_followers_ct = templerun_filtered_df['User Follower Count'].mean()
templerun_avg_followers_ct

1226.7466666666667

In [49]:
# Total Likes of all tweets
templerun_total_likes = templerun_filtered_df['Likes Counts'].sum()
#templerun_avg_likes = templerun_filtered_df['Likes Counts'].mean()
templerun_total_likes
#instagram_avg_likes

76

In [50]:
# Retweets Stats:
#templerun_sum_retweets = templerun_filtered_df['ReTweet Count'].sum()
templerun_avg_retweets = templerun_filtered_df['ReTweet Count'].mean()
#templerun_sum_retweets
templerun_avg_retweets

0.5066666666666667

In [51]:
templerun_total_tweets
templerun_avg_retweets
templerun_avg_followers_ct
templerun_total_likes

76

### Pandora Calculations

In [52]:
# REPLACE THE CSV FILE NAME BELOW WITH THE FILE YOU WANT TO UPLOAD

# USE THIS AFTER SAVNIG AND CLOSING JUPYTER NOTEBOOK.

read_pandora_csv_df1 = pd.read_csv('pandora_batch1_2800.csv')
read_pandora_csv_df2 = pd.read_csv('pandora_H_560_batch3.csv')

pandora_all_csv = [read_pandora_csv_df1, read_pandora_csv_df2]

In [76]:
plug = 'pandora'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
pandora_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
pandora_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,6560.000000,6.560000e+03,6560.000000,6560.000000,6560.000000
mean,1264.865854,3.041765e+17,2375.887805,1.018598,8.773780
std,821.463600,4.604249e+17,5107.187393,2.084937,75.916851
min,0.000000,7.765022e+06,0.000000,0.000000,0.000000
25%,546.000000,5.344516e+07,105.000000,0.000000,0.000000
50%,1159.500000,7.016621e+08,550.000000,0.000000,0.000000
75%,1979.250000,8.475618e+17,1826.000000,1.000000,1.000000
max,2799.000000,1.112761e+18,49819.000000,17.000000,824.000000

In [54]:
pandora_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 13:10:51 +0000 2019,Lovely lady,2.454142e+09,19,0,1,RT @justleon: @leonthepeoples We’re #trending...
1,1,Wed Apr 03 13:07:30 +0000 2019,Lovely lady,2.454142e+09,19,0,1,RT @justleon: @leonthepeoples We’re #trending...
2,2,Wed Apr 03 13:02:02 +0000 2019,Harry Gold,1.557621e+07,1914,0,0,Good news for brands trying to crack voice mar...
3,3,Wed Apr 03 12:24:38 +0000 2019,Myla Beckett,3.153627e+09,1826,3,0,I ♥️♥️♥️♥️ @billieeilish I’m listening to her ...
4,4,Wed Apr 03 11:55:47 +0000 2019,LEON & THE PEOPLES,8.578133e+07,8565,3,1,We’re #trending !! @reverbnation \r\n#sometim...

In [55]:
# Sort to set up removal of duplicates
pandora_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
78,78,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
178,178,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
278,278,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
378,378,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
478,478,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
578,578,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
678,678,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
778,778,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
878,878,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
978,978,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1078,1078,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1178,1178,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1278,1278,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1378,1378,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1478,1478,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1578,1578,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1678,1678,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1778,1778,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1878,1878,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
1978,1978,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2078,2078,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2178,2178,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2278,2278,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2378,2378,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2478,2478,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2578,2578,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2678,2678,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
2778,2778,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
22,22,Tue Apr 02 20:01:43 +0000 2019,YANG.,1.111460e+18,50,0,0,@xxbangj hmm não fala assim que eu me apaixono...
122,122,Tue Apr 02 20:01:43 +0000 2019,YANG.,1.111460e+18,50,0,0,@xxbangj hmm não fala assim que eu me apaixono...
...,...,...,...,...,...,...,...,...
2665,2665,Mon Apr 01 23:20:47 +0000 2019,aledanis77,9.112542e+06,101,1,0,"@Pandora Se não me engano, a Irene Ravache vai..."
2765,2765,Mon Apr 01 23:20:47 +0000 2019,aledanis77,9.112542e+06,101,1,0,"@Pandora Se não me engano, a Irene Ravache vai..."
51,51,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
151,151,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
251,251,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
351,351,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
451,451,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
551,551,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
651,651,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
751,751,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
851,851,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
951,951,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
1051,1051,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
1151,1151,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
1251,1251,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
1351,1351,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
1451,1451,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
1551,1551,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
1651,1651,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
1751,1751,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
1851,1851,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
1951,1951,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
2051,2051,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
2151,2151,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
2251,2251,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
2351,2351,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
2451,2451,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
2551,2551,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
2651,2651,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...
2751,2751,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...

In [56]:
# Drop Duplicates only for matching columns omitting the index
pandora_filtered_df = pandora_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [57]:
pandora_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
78,78,Mon Apr 01 21:39:42 +0000 2019,Sabrina Carpenter,1.112760e+18,0,0,824,"RT @SabrinaAnnLynn: ""Sue Me"" is now on @Pandor..."
22,22,Tue Apr 02 20:01:43 +0000 2019,YANG.,1.111460e+18,50,0,0,@xxbangj hmm não fala assim que eu me apaixono...
10,10,Wed Apr 03 23:36:18 +0000 2019,Club De Fans Oficial Revanchitas De JMLC 👊🏻💚🔥,1.111435e+18,1,0,0,"🎧Ya Puedes Escuchar ""Regalame Una Noche"" En #P..."
39,39,Tue Apr 02 15:15:01 +0000 2019,Leli,1.109700e+18,11,0,0,@levihummon @Spotify @amazonmusic @AppleMusic ...
10,10,Wed Apr 03 04:06:09 +0000 2019,Vanessa Stevenson,1.109610e+18,0,0,1,RT @joelhawkins: Typical Friday night: @Jameso...
18,18,Wed Apr 03 23:11:44 +0000 2019,sam ab,1.106946e+18,449,0,2,RT @eaeperformance: Dope! Your profile is awes...
92,92,Mon Apr 01 15:33:42 +0000 2019,Suzanne J. Laberge,1.106800e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Great Choice
93,93,Mon Apr 01 15:31:32 +0000 2019,Alba D. Lemos,1.106800e+18,0,1,0,@Icielani @JpLaMemoria @Pandora awesome track 🙏
94,94,Mon Apr 01 15:21:25 +0000 2019,John J. Williams,1.106800e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Best track and...
87,87,Mon Apr 01 15:39:49 +0000 2019,Soila W. Resendiz,1.106790e+18,0,1,0,@Icielani @JpLaMemoria @Pandora fabulous music...
88,88,Mon Apr 01 15:38:05 +0000 2019,Juanita C. Lafrance,1.106790e+18,0,1,0,@Icielani @JpLaMemoria @Pandora I appreciate y...
90,90,Mon Apr 01 15:36:38 +0000 2019,Phil R. Henson,1.106790e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Outstanding mu...
91,91,Mon Apr 01 15:35:05 +0000 2019,Billie N. Green,1.106790e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Keep it up. nice
86,86,Mon Apr 01 15:41:03 +0000 2019,Donna J. Wilk,1.106780e+18,0,1,1,@Icielani @JpLaMemoria @Pandora best music cho...
85,85,Mon Apr 01 15:41:54 +0000 2019,Pedro J. Cooper,1.106770e+18,0,1,0,@Icielani @JpLaMemoria @Pandora Love it. do it...
84,84,Mon Apr 01 15:42:29 +0000 2019,Marjorie F. Brett,1.106760e+18,0,1,0,"@Icielani @JpLaMemoria @Pandora Great,You are ..."
79,79,Wed Apr 03 20:38:26 +0000 2019,Familia Pandora Puerto Rico,1.103741e+18,6,0,0,Se puede renacer aun después de morir... 🎧🎤#en...
9,9,Wed Apr 03 23:45:33 +0000 2019,KING_SKIZZY,1.095316e+18,114,0,0,RT @King_Skizzy: My new single - \r\nINDIGO \r...
69,69,Wed Apr 03 21:34:49 +0000 2019,Raw Falcone,1.091495e+18,40,1,0,April 19th and April 20th it's a 🎥🎞📽🎬 #tampa\r...
75,75,Mon Apr 01 21:58:36 +0000 2019,Mazzini,1.088910e+18,19,0,11,RT @NRGgg: .@benjyfishy just joined NRG and ha...
16,16,Tue Apr 02 22:51:35 +0000 2019,L Batista ilumiNATTI,1.088870e+18,25,1,0,Cuál es tu canción favorita de @NattiNatasha e...
32,32,Wed Apr 03 22:43:07 +0000 2019,Pluto Entertainment,1.079117e+18,76,0,0,#stl #Louisville #NYC #reverbnation #Music #h...
34,34,Wed Apr 03 22:42:01 +0000 2019,Pluto Entertainment,1.079117e+18,76,1,1,Out Now on Spotify!!!!!!!!\r\n\r\n #stl #Louis...
28,28,Wed Apr 03 22:47:58 +0000 2019,We Are His Music,1.079104e+18,11,0,0,HERE WE GO!!! Another single getting ready to ...
13,13,Wed Apr 03 23:26:20 +0000 2019,ori,1.078962e+18,3,0,0,So good I had to share! Check out all the item...
64,64,Wed Apr 03 21:48:42 +0000 2019,ReachTube6,1.064208e+18,195,2,0,Na'vi River Journey Full Ride! @AnimalKingdom ...
38,38,Tue Apr 02 15:19:49 +0000 2019,Cherie Elliott 🇺🇸♉,1.059600e+18,220,0,5,RT @levihummon: Streaming has helped me find a...
50,50,Tue Apr 02 13:46:43 +0000 2019,cameron sterling (1-5),1.025040e+18,90,0,0,I hate that I can’t have unlimited skips on @p...
26,26,Wed Apr 03 22:54:41 +0000 2019,🎧🎶 Billionaire HNDRX 🎶🎧,1.018633e+18,860,0,0,Got 8 New products #otw #spotify #tidal #youtu...
81,81,Wed Apr 03 20:36:04 +0000 2019,DisBeer N Distress,1.018540e+18,2992,1,0,We just applied to have our podcast on #Pandor...
...,...,...,...,...,...,...,...,...
82,82,Mon Apr 01 15:50:16 +0000 2019,PegaFogoCabaré,4.214299e+07,3034,1,0,@jaosogabe @Pandora Aaaargh!!!
17,17,Tue Apr 02 22:30:45 +0000 2019,Uli Reese,4.020683e+07,515,0,2,"RT @joelbeckerman: ""A brand identity is no lon..."
21,21,Tue Apr 02 20:28:18 +0000 2019,Janelle Monáe de Osasco,3.889332e+07,709,0,0,@Pandora @morenamoraes EP de Black mirror
54,54,Tue Apr 02 13:00:28 +0000 2019,Janelle Monáe de Osasco,3.889332e+07,709,1,0,@Pandora Amém 🙏 vamos falar mais sobre isso 😏✨👀✨
59,59,Tue Apr 02 01:17:34 +0000 2019,Janelle Monáe de Osasco,3.889332e+07,709,1,0,@Pandora https://t.co/KcKXHm7rM0
95,95,Wed Apr 03 18:35:47 +0000 2019,Michelle Graff,3.827192e+07,10300,0,0,Bead brand #Pandora is eliminating the COO pos...
20,20,Tue Apr 02 21:28:11 +0000 2019,Nate Larson,3.620250e+07,3970,1,0,Everyone check out my first #podcast episode w...
29,29,Tue Apr 02 18:05:37 +0000 2019,Elza Soares,3.352036e+07,8793,1,0,@Pandora @BGuilherme1987 @beatriz_santos Eu en...
37,37,Tue Apr 02 15:47:12 +0000 2019,Elza Soares,3.352036e+07,8793,1,0,@BGuilherme1987 @beatriz_santos @Pandora Não f...
70,70,Mon Apr 01 22:47:05 +0000 2019,Elza Soares,3.352036e+07,8793,7,0,Alguém com poder aquisitivo poderia produzir u...
72,72,Mon Apr 01 22:46:24 +0000 2019,Elza Soares,3.352036e+07,8793,1,0,@Pandora Que isso?
79,79,Mon Apr 01 21:19:29 +0000 2019,Elza Soares,3.352036e+07,8793,0,0,@Pandora @_ponzuzu TV aberta?
80,80,Mon Apr 01 20:47:57 +0000 2019,Elza Soares,3.352036e+07,8793,2,0,@Pandora Já tava esquecendo de fazer e a @_pon...
33,33,Tue Apr 02 16:36:15 +0000 2019,Shannon Dawn,3.335273e+07,1189,0,3,RT @levihummon: Streaming has helped me find a...
45,45,Tue Apr 02 14:23:16 +0000 2019,Shannon Dawn,3.335273e+07,1189,3,0,@levihummon @Spotify @amazonmusic @AppleMusic ...
46,46,Tue Apr 02 14:19:02 +0000 2019,Shannon Dawn,3.335273e+07,1189,0,5,RT @levihummon: Streaming has helped me find a...
94,94,Wed Apr 03 18:47:46 +0000 2019,malaika,3.033098e+07,4975,0,0,"#JulianMarley Talks ""AS I AM"" Album on @Pandor..."
67,67,Mon Apr 01 23:09:04 +0000 2019,Beatriz Santos,2.705417e+07,1130,4,0,@Iracroft @Pandora Até eu vi o final da novela...
72,72,Wed Apr 03 21:22:08 +0000 2019,Gene Turlington,2.618900e+07,218,0,0,"I'm listening to ""Sinkin' Soon"" by @NorahJones..."
73,73,Mon Apr 01 22:13:36 +0000 2019,Jamile Chahine,2.599780e+07,357,0,0,@Pandora Nem falo...😢
18,18,Tue Apr 02 21:41:24 +0000 2019,Man Made Music,2.553795e+07,4849,0,2,"RT @joelbeckerman: ""A brand identity is no lon..."
15,15,Wed Apr 03 00:25:40 +0000 2019,Thomas Benner,2.243301e+07,864,0,0,"Adobe Partners with Pandora, Releases Survey R..."
13,13,Wed Apr 03 01:09:22 +0000 2019,JCH,1.942361e+07,713,0,0,My @LyleLovett station on @Pandora has played ...
2,2,Wed Apr 03 13:02:02 +0000 2019,Harry Gold,1.557621e+07,1914,0,0,Good news for brands trying to crack voice mar...
35,35,Tue Apr 02 16:01:24 +0000 2019,A.J. Wood,1.412429e+07,7272,0,0,".@Adobe Partners with @Pandora, releases surve..."
83,83,Wed Apr 03 20:23:07 +0000 2019,eucondrio,1.330862e+07,590,1,0,#Pandora testa la pubblicità vocale interattiv...
98,98,Mon Apr 01 12:00:28 +0000 2019,Emilie Bramly,1.207004e+07,7576,1,1,L'#OverlapReality 🚀: C'est la stratégie d'anim...
17,17,Wed Apr 03 23:17:18 +0000 2019,John Norton,9.391372e+06,562,2,0,Traversed some Na’vi ruins yesterday. #pandora...
65,65,Mon Apr 01 23:20:47 +0000 2019,aledanis77,9.112542e+06,101,1,0,"@Pandora Se não me engano, a Irene Ravache vai..."
51,51,Tue Apr 02 13:39:22 +0000 2019,Kent Lewis 🔥,7.765022e+06,6322,0,0,.@Pandora to test interactive voice ads later ...

In [58]:
pandora_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,197.000000,1.970000e+02,197.000000,197.000000,197.000000
mean,54.380711,2.780509e+17,2527.472081,0.791878,6.543147
std,86.993386,4.479668e+17,6371.855494,1.712003,59.084205
min,0.000000,7.765022e+06,0.000000,0.000000,0.000000
25%,24.000000,1.042141e+08,113.000000,0.000000,0.000000
50%,49.000000,9.051608e+08,515.000000,0.000000,0.000000
75%,73.000000,7.570010e+17,1371.000000,1.000000,1.000000
max,1203.000000,1.112760e+18,49819.000000,17.000000,824.000000

In [59]:
# Count total out of Unique Tweets
pandora_total_tweets = len(pandora_filtered_df['Tweet Text'])
pandora_total_tweets

197

In [60]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
pandora_avg_followers_ct = pandora_filtered_df['User Follower Count'].mean()
pandora_avg_followers_ct

2527.472081218274

In [61]:
# Total Likes of all tweets
# use sum of likes.
pandora_total_likes = pandora_filtered_df['Likes Counts'].sum()
#pandora_avg_likes = pandora_filtered_df['Likes Counts'].mean()
pandora_total_likes
#pandora_avg_likes

156

In [62]:
# Retweets Stats:
#pandora_sum_retweets = pandora_filtered_df['ReTweet Count'].sum()
pandora_avg_retweets = pandora_filtered_df['ReTweet Count'].mean()
#pandora_sum_retweets
pandora_avg_retweets

6.543147208121828

### Pinterest Calculations

In [79]:
# Concatenate them
plug = 'pinterest'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
pinterest_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
pinterest_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,2979.000000,2.979000e+03,2979.000000,2979.000000,2979.000000
mean,890.252098,2.586545e+17,4542.489426,0.182947,7.313864
std,617.386076,4.292814e+17,12457.364750,0.557413,57.056020
min,0.000000,2.807841e+06,1.000000,0.000000,0.000000
25%,372.000000,8.182539e+07,124.000000,0.000000,0.000000
50%,744.000000,9.283590e+08,643.000000,0.000000,0.000000
75%,1403.500000,7.820021e+17,5369.000000,0.000000,0.000000
max,2148.000000,1.113549e+18,164012.000000,5.000000,496.000000

In [80]:
pinterest_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 18:00:50 +0000 2019,taiche,26701241,2480,0,0,#Lesbian #Kiss #ArtNouveau Style #Photographic...
1,1,Wed Apr 03 17:59:34 +0000 2019,Hot_Products,1003898407365300225,5075,0,7,RT @OkroguLes: https://t.co/VW9qiCQOc4 via @pi...
2,2,Wed Apr 03 17:59:25 +0000 2019,Niloo Farmand,3982201215,27,0,0,Hey @Pinterest I’ve unsubscribed from your ema...
3,3,Wed Apr 03 17:58:13 +0000 2019,taiche,26701241,2480,0,0,#Lips That Touch #Liquor Shall Not Touch Ours ...
4,4,Wed Apr 03 17:57:35 +0000 2019,BishopMeldinaTaswell,275892884,893,0,0,https://t.co/PqmtvvBufQ via @pinterest

In [66]:
# Sort to set up removal of duplicates
pinterest_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
1,1,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
84,84,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
167,167,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
250,250,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
333,333,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
416,416,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
499,499,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
582,582,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,495,RT @shelleypetersen: #Healthinnovations has ju...
665,665,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
748,748,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,495,RT @shelleypetersen: #Healthinnovations has ju...
59,59,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
145,145,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
231,231,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
318,318,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
404,404,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
491,491,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
578,578,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
664,664,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
750,750,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
836,836,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
923,923,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1009,1009,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1094,1094,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1181,1181,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1267,1267,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1352,1352,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1438,1438,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1524,1524,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1609,1609,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
1694,1694,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
...,...,...,...,...,...,...,...,...
455,455,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
542,542,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
628,628,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
714,714,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
800,800,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
887,887,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
973,973,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1058,1058,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1145,1145,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1231,1231,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1316,1316,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1402,1402,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1488,1488,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1573,1573,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1658,1658,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1744,1744,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1829,1829,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
1915,1915,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
2001,2001,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
2087,2087,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
35,35,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales térmicas español...
118,118,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales térmicas español...
201,201,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales térmicas español...
284,284,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales térmicas español...
367,367,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales térmicas español...
450,450,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales térmicas español...
533,533,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales térmicas español...
616,616,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales térmicas español...
699,699,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales térmicas español...
782,782,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales térmicas español...

In [67]:
# Drop Duplicates only for matching columns omitting the index
pinterest_filtered_df = pinterest_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [68]:
pinterest_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
1,1,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,496,RT @shelleypetersen: #Healthinnovations has ju...
582,582,Thu Apr 04 00:28:45 +0000 2019,averydecent,1113548985413853185,1,0,495,RT @shelleypetersen: #Healthinnovations has ju...
59,59,Wed Apr 03 17:06:10 +0000 2019,Probir mittro,1108304524236615680,7,1,0,World Company of Bitcoin and Ethereum mining i...
5,5,Wed Apr 03 17:56:04 +0000 2019,Adam Kempshall,1105568310278664192,5,0,0,"@della71 @Pinterest Pinterest, Twitter makes s..."
32,32,Wed Apr 03 17:26:43 +0000 2019,Melissa Vonn,1097590136014061569,20,0,0,@GarconWines @Pinterest Good news!
4,4,Thu Apr 04 00:15:51 +0000 2019,Opo,1086742990247378944,26,1,0,Friends this is an awesome way to make money u...
16,16,Wed Apr 03 23:11:52 +0000 2019,Creative Cakes by Sandy Danner,1073348944296587267,3,0,0,Today's cakes. 2 weddings and a groom's cake. ...
14,14,Wed Apr 03 17:37:33 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/lPFz3CR3WV via @pinterest
16,16,Wed Apr 03 17:37:09 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/TCflHxkra3 via @pinterest
17,17,Wed Apr 03 17:36:59 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/c36FokQAd2 via @pinterest
18,18,Wed Apr 03 17:36:50 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/KNblAuSowz via @pinterest
19,19,Wed Apr 03 17:35:12 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/9cNqEppd51 via @pinterest
20,20,Wed Apr 03 17:34:54 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/CEuwKihG2J via @pinterest
21,21,Wed Apr 03 17:34:46 +0000 2019,Paredes Home,1057773612785053696,124,0,0,https://t.co/YgS6bc73tT via @pinterest
58,58,Wed Apr 03 17:06:14 +0000 2019,Myshirtsboutique,1055141326268911616,2,0,0,Excited to share this item from my shop: Const...
43,43,Wed Apr 03 21:53:55 +0000 2019,Rafinha..📸🤪💥,1054993212945903622,6873,0,496,RT @shelleypetersen: #Healthinnovations has ju...
624,624,Wed Apr 03 21:53:55 +0000 2019,Rafinha..📸🤪💥,1054993212945903622,6873,0,495,RT @shelleypetersen: #Healthinnovations has ju...
26,26,Wed Apr 03 22:26:43 +0000 2019,fabrica de carteles de goma eva para cotillon.,1049654306947903489,9,0,0,Gracias a mis seguidores en pinterest ya son 1...
29,29,Wed Apr 03 22:17:34 +0000 2019,otto frank,1030838750245466112,74,0,496,RT @shelleypetersen: #Healthinnovations has ju...
112,112,Wed Apr 03 22:17:34 +0000 2019,otto frank,1030838750245466112,72,0,496,RT @shelleypetersen: #Healthinnovations has ju...
610,610,Wed Apr 03 22:17:34 +0000 2019,otto frank,1030838750245466112,72,0,495,RT @shelleypetersen: #Healthinnovations has ju...
1,1,Wed Apr 03 17:59:34 +0000 2019,Hot_Products,1003898407365300225,5075,0,7,RT @OkroguLes: https://t.co/VW9qiCQOc4 via @pi...
73,73,Wed Apr 03 20:42:12 +0000 2019,IracingSBS,971107656055316480,342,0,7,RT @Bjsimracin1: 🔥🔥🔥FORMULA 1🔥🔥🔥\r\n#simracing...
60,60,Wed Apr 03 21:11:06 +0000 2019,Coffee. Mom. Repeat. ☕️,970483464305815553,96,0,0,Pin this one for layer! https://t.co/gSQfmFfSw...
13,13,Wed Apr 03 17:38:43 +0000 2019,SERVICE SOFA BANDUNG TLP/WA.0822-1919-1671,962014328772689920,470,1,0,Service Sofa Bandung Tlp.0822-1919-1671.Wa.089...
44,44,Wed Apr 03 17:13:26 +0000 2019,SERVICE SOFA BANDUNG TLP/WA.0822-1919-1671,962014328772689920,470,1,1,https://t.co/RIGBUi8VfD lewat @pinterest
45,45,Wed Apr 03 17:13:16 +0000 2019,SERVICE SOFA BANDUNG TLP/WA.0822-1919-1671,962014328772689920,470,1,1,https://t.co/qWfwDKmCT0 lewat @pinterest
46,46,Wed Apr 03 17:13:05 +0000 2019,SERVICE SOFA BANDUNG TLP/WA.0822-1919-1671,962014328772689920,470,1,0,https://t.co/skNEGUbFwi lewat @pinterest
38,38,Wed Apr 03 17:19:04 +0000 2019,Begoña Martín,913210473729937408,389,0,2,RT @EsquireEs: De Marlon Brando a Paul Newman:...
63,63,Wed Apr 03 21:05:01 +0000 2019,Laura B,902472770424070144,1948,0,1,RT @LauraB30min: #FREE 5 Day #Pinterest course...
...,...,...,...,...,...,...,...,...
68,68,Wed Apr 03 17:03:04 +0000 2019,Chaco On Line,81825393,5369,0,0,https://t.co/B0mqwvitiC vía @pinterest
70,70,Wed Apr 03 17:01:23 +0000 2019,Chaco On Line,81825393,5369,0,0,https://t.co/ouQq9iD8fv vía @pinterest
73,73,Wed Apr 03 16:59:13 +0000 2019,Chaco On Line,81825393,5369,0,0,https://t.co/ZfGvQaq1tu vía @pinterest
74,74,Wed Apr 03 16:59:10 +0000 2019,Chaco On Line,81825393,5369,0,0,https://t.co/LM1sgAc03F vía @pinterest
75,75,Wed Apr 03 16:59:05 +0000 2019,Chaco On Line,81825393,5369,0,0,https://t.co/jcG4ZyIQRc vía @pinterest
10,10,Wed Apr 03 23:47:21 +0000 2019,Don't You Love Wine,75343553,843,0,0,They call it cheers! #pinterest #ilovewine htt...
7,7,Wed Apr 03 17:52:31 +0000 2019,BLynne,70576926,83,0,0,@Pinterest can't get into my account and it ha...
50,50,Wed Apr 03 21:35:29 +0000 2019,Manoj,65879683,11109,0,0,How to Schedule #Pinterest Pins (No Apps) to B...
57,57,Wed Apr 03 17:06:22 +0000 2019,Sunshine Trading Co,57530314,5521,0,2,"RT @MyTexasTreasure: #Gifts, wonderful Journal..."
21,21,Wed Apr 03 22:41:01 +0000 2019,Ilka Flood,47234940,4414,0,0,How to create a Pinterest pin your followers w...
37,37,Wed Apr 03 22:04:15 +0000 2019,NAMI Orange County,34782749,3020,0,0,"May is #MentalHealthAwareness Month, join us f..."
12,12,Wed Apr 03 23:25:28 +0000 2019,Leesa,33788427,17485,0,0,Follow #EcoChic on Pinterest! https://t.co/9T...
69,69,Wed Apr 03 17:01:24 +0000 2019,Donna Anderson,33421553,12,0,0,@Pinterest Is Pinterest down?
40,40,Wed Apr 03 17:15:24 +0000 2019,Andrea,28230568,907,0,0,"@BrandiCakes0609 @Pinterest @pinterestbiz Ugh,..."
15,15,Wed Apr 03 23:15:28 +0000 2019,Stephan Jaeckel,27627485,335,0,0,Enjoy my #Pinterest Boards on #Marketing https...
0,0,Wed Apr 03 18:00:50 +0000 2019,taiche,26701241,2480,0,0,#Lesbian #Kiss #ArtNouveau Style #Photographic...
3,3,Wed Apr 03 17:58:13 +0000 2019,taiche,26701241,2480,0,0,#Lips That Touch #Liquor Shall Not Touch Ours ...
8,8,Wed Apr 03 17:52:03 +0000 2019,Amycanbe,26590693,1800,0,0,#musicweek #feature #remix #newtrack #brandnew...
79,79,Wed Apr 03 20:24:15 +0000 2019,Mosqidou Inc.,23720051,697,0,1,#tranquility #wordoftheday #bookworms #future...
72,72,Wed Apr 03 20:42:33 +0000 2019,Inspired Bride,22020909,40728,0,0,"Color Palette: Golden Rod, White, and Gray htt..."
11,11,Wed Apr 03 23:33:00 +0000 2019,Will Adams,21068187,5590,0,0,#Pinterest for Business: Seven Helpful Tips [I...
6,6,Wed Apr 03 17:55:04 +0000 2019,Andromeda Beauty,19330585,2079,0,0,Jannis Niewöhner https://t.co/cHXzNbuFLY via @...
44,44,Wed Apr 03 21:52:25 +0000 2019,Michelle D Harris - Social Media,18854635,52272,2,0,Love the #roses in my communal garden - they a...
71,71,Wed Apr 03 20:44:09 +0000 2019,Michelle D Harris - Social Media,18854635,52272,0,0,It Monday still right lol I forgot to post my ...
30,30,Wed Apr 03 22:17:00 +0000 2019,♥ Suzie ♥,16630502,12772,0,0,"The Best Time to Post on #Instagram, #Facebook..."
3,3,Thu Apr 04 00:20:08 +0000 2019,socialmediacombo,16555374,2110,0,1,RT @postoff25: What do you think? https://t.co...
0,0,Thu Apr 04 00:30:03 +0000 2019,Gabriella Sannino,15506203,11208,0,0,6 Compelling Reasons Why Your Business Should ...
17,17,Wed Apr 03 23:10:46 +0000 2019,Jonathan Gebauer,14205576,164012,0,0,You need to get your basics right if you are l...
23,23,Wed Apr 03 17:34:08 +0000 2019,sowa,10474692,96,0,0,Whisky flok inbid fil kalci tal ARcisqof https...
35,35,Wed Apr 03 22:11:25 +0000 2019,Gabriel Huecas,2807841,660,0,1,RT @biblioUPM: Tres centrales térmicas español...

In [69]:
pinterest_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,176.000000,1.760000e+02,176.000000,176.000000,176.000000
mean,66.835227,2.556862e+17,6058.943182,0.181818,26.136364
std,164.904998,4.291131e+17,15671.626804,0.596091,109.320361
min,0.000000,2.807841e+06,1.000000,0.000000,0.000000
25%,21.750000,1.024241e+08,124.000000,0.000000,0.000000
50%,43.500000,9.761855e+08,1107.000000,0.000000,0.000000
75%,65.250000,7.584289e+17,5369.000000,0.000000,0.000000
max,1891.000000,1.113549e+18,164012.000000,5.000000,496.000000

In [70]:
# Count total out of Unique Tweets
pinterest_total_tweets = len(pinterest_filtered_df['Tweet Text'])
pinterest_total_tweets

176

In [71]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
pinterest_avg_followers_ct = pinterest_filtered_df['User Follower Count'].mean()
pinterest_avg_followers_ct

6058.943181818182

In [72]:
# Total Likes of all tweets
pinterest_total_likes = pinterest_filtered_df['Likes Counts'].sum()
#pinterest_avg_likes = pinterest_filtered_df['Likes Counts'].mean()
pinterest_total_likes
#pinterest_avg_likes

32

In [73]:
# Retweets Stats:
#pinterest_sum_retweets = pinterest_filtered_df['ReTweet Count'].sum()
pinterest_avg_retweets = pinterest_filtered_df['ReTweet Count'].mean()
#pinterest_sum_retweets
pinterest_avg_retweets

26.136363636363637

### Bible (You Version) Calculations

In [81]:
plug = 'bible'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
bible_source_df = pd.concat(li, axis=0, ignore_index=True)
bible_source_df
# Snapshot Statistics
bible_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,5040.000000,5.040000e+03,5040.000000,5040.000000,5040.000000
mean,987.892857,2.181067e+17,2066.002381,0.741270,21.110913
std,755.624089,3.959182e+17,4466.433459,2.978477,39.783790
min,0.000000,1.409471e+06,1.000000,0.000000,0.000000
25%,314.750000,1.462119e+08,90.000000,0.000000,0.000000
50%,854.500000,1.090482e+09,313.000000,0.000000,0.000000
75%,1484.250000,3.667774e+09,1190.000000,1.000000,7.000000
max,2699.000000,1.112643e+18,34769.000000,36.000000,163.000000

In [82]:
bible_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 15:23:43 +0000 2019,Tommy Buch 🎚🕊🇺🇸🐸,3004439539,6136,1,0,#BibleStudy 📖 April 3\n\nOT - Deuteronomy chap...
1,1,Wed Apr 03 14:59:08 +0000 2019,OrgThis Blog - S.Lee,258926868,11277,0,1,RT @TheGodBlessGirl: On-line #Devotionals and ...
2,2,Wed Apr 03 14:21:00 +0000 2019,TheGodBlessGirl,3292909502,191,0,1,On-line #Devotionals and #Bible Readings: @You...
3,3,Wed Apr 03 14:20:05 +0000 2019,The Gentleman Poet,178151268,273,0,0,"“Come to me, all you who are weary and burdene..."
4,4,Wed Apr 03 12:07:11 +0000 2019,Phillip Simfukwe,1099913636,66,0,0,"~ Amen ~\n,▪\n▪\n▪\nImage created by the @youv..."

In [77]:
# Sort to set up removal of duplicates
bible_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
19,19,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
119,119,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
219,219,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
319,319,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
420,420,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
520,520,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
620,620,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
720,720,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
820,820,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
920,920,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
1020,1020,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
1120,1120,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
1220,1220,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
1320,1320,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
1420,1420,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
1520,1520,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
1620,1620,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
1720,1720,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
1820,1820,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
1920,1920,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2020,2020,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2120,2120,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2220,2220,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2320,2320,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2420,2420,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2520,2520,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
2620,2620,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
54,54,Wed Apr 03 16:06:34 +0000 2019,GaL🏳️‍🌈🌈🏐👑,1110903724568805376,23,0,118,RT @YouVersion: For God so loved the world tha...
154,154,Wed Apr 03 16:06:34 +0000 2019,GaL🏳️‍🌈🌈🏐👑,1110903724568805376,23,0,118,RT @YouVersion: For God so loved the world tha...
254,254,Wed Apr 03 16:06:34 +0000 2019,GaL🏳️‍🌈🌈🏐👑,1110903724568805376,23,0,118,RT @YouVersion: For God so loved the world tha...
...,...,...,...,...,...,...,...,...
1479,1479,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
1579,1579,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
1679,1679,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
1779,1779,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
1879,1879,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
1979,1979,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
2079,2079,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
2179,2179,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
2279,2279,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
2379,2379,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
2479,2479,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
2579,2579,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
2679,2679,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
29,29,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
119,119,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
209,209,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
299,299,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
389,389,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
479,479,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
569,569,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
659,659,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
749,749,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
839,839,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
929,929,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
1019,1019,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
1109,1109,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
1199,1199,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
1289,1289,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
1379,1379,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...
1469,1469,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...

In [78]:
# Drop Duplicates only for matching columns omitting the index
bible_filtered_df = bible_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [79]:
bible_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
19,19,Wed Apr 03 17:21:08 +0000 2019,Maddys ghost,1112643032627580930,16,0,94,"RT @YouVersion: Come to me, all you who are we..."
54,54,Wed Apr 03 16:06:34 +0000 2019,GaL🏳️‍🌈🌈🏐👑,1110903724568805376,23,0,118,RT @YouVersion: For God so loved the world tha...
55,55,Wed Apr 03 16:06:11 +0000 2019,GaL🏳️‍🌈🌈🏐👑,1110903724568805376,23,0,94,"RT @YouVersion: Come to me, all you who are we..."
42,42,Sun Mar 31 08:47:44 +0000 2019,Hester F. Kacee,1108355540655243264,2,0,1,RT @we_will_worship: Here is your 'Verse of th...
49,49,Wed Apr 03 16:13:19 +0000 2019,Kay,1101269012791640064,980,0,0,Here is where you will find scriptures that wi...
61,61,Fri Mar 29 04:50:29 +0000 2019,Amen,1099747741129936897,2709,0,1,"RT @PhillipSimfukwe: ~ ""perplexed, but not in ..."
48,48,Wed Apr 03 16:17:38 +0000 2019,x-Diana Frances,1088992134089256962,30,0,0,I absolutely LOVE this devotional! Lots of har...
42,42,Wed Apr 03 16:29:59 +0000 2019,Eugenia B Halbert,1051525737939791872,1,1,0,I just finished day 26 of the @YouVersion plan...
53,53,Wed Apr 03 16:07:55 +0000 2019,was @XOXO_DIM,1047444897819709441,301,0,66,RT @livechristian1: **VERSE OF THE DAY**\r\n\r...
87,87,Mon Mar 25 13:11:19 +0000 2019,John Mason,1022833002613755906,514,3,0,Making Marriage Beautiful\r\nhttps://t.co/wCj1...
75,75,Wed Mar 27 05:00:40 +0000 2019,We Will Worship,1006082367151370240,182,16,0,Here is your 'Verse of the day'!\r\n\r\nImage ...
10,10,Wed Apr 03 05:00:33 +0000 2019,We Will Worship,1006082367151370240,182,1,0,Here is your 'Verse of the day'!\r\n\r\nImage ...
82,82,Tue Mar 26 05:00:32 +0000 2019,We Will Worship,1006082367151370240,182,2,0,Here is your 'Verse of the day'!\r\n\r\nImage ...
23,23,Tue Apr 02 05:00:36 +0000 2019,We Will Worship,1006082367151370240,182,0,0,Here is your 'Verse of the day'!\r\n\r\nImage ...
68,68,Thu Mar 28 05:00:37 +0000 2019,We Will Worship,1006082367151370240,182,2,0,Here is your 'Verse of the day'!\r\n\r\nImage ...
43,43,Sun Mar 31 05:00:25 +0000 2019,We Will Worship,1006082367151370240,182,0,1,Here is your 'Verse of the day'!\r\n\r\nImage ...
54,54,Sat Mar 30 05:00:30 +0000 2019,We Will Worship,1006082367151370240,182,0,0,Here is your 'Verse of the day'!\r\n\r\nImage ...
89,89,Mon Mar 25 05:00:34 +0000 2019,We Will Worship,1006082367151370240,182,1,0,Here is your 'Verse of the day'!\r\n\r\nImage ...
60,60,Fri Mar 29 05:00:33 +0000 2019,We Will Worship,1006082367151370240,182,8,1,Here is your 'Verse of the day'!\r\n\r\nImage ...
75,75,Wed Apr 03 15:24:10 +0000 2019,BonShiiiin,989689525638053891,41,0,66,RT @livechristian1: **VERSE OF THE DAY**\r\n\r...
14,14,Wed Apr 03 01:19:17 +0000 2019,Team Of Indore,963337426205732864,794,0,1,RT @SteveRepak: A 7 Day #Bible reading Plan to...
36,36,Wed Apr 03 16:37:48 +0000 2019,lina,961363261391286278,99,0,5,"RT @ShellNotFall: ""No matter how intimidating ..."
57,57,Fri Mar 29 11:13:37 +0000 2019,Ariane Desbiens,937281240398360576,541,0,1,RT @_TORedemption: I was reflecting on prayer ...
51,51,Sat Mar 30 05:24:50 +0000 2019,God bless you,928618106863448064,2898,0,1,RT @AmyHood8611: The @YouVersion Bible App has...
96,96,Wed Apr 03 14:54:53 +0000 2019,"it's ya queen, dlho 👸🏾",882961952905080832,647,0,94,"RT @YouVersion: Come to me, all you who are we..."
30,30,Wed Apr 03 16:56:49 +0000 2019,Neal Detwiler,870671371990294529,3,0,0,I just finished day 14 of the @YouVersion plan...
50,50,Sat Mar 30 05:51:50 +0000 2019,Amy Hood,858101747037777920,163,0,0,I just finished day 1 of the @YouVersion plan ...
52,52,Sat Mar 30 05:18:56 +0000 2019,Amy Hood,858101747037777920,163,3,1,The @YouVersion Bible App has a permanent spot...
91,91,Wed Apr 03 14:58:27 +0000 2019,𝓌𝒾𝓃𝓃,851358611934543876,126,0,66,RT @livechristian1: **VERSE OF THE DAY**\r\n\r...
1,1,Wed Apr 03 18:27:03 +0000 2019,D Rock,836680006151598080,14,0,118,RT @YouVersion: For God so loved the world tha...
...,...,...,...,...,...,...,...,...
56,56,Wed Apr 03 16:06:10 +0000 2019,Julie Morales,67817457,313,0,0,I just finished day 359 of the @YouVersion pla...
74,74,Wed Apr 03 15:25:29 +0000 2019,Julie Morales,67817457,313,0,0,I just finished day 29 of the @YouVersion plan...
92,92,Wed Apr 03 14:56:39 +0000 2019,Doug Stoufer,59890551,86,0,0,I just finished day 93 of the @YouVersion plan...
64,64,Thu Mar 28 12:18:47 +0000 2019,Lamar Gibbs,58103754,1047,0,1,RT @_TORedemption: I was reflecting on prayer ...
84,84,Wed Apr 03 15:11:25 +0000 2019,RonieG,55963783,412,1,0,I just finished day 102 of the @YouVersion pla...
33,33,Wed Apr 03 16:47:23 +0000 2019,CHINAJO,49310650,297,0,94,"RT @YouVersion: Come to me, all you who are we..."
0,0,Wed Apr 03 18:29:11 +0000 2019,Michael,47602876,89,0,94,"RT @YouVersion: Come to me, all you who are we..."
20,20,Wed Apr 03 17:21:05 +0000 2019,Kat,46531841,6,0,94,"RT @YouVersion: Come to me, all you who are we..."
79,79,Tue Mar 26 10:46:32 +0000 2019,Tyler H. McCart,41003064,712,0,0,“The mature children of God are those who are ...
62,62,Wed Apr 03 15:47:02 +0000 2019,👋🏾HeyyyAmber✨,40970263,324,0,66,RT @livechristian1: **VERSE OF THE DAY**\r\n\r...
27,27,Mon Apr 01 21:42:05 +0000 2019,Albert Brückmann,39731485,426,0,7,RT @bobbygwald: There’s no risk of failure wit...
44,44,Sat Mar 30 19:09:14 +0000 2019,ekido rachael,36240704,118,0,1,RT @we_will_worship: Here is your 'Verse of th...
28,28,Wed Apr 03 17:10:40 +0000 2019,Mattisa M.,32259939,2017,1,0,I just finished day 2 of the @YouVersion plan ...
32,32,Wed Apr 03 16:51:45 +0000 2019,Arthur Koutsenko,27963762,645,0,66,RT @livechristian1: **VERSE OF THE DAY**\r\n\r...
83,83,Wed Apr 03 15:11:32 +0000 2019,Alexandra Molina,27803846,824,2,0,I just finished day 27 of the @YouVersion plan...
7,7,Wed Apr 03 18:02:05 +0000 2019,Brent Dumler,27665200,2236,0,0,Fearing the unknown outcomes of stepping into ...
5,5,Wed Apr 03 18:14:04 +0000 2019,Ernie Sullivan,23793826,27,0,0,I just finished day 270 of the @YouVersion pla...
9,9,Wed Apr 03 17:58:59 +0000 2019,Ernie Sullivan,23793826,27,1,0,I just finished day 29 of the @YouVersion plan...
8,8,Wed Apr 03 18:01:33 +0000 2019,⚓️Mermaid at Heart⚓,21540776,1109,0,0,I'm reading the @YouVersion plan 'Uncensored: ...
11,11,Wed Apr 03 04:00:32 +0000 2019,Jon Edmiston,21139402,361,0,7,RT @bobbygwald: There’s no risk of failure wit...
60,60,Wed Apr 03 15:50:00 +0000 2019,Joan Bandy,17141143,129,0,94,"RT @YouVersion: Come to me, all you who are we..."
87,87,Wed Apr 03 15:05:35 +0000 2019,Tobias Dunn,16576930,129,0,0,(Image and Scripture is courtesy of @youversio...
37,37,Wed Apr 03 16:37:00 +0000 2019,Lino Morales,15564938,1190,0,0,I just finished day 3 of the @YouVersion plan ...
59,59,Wed Apr 03 15:54:18 +0000 2019,Lino Morales,15564938,1190,0,0,I finished the Tremble From MOSAIC MSC Bible r...
61,61,Wed Apr 03 15:47:58 +0000 2019,Lino Morales,15564938,1190,0,0,I just finished day 3 of the @YouVersion plan ...
63,63,Wed Apr 03 15:44:19 +0000 2019,Lino Morales,15564938,1190,0,0,I just finished day 29 of the @YouVersion plan...
85,85,Wed Apr 03 15:10:51 +0000 2019,Lino Morales,15564938,1190,0,0,I just finished day 28 of the @YouVersion plan...
29,29,Wed Apr 03 16:57:30 +0000 2019,Lucas Kunert,14480636,931,0,0,Pretty pleased with this streak in @youversion...
78,78,Wed Apr 03 15:22:33 +0000 2019,Bob Mungovan,10747722,460,1,0,I just finished day 220 of the @YouVersion pla...
29,29,Mon Apr 01 19:04:37 +0000 2019,Bobby Gruenewald,1409471,34769,36,7,There’s no risk of failure with God! So why wo...

In [80]:
bible_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,191.000000,1.910000e+02,191.000000,191.000000,191.000000
mean,52.790576,2.205748e+17,2026.293194,0.748691,21.183246
std,52.905657,3.978128e+17,4455.951986,3.006954,39.855039
min,0.000000,1.409471e+06,1.000000,0.000000,0.000000
25%,24.500000,1.464104e+08,89.500000,0.000000,0.000000
50%,48.000000,1.099914e+09,313.000000,0.000000,0.000000
75%,72.000000,3.667774e+09,1078.000000,1.000000,7.000000
max,553.000000,1.112643e+18,34769.000000,36.000000,163.000000

In [81]:
# Count total out of Unique Tweets
bible_total_tweets = len(bible_filtered_df['Tweet Text'])
bible_total_tweets

191

In [82]:
# Calculate Avg Followers - doesn't make sense to sum.
bible_avg_followers_ct = bible_filtered_df['User Follower Count'].mean()
bible_avg_followers_ct

2026.2931937172775

In [83]:
# Total Likes of all tweets
bible_total_likes = bible_filtered_df['Likes Counts'].sum()
#bible_avg_likes = bible_filtered_df['Likes Counts'].mean()
bible_total_likes
#bible_avg_likes

143

In [84]:
# Retweets Stats:
#bible_sum_retweets = bible_filtered_df['ReTweet Count'].sum()
bible_avg_retweets = bible_filtered_df['ReTweet Count'].mean()
#bible_sum_retweets
bible_avg_retweets

21.18324607329843

### Candy Crush Saga Calculations

In [83]:
plug = 'candycrushsaga'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
CandyCrushSaga_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
CandyCrushSaga_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,6069.000000,6.069000e+03,6069.000000,6069.000000,6069.000000
mean,507.865546,2.286053e+17,4947.816609,1.328720,0.404844
std,296.462105,4.008503e+17,22191.791507,5.014501,1.048455
min,0.000000,1.270613e+07,0.000000,0.000000,0.000000
25%,252.000000,2.488358e+08,122.000000,0.000000,0.000000
50%,505.000000,7.947122e+08,406.000000,0.000000,0.000000
75%,758.000000,4.274617e+09,1225.000000,1.000000,0.000000
max,1099.000000,1.113483e+18,168471.000000,53.000000,5.000000

In [87]:
# has duplicates
CandyCrushSaga_source_df.sort_values(by=['User ID','Created At'], ascending=False)
CandyCrushSaga_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 22:56:01 +0000 2019,Jack,820375452468514816,92,0,0,@CandyCrushSaga Is this on the souljaphone?
1,1,Wed Apr 03 22:32:38 +0000 2019,Emyly A. Sivira R.,411661824,100,0,0,@CandyCrushSaga 👍
2,2,Wed Apr 03 17:43:33 +0000 2019,Alex Sprague,381743591,2222,0,0,@candycrushsaga candy_crush_soda oh wow. Wasn’...
3,3,Wed Apr 03 17:23:07 +0000 2019,Leah Bartlett,755644242,275,0,0,@CandyCrushSaga Android!
4,4,Wed Apr 03 17:10:43 +0000 2019,Wendy’s World,882972754890428417,1818,2,0,@OhioSQ @cassieglows @28DaysMore @CandyCrushSa...

In [88]:
# Drop Duplicates only for matching columns omitting the index
CandyCrushSaga_filtered_df = CandyCrushSaga_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [89]:
# Get New Snap Shot Statistics
CandyCrushSaga_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,192.000000,1.920000e+02,192.000000,192.000000,192.000000
mean,47.182292,2.067172e+17,7109.208333,1.598958,0.380208
std,27.455687,3.897017e+17,27030.514906,6.021828,1.051662
min,0.000000,1.270613e+07,0.000000,0.000000,0.000000
25%,25.000000,1.658855e+08,122.000000,0.000000,0.000000
50%,47.000000,7.556442e+08,411.500000,0.000000,0.000000
75%,70.000000,3.556615e+09,1818.000000,1.000000,0.000000
max,99.000000,1.113483e+18,168471.000000,53.000000,5.000000

In [90]:
CandyCrushSaga_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
6,6,Wed Apr 03 17:16:54 +0000 2019,Lori123,1113483046705979393,0,0,0,"""Play Candy Crush with me! --&gt; https://t.co..."
13,13,Wed Apr 03 09:33:28 +0000 2019,Laplace francoise,1113369305876398080,0,0,0,"""Play Candy Crush with me! --&gt; https://t.co..."
40,40,Sun Mar 31 21:46:02 +0000 2019,francesca,1112468568904474627,0,0,0,"""Play Candy Crush with me! --&gt; https://t.co..."
37,37,Wed Apr 03 05:49:54 +0000 2019,DJ PRINCE KEN-C,1109559524799799301,2,0,0,@ivwa @CandyCrushSaga Hi
13,13,Wed Apr 03 13:57:56 +0000 2019,Joanne Hayleigh,1109183320024403968,2,0,1,RT @axebangeraxelor: ⁦@CandyCrushSaga⁩ I know ...

In [91]:
# Count total out of Unique Tweets
candycrushsaga_total_tweets = len(CandyCrushSaga_filtered_df['Tweet Text'])
candycrushsaga_total_tweets

192

In [92]:
# Calculate Avg Followers - doesn't make sense to sum.
candycrushsaga_avg_followers_ct = CandyCrushSaga_filtered_df['User Follower Count'].mean()
candycrushsaga_avg_followers_ct

7109.208333333333

In [93]:
# Total Likes of all tweets
candycrushsaga_total_likes = CandyCrushSaga_filtered_df['Likes Counts'].sum()
#facebook_avg_likes = facebook_filtered_df['Likes Counts'].mean()
candycrushsaga_total_likes
#facebook_avg_likes

307

In [94]:
# Retweets Stats:
#facebook_sum_retweets = facebook_filtered_df['ReTweet Count'].sum()
candycrushsaga_avg_retweets = CandyCrushSaga_filtered_df['ReTweet Count'].mean()
#facebook_sum_retweets
candycrushsaga_avg_retweets

0.3802083333333333

### Spotify Music Caculations

In [84]:
plug = 'spotify'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
spotify_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
spotify_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,3139.000000,3.139000e+03,3139.000000,3139.000000,3139.000000
mean,784.148136,2.644418e+17,10774.734947,0.280663,172.918764
std,596.843192,4.283853e+17,70140.745584,1.650824,515.985566
min,0.000000,3.646461e+06,0.000000,0.000000,0.000000
25%,261.000000,2.858961e+08,154.000000,0.000000,0.000000
50%,640.000000,1.706741e+09,524.000000,0.000000,1.000000
75%,1264.500000,7.747843e+17,1881.000000,0.000000,13.000000
max,2049.000000,1.113600e+18,763374.000000,17.000000,4958.000000

In [97]:
spotify_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 18:43:08 +0000 2019,theo,1103828047059345409,54,0,792,"RT @PViphurit: A lot of love for you, 2018 @Sp..."
1,1,Wed Apr 03 18:43:06 +0000 2019,yes,1000405371507347456,11,0,0,@Spotify CHANGE THE LAYOUT BACK THAT SHIT IS UGLY
2,2,Wed Apr 03 18:43:03 +0000 2019,𝐃𝐀𝐍𝐈,796905277421449216,908,0,0,Thank you @Spotify for this playlist. 😍😍 https...
3,3,Wed Apr 03 18:43:01 +0000 2019,RunBTS,860162403102797825,1265,0,1005,RT @blobyblo: Million+ souls listening to us r...
4,4,Wed Apr 03 18:43:00 +0000 2019,✴Azul Spears✴❤❄😍💕,4485474317,177,0,5,RT @eshygazit: MONBEBE ALERT! \r\nLet's stream...

In [98]:
# Sort to set up removal of duplicates
spotify_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
46,46,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,778,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
126,126,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
206,206,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
286,286,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
365,365,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
444,444,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
524,524,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
605,605,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
686,686,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
767,767,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
49,49,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
129,129,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
209,209,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
289,289,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
368,368,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
447,447,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
527,527,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
608,608,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
689,689,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
770,770,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
65,65,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,778,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
145,145,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
225,225,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
305,305,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
384,384,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
463,463,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
543,543,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
624,624,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
705,705,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
786,786,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
...,...,...,...,...,...,...,...,...
1237,1237,Wed Apr 03 18:39:02 +0000 2019,Silentz Beats,15869104,54,0,0,@JoeBuddenPod @JoeBudden @Spotify @thisisrory ...
1335,1335,Wed Apr 03 18:39:02 +0000 2019,Silentz Beats,15869104,54,0,0,@JoeBuddenPod @JoeBudden @Spotify @thisisrory ...
1526,1526,Wed Apr 03 18:39:02 +0000 2019,Silentz Beats,15869104,54,0,0,@JoeBuddenPod @JoeBudden @Spotify @thisisrory ...
1621,1621,Wed Apr 03 18:39:02 +0000 2019,Silentz Beats,15869104,54,0,0,@JoeBuddenPod @JoeBudden @Spotify @thisisrory ...
1718,1718,Wed Apr 03 18:39:02 +0000 2019,Silentz Beats,15869104,54,0,0,@JoeBuddenPod @JoeBudden @Spotify @thisisrory ...
1813,1813,Wed Apr 03 18:39:02 +0000 2019,Silentz Beats,15869104,54,0,0,@JoeBuddenPod @JoeBudden @Spotify @thisisrory ...
1908,1908,Wed Apr 03 18:39:02 +0000 2019,Silentz Beats,15869104,54,0,0,@JoeBuddenPod @JoeBudden @Spotify @thisisrory ...
2005,2005,Wed Apr 03 18:39:02 +0000 2019,Silentz Beats,15869104,54,0,0,@JoeBuddenPod @JoeBudden @Spotify @thisisrory ...
62,62,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
154,154,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
247,247,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
339,339,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
431,431,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
523,523,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
615,615,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
707,707,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
799,799,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
892,892,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
984,984,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1077,1077,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1170,1170,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1263,1263,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1361,1361,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1552,1552,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1647,1647,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1744,1744,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1839,1839,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1934,1934,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
2031,2031,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1463,1463,Wed Apr 03 18:44:04 +0000 2019,Yukito,3646461,591,0,1,RT @gaymer_mx: De las últimas fotos que le he ...

In [99]:
# Drop Duplicates only for matching columns omitting the index
spotify_filtered_df = spotify_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [100]:
spotify_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
46,46,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,778,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
126,126,Thu Apr 04 00:35:27 +0000 2019,md faruk,1113600206367539201,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
49,49,Thu Apr 04 00:34:49 +0000 2019,N8teHens,1113599070466183168,0,1,0,Should I Finish!? Retwet/follow new to Twitter...
65,65,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,778,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
145,145,Thu Apr 04 00:27:38 +0000 2019,Akter523,1113598086624890880,0,0,777,RT @iamterrell5: https://t.co/lkfOCpnHCj\r\n\r...
47,47,Thu Apr 04 00:35:24 +0000 2019,yoko seay,1113597154860265473,0,0,709,RT @beckman_jay: the official Teaser Video 4 #...
72,72,Thu Apr 04 00:25:05 +0000 2019,Brittany,1113155188238495744,5,0,0,#Spotify has introduced me to 4 #BillieEilish ...
1445,1445,Wed Apr 03 18:44:04 +0000 2019,maría,1112723071604060161,84,0,366,RT @adriianasnchez: Cuando miro cuerpos ajenos...
69,69,Wed Apr 03 18:35:30 +0000 2019,BloggerTeaRT ☕️ 🔁,1105511441766010880,906,0,2,RT @fleurdubelle: If you haven’t checked out m...
0,0,Wed Apr 03 18:43:08 +0000 2019,theo,1103828047059345409,54,0,792,"RT @PViphurit: A lot of love for you, 2018 @Sp..."
1490,1490,Wed Apr 03 18:43:08 +0000 2019,theo,1103828047059345409,55,0,792,"RT @PViphurit: A lot of love for you, 2018 @Sp..."
1408,1408,Wed Apr 03 18:44:04 +0000 2019,Sister-Help,1103740540049416192,1,0,0,"@Dani_Gove Super fan de tu madre desde ya!!!, ..."
21,21,Thu Apr 04 00:45:59 +0000 2019,유천 정보계정,1103505768962125824,37,0,1,[랭킹 정보] 今週のSNS人気曲ランキング 1位にTOMORROW X TOGETHER ...
1417,1417,Wed Apr 03 18:44:04 +0000 2019,Nymphadora,1103323792921759744,379,0,0,"@mairahaunau Jamás he leído tal aberración, y ..."
1473,1473,Wed Apr 03 18:44:04 +0000 2019,Justicia & Corrupción,1089891068718518273,146,0,2,RT @apocalipsispol1: brasil.argentina peru el ...
17,17,Thu Apr 04 00:46:27 +0000 2019,⚔️BZY⚔️,1087118833570275329,119,2,0,https://t.co/ndo37htWED▶️▶️ #Spotify #Music
19,19,Wed Apr 03 18:41:16 +0000 2019,Eskimo Hoe,1086193985377439744,23,0,0,"@Spotify doesnt have any algorithms, they just..."
1424,1424,Wed Apr 03 18:44:04 +0000 2019,Fan de Jon Snow,1078124564465491970,158,0,0,"@Elian2X Uffff tremenda esa escena, creo que f..."
41,41,Thu Apr 04 00:36:37 +0000 2019,MR_HASSAN_ALI,1076295275000578049,118,0,0,#Spotifyplaylist #Spotify @SpotifyUK https://t...
29,29,Wed Apr 03 18:39:56 +0000 2019,Lily🌸,1059755315669872645,3,0,1005,RT @blobyblo: Million+ souls listening to us r...
1519,1519,Wed Apr 03 18:39:56 +0000 2019,Lily🌸,1059755315669872645,3,0,1006,RT @blobyblo: Million+ souls listening to us r...
1901,1901,Wed Apr 03 18:39:56 +0000 2019,Lily🌸,1059755315669872645,3,0,1007,RT @blobyblo: Million+ souls listening to us r...
1390,1390,Wed Apr 03 18:44:04 +0000 2019,FF,1050110043935428608,90,0,0,"@ETClubHQ Sorry y’all , I pick @QuienComoDios7..."
1394,1394,Wed Apr 03 18:44:04 +0000 2019,luisa portillo,1042010838427742213,2,0,603,RT @JuanOrlandoH: Esta es una solución integra...
78,78,Thu Apr 04 00:20:30 +0000 2019,« a sad taeddie bear.🥀 »,1037485197942509570,298,0,4,RT @RT2EAT: Best Spotify #Rap Music\r\n🎙 'Miam...
67,67,Thu Apr 04 00:26:38 +0000 2019,Anna,1036636873047851008,593,0,34,RT @CentralTXTBR: [#SPOTIFY]\r\n\r\nO @TXT_mem...
1464,1464,Wed Apr 03 18:44:04 +0000 2019,#WanjikuRevoltKenya,1035936692761440257,28,0,0,@thekhrc So this hullabaloo on #DataProtection...
1393,1393,Wed Apr 03 18:44:04 +0000 2019,Ezequiel,1034835194128330752,316,0,0,Día completo de reuniones. En primer lugar con...
2,2,Thu Apr 04 00:50:00 +0000 2019,deb,1034374916634595328,156,0,540,RT @BTS_ITALIA: [#GIVEAWAY 🇮🇹] SPOTIFY 🎧\r\nAv...
11,11,Wed Apr 03 18:42:33 +0000 2019,CrazyCoolCorry,1032015530918600705,17,0,1,RT @thetigerbelly: Episode 188: @DaneCook &amp...
...,...,...,...,...,...,...,...,...
67,67,Wed Apr 03 18:35:46 +0000 2019,Valeskaaaaaaaa,72168530,1609,1,0,@iLadySwoop It is legit who tf still listen to...
1395,1395,Wed Apr 03 18:44:04 +0000 2019,Fred,63255048,1711,0,0,Mi peor racha fueron 21 partidas perdidas que ...
1444,1444,Wed Apr 03 18:44:04 +0000 2019,la chamita🌴,61317322,695,0,0,tu y tu jevito son super cuchis y me encantan ...
25,25,Wed Apr 03 18:40:37 +0000 2019,Yats SO.,60112188,1496,0,6,RT @Tiggarachi: Bregma Freestyle at 200k+ stre...
1410,1410,Wed Apr 03 18:44:04 +0000 2019,Xisca The Warrior,58490776,660,0,0,Sería más afortunado sacar Colectivización a M...
557,557,Thu Apr 04 00:51:17 +0000 2019,#JEAN▫️,56138291,283,0,0,"Escuta essa! ""Jack &amp; Diane"" by John Mellen..."
1458,1458,Wed Apr 03 18:44:04 +0000 2019,Bravo Pueblo,48596613,1939,0,169,"RT @USAenEspanol: ""EE.UU. está pre-ubicando as..."
1429,1429,Wed Apr 03 18:44:04 +0000 2019,Yago Hansen,46105717,3948,0,7,RT @conde112: Disfrutando de la compañía de\r\...
25,25,Thu Apr 04 00:45:09 +0000 2019,Blabpipe,43115737,2327,0,0,Hard Rock Now a great #spotifyplaylist - #yout...
1467,1467,Wed Apr 03 18:44:04 +0000 2019,Renato González,40660739,146,0,1,RT @SduenasV: @VeronicaO_gtv Pero se rasgan la...
79,79,Thu Apr 04 00:19:40 +0000 2019,LeeGoddess,40427679,168,0,0,New World Takedown is now playing on #spotify ...
8,8,Thu Apr 04 00:48:48 +0000 2019,CRUCIAL_BEEN_GOOD,34290792,1693,1,0,From @zdk305 - It’s out now y’all go check o...
1955,1955,Wed Apr 03 18:44:43 +0000 2019,ZainR,31002938,3953,0,0,@LindseyStirling @vrbroussard @Spotify I'm mor...
1480,1480,Wed Apr 03 18:44:16 +0000 2019,ZainR,31002938,3953,0,34,RT @LindseyStirling: I'm featured on @vrbrouss...
85,85,Wed Apr 03 18:33:48 +0000 2019,𝙰𝚟𝚘𝚕𝚢𝚗 𝙵𝚒𝚜𝚑𝚎𝚛,28207374,1293,0,0,Current Mood: #GarageJams playlist on @Spotify...
57,57,Thu Apr 04 00:32:02 +0000 2019,White Peppa,26071895,177,0,0,Ice cream cone for the win! #WhitePeppa #ConeF...
43,43,Wed Apr 03 18:37:47 +0000 2019,✨Cory Giles✨,23644141,612,0,616,RT @JoeBuddenPod: The @JoeBudden Podcast Episo...
1342,1342,Wed Apr 03 18:37:47 +0000 2019,✨Cory Giles✨,23644141,612,0,617,RT @JoeBuddenPod: The @JoeBudden Podcast Episo...
48,48,Wed Apr 03 18:37:22 +0000 2019,Eshy Gazit,20491275,36365,9,5,MONBEBE ALERT! \r\nLet's stream #playitcool on...
417,417,Wed Apr 03 18:37:22 +0000 2019,Eshy Gazit,20491275,36365,10,6,MONBEBE ALERT! \r\nLet's stream #playitcool on...
601,601,Wed Apr 03 18:37:22 +0000 2019,Eshy Gazit,20491275,36364,10,6,MONBEBE ALERT! \r\nLet's stream #playitcool on...
1538,1538,Wed Apr 03 18:37:22 +0000 2019,Eshy Gazit,20491275,36364,11,7,MONBEBE ALERT! \r\nLet's stream #playitcool on...
1730,1730,Wed Apr 03 18:37:22 +0000 2019,Eshy Gazit,20491275,36364,12,7,MONBEBE ALERT! \r\nLet's stream #playitcool on...
1387,1387,Wed Apr 03 18:44:04 +0000 2019,Luke Griffin,19058788,518,0,0,"The best words. Also y’all, he found the word ..."
86,86,Wed Apr 03 18:33:44 +0000 2019,Mint Records,18781288,7448,0,0,Giles (@visionloser) from Woolworm (@creatureo...
84,84,Wed Apr 03 18:33:49 +0000 2019,Amanda Duarte,18335632,20218,0,1,RT @dougilustra: AMIGOS PODCASTEIROS: Alguém p...
1476,1476,Wed Apr 03 18:44:04 +0000 2019,sebastian,17938516,1286,0,3,RT @Brianmatico: Todo bien con las críticas al...
36,36,Wed Apr 03 18:39:02 +0000 2019,Silentz Beats,15869104,54,0,0,@JoeBuddenPod @JoeBudden @Spotify @thisisrory ...
62,62,Wed Apr 03 18:36:15 +0000 2019,Sami Yusuf,8510412,763374,0,3,RT @SaadetAtes_: @SamiYusuf @DeezerMENA @deeze...
1463,1463,Wed Apr 03 18:44:04 +0000 2019,Yukito,3646461,591,0,1,RT @gaymer_mx: De las últimas fotos que le he ...

In [101]:
spotify_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,318.000000,3.180000e+02,318.000000,318.000000,318.000000
mean,659.512579,2.883874e+17,6625.415094,0.320755,198.352201
std,703.730428,4.437917e+17,46667.073220,1.793155,509.779827
min,0.000000,3.646461e+06,0.000000,0.000000,0.000000
25%,39.250000,2.490009e+08,135.000000,0.000000,0.000000
50%,79.000000,2.256182e+09,402.500000,0.000000,2.000000
75%,1427.750000,8.249030e+17,1592.250000,0.000000,77.750000
max,1955.000000,1.113600e+18,763374.000000,16.000000,4958.000000

In [102]:
# Count total out of Unique Tweets
spotify_total_tweets = len(spotify_filtered_df['Tweet Text'])
spotify_total_tweets

318

In [103]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
spotify_avg_followers_ct = spotify_filtered_df['User Follower Count'].mean()
spotify_avg_followers_ct

6625.415094339623

In [104]:
# Total Likes of all tweets
spotify_total_likes = spotify_filtered_df['Likes Counts'].sum()
#spotify_avg_likes = spotify_filtered_df['Likes Counts'].mean()
spotify_total_likes
#spotify_avg_likes

102

In [105]:
# Retweets Stats:
#spotify_sum_retweets = spotify_filtered_df['ReTweet Count'].sum()
spotify_avg_retweets = spotify_filtered_df['ReTweet Count'].mean()
#spotify_sum_retweets
spotify_avg_retweets

198.35220125786162

### Angry Birds Calculations

In [85]:
plug = 'angrybirds'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
angrybirds_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
angrybirds_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,3387.000000,3.387000e+03,3387.000000,3387.000000,3387.000000
mean,589.128727,5.618638e+17,1102.092707,1.003543,44.979037
std,369.603864,4.712704e+17,5249.955169,3.227904,53.903042
min,0.000000,9.444002e+06,2.000000,0.000000,0.000000
25%,282.000000,2.884984e+09,35.000000,0.000000,0.000000
50%,564.000000,7.833526e+17,121.000000,0.000000,4.000000
75%,846.000000,9.955561e+17,296.000000,0.000000,113.000000
max,1462.000000,1.113460e+18,77775.000000,34.000000,113.000000

In [108]:
angrybirds_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 18:39:59 +0000 2019,It's so cold ...,718360155881107457,21,0,0,"@outofcontxtAB @AngryBirds well, do you mind i..."
1,1,Wed Apr 03 18:36:24 +0000 2019,Captain Conker Diamond,1092963824724922371,9,0,113,RT @AngryBirds: @nocontxtsonic 😘 https://t.co/...
2,2,Wed Apr 03 18:08:10 +0000 2019,Brandon,2764719670,54,0,0,@AngryBirds @nocontxtsonic https://t.co/PzmTCI...
3,3,Wed Apr 03 17:43:15 +0000 2019,PikaSalt,1270461625,39,0,113,RT @AngryBirds: @nocontxtsonic 😘 https://t.co/...
4,4,Wed Apr 03 17:42:53 +0000 2019,Mīğhțý Řęđ ßïŕđ,3065302962,450,1,0,@brennanhorn3 @AngryBirds @TiffanyArtist56 I'v...

In [109]:
# Sort to set up removal of duplicates
angrybirds_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
7,7,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
84,84,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
161,161,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
238,238,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
315,315,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
392,392,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
469,469,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
546,546,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
623,623,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
700,700,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
777,777,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
854,854,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
931,931,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1008,1008,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1085,1085,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1162,1162,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1239,1239,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1316,1316,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
1393,1393,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
88,88,Tue Apr 02 00:28:49 +0000 2019,Angel,1111106610972246017,3,0,2,RT @learnwithlibby: I LOVE @angrybirds 😍❤️ So ...
188,188,Tue Apr 02 00:28:49 +0000 2019,Angel,1111106610972246017,3,0,2,RT @learnwithlibby: I LOVE @angrybirds 😍❤️ So ...
289,289,Tue Apr 02 00:28:49 +0000 2019,Angel,1111106610972246017,3,0,2,RT @learnwithlibby: I LOVE @angrybirds 😍❤️ So ...
389,389,Tue Apr 02 00:28:49 +0000 2019,Angel,1111106610972246017,3,0,2,RT @learnwithlibby: I LOVE @angrybirds 😍❤️ So ...
489,489,Tue Apr 02 00:28:49 +0000 2019,Angel,1111106610972246017,3,0,2,RT @learnwithlibby: I LOVE @angrybirds 😍❤️ So ...
589,589,Tue Apr 02 00:28:49 +0000 2019,Angel,1111106610972246017,3,0,2,RT @learnwithlibby: I LOVE @angrybirds 😍❤️ So ...
689,689,Tue Apr 02 00:28:49 +0000 2019,Angel,1111106610972246017,3,0,2,RT @learnwithlibby: I LOVE @angrybirds 😍❤️ So ...
789,789,Tue Apr 02 00:28:49 +0000 2019,Angel,1111106610972246017,3,0,2,RT @learnwithlibby: I LOVE @angrybirds 😍❤️ So ...
889,889,Tue Apr 02 00:28:49 +0000 2019,Angel,1111106610972246017,3,0,2,RT @learnwithlibby: I LOVE @angrybirds 😍❤️ So ...
989,989,Tue Apr 02 00:28:49 +0000 2019,Angel,1111106610972246017,3,0,2,RT @learnwithlibby: I LOVE @angrybirds 😍❤️ So ...
55,55,Wed Apr 03 13:04:40 +0000 2019,Barbara Parker,1110537277250437120,27,0,9,RT @AngryBirds: There's a prize to whoever can...
...,...,...,...,...,...,...,...,...
80,80,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
180,180,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
281,281,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
381,381,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
481,481,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
581,581,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
681,681,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
781,781,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
881,881,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
981,981,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
7,7,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
107,107,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
208,208,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
308,308,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
408,408,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
508,508,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
608,608,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
708,708,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
808,808,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
908,908,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
8,8,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
108,108,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
209,209,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
309,309,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
409,409,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
509,509,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
609,609,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
709,709,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
809,809,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...
909,909,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...

In [110]:
# Drop Duplicates only for matching columns omitting the index
angrybirds_filtered_df = angrybirds_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [111]:
angrybirds_filtered_df

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
7,7,Wed Apr 03 17:18:33 +0000 2019,Out of context Angry Birds,1113460075354644480,6,0,0,@Mighty_Chuck @AngryBirds We already did that.
88,88,Tue Apr 02 00:28:49 +0000 2019,Angel,1111106610972246017,3,0,2,RT @learnwithlibby: I LOVE @angrybirds 😍❤️ So ...
55,55,Wed Apr 03 13:04:40 +0000 2019,Barbara Parker,1110537277250437120,27,0,9,RT @AngryBirds: There's a prize to whoever can...
16,16,Wed Apr 03 15:50:12 +0000 2019,No Context RadicalSoda,1102097920688500736,261,0,113,RT @AngryBirds: @nocontxtsonic 😘 https://t.co/...
89,89,Tue Apr 02 00:18:12 +0000 2019,Elizabeth Montgomery,1101877643773923328,69,2,2,I LOVE @angrybirds 😍❤️ So I’ve decided to do a...
1,1,Thu Apr 04 00:01:31 +0000 2019,Elizabeth Montgomery,1101877643773923328,69,0,0,CHUCK 💛🧡 \r\nI’m not completely happy with his...
25,25,Wed Apr 03 16:02:17 +0000 2019,Rubber,1098993894761603072,9,2,0,A quick drawing I made to cheer up @snowythewi...
71,71,Tue Apr 02 16:06:25 +0000 2019,Over The Hedge,1095578566690070533,143,34,6,"02/04/19 16:45. Big, fluffy storm clouds and,..."
1,1,Wed Apr 03 18:36:24 +0000 2019,Captain Conker Diamond,1092963824724922371,9,0,113,RT @AngryBirds: @nocontxtsonic 😘 https://t.co/...
46,46,Wed Apr 03 06:15:08 +0000 2019,CrazeeGLife,1092317511146659840,6,0,1,Playing Angry Birds on iPad as I can’t game to...
78,78,Tue Apr 02 10:39:15 +0000 2019,SpringBoard,1089429373290082304,3,2,1,The Angry Birds 2 Movie l Official Trailer\r\n...
77,77,Tue Apr 02 10:47:40 +0000 2019,Higamer,1087921188523991041,90,12,1,Angry Birds Emojis for April fool's day😌\r\nPl...
95,95,Mon Apr 01 18:52:50 +0000 2019,Red bird,1085912137992593410,19,0,1,RT @YanaThePinkBird: Aww red looks soo adorabl...
23,23,Wed Apr 03 15:18:22 +0000 2019,Alex #TeamSobble,1083118672611295232,11,0,113,RT @AngryBirds: @nocontxtsonic 😘 https://t.co/...
8,8,Wed Apr 03 17:16:00 +0000 2019,Matt,1074399992499060736,35,0,113,RT @AngryBirds: @nocontxtsonic 😘 https://t.co/...
35,35,Wed Apr 03 13:09:23 +0000 2019,Juan. R,1073613928385568768,46,0,5,RT @KoiliTheArtist: @Alien_Opossum told me to ...
58,58,Tue Apr 02 23:08:23 +0000 2019,Juan. R,1073613928385568768,46,3,2,Here is Stella and Yana. \r\nIn the angry bird...
59,59,Wed Apr 03 12:46:07 +0000 2019,SuperTails16,1059707729843904512,40,0,113,RT @AngryBirds: @nocontxtsonic 😘 https://t.co/...
45,45,Wed Apr 03 06:20:13 +0000 2019,KingPar2ival,1049518241243164672,896,0,1,RT @crazeeglife: Playing Angry Birds on iPad a...
5,5,Wed Apr 03 17:34:26 +0000 2019,brennan horn,1049422229681844224,18,1,0,@Mighty_Red_Bird @AngryBirds @TiffanyArtist56 ...
24,24,Wed Apr 03 15:14:29 +0000 2019,Monkey!🐞 #jjln_anime,1045719385514684416,2967,0,113,RT @AngryBirds: @nocontxtsonic 😘 https://t.co/...
63,63,Tue Apr 02 17:40:57 +0000 2019,Wx Photography,1041367527115374592,2316,0,6,"RT @overthehedge3: 02/04/19 16:45. Big, fluff..."
15,15,Wed Apr 03 19:01:50 +0000 2019,🖌️R.B.A࿐RedBirdArt2.0 ™🎨,1039311241804693504,189,0,4,RT @jessdeed: I love this cute couple! It’s pu...
22,22,Wed Apr 03 16:57:03 +0000 2019,🖌️R.B.A࿐RedBirdArt2.0 ™🎨,1039311241804693504,189,0,1,"RT @TiffanyArtist56: In May, I will do my fir..."
28,28,Wed Apr 03 15:02:26 +0000 2019,🖌️R.B.A࿐RedBirdArt2.0 ™🎨,1039311241804693504,189,0,5,RT @KoiliTheArtist: @Alien_Opossum told me to ...
29,29,Wed Apr 03 15:02:16 +0000 2019,🖌️R.B.A࿐RedBirdArt2.0 ™🎨,1039311241804693504,189,0,3,RT @_mewsical: YEAH YEAH YEAH #angrybirds http...
26,26,Wed Apr 03 14:59:59 +0000 2019,🖌️R.B.A࿐RedBirdArt2.0 ™🎨,1039311241804693504,189,0,4,RT @_camaroqueen: Time to draw!\r\n@AngryBirds...
37,37,Wed Apr 03 12:02:37 +0000 2019,🖌️R.B.A࿐RedBirdArt2.0 ™🎨,1039311241804693504,189,0,2,RT @TiffanyArtist56: Have a cute Ella! 😊\r\n\r...
54,54,Wed Apr 03 00:05:27 +0000 2019,🖌️R.B.A࿐RedBirdArt2.0 ™🎨,1039311241804693504,189,0,2,RT @JuanRwhitebird: Here is Stella and Yana. \...
70,70,Tue Apr 02 16:09:53 +0000 2019,🖌️R.B.A࿐RedBirdArt2.0 ™🎨,1039311241804693504,189,0,1,RT @SiitonenLasse1: Courtney looks like this i...
...,...,...,...,...,...,...,...,...
49,49,Wed Apr 03 06:12:24 +0000 2019,Klonoa Xavier,1539863514,64,0,2,RT @ILvRedAngryBird: @AngryBirds widdle siblin...
66,66,Wed Apr 03 12:34:35 +0000 2019,Stormy,1524822139,46,1,0,@AngryBirds @nocontxtsonic https://t.co/BQ2uG6...
2,2,Wed Apr 03 23:00:39 +0000 2019,En el Clavo,1284258984,230,0,0,Así será el nuevo #AngryBirds con realidad aum...
3,3,Wed Apr 03 17:43:15 +0000 2019,PikaSalt,1270461625,39,0,113,RT @AngryBirds: @nocontxtsonic 😘 https://t.co/...
55,55,Tue Apr 02 23:56:08 +0000 2019,Rambos Productions,1053822001,1633,0,0,Rare Coin Collecting - Africa/ Sierra Leone An...
82,82,Tue Apr 02 06:52:42 +0000 2019,Prince Movie,967271766,788,0,0,#AngryBirds https://t.co/APdYcS9bxR
71,71,Wed Apr 03 12:15:13 +0000 2019,Zonic,870551138,147,0,113,RT @AngryBirds: @nocontxtsonic 😘 https://t.co/...
58,58,Wed Apr 03 12:50:09 +0000 2019,pa🐝🦄 🇨🇺☆°,786480378,1585,0,113,RT @AngryBirds: @nocontxtsonic 😘 https://t.co/...
57,57,Wed Apr 03 12:52:29 +0000 2019,QU4D,727029414,655,0,0,"@Jamo_ART @AngryBirds @nocontxtsonic Oh, you m..."
73,73,Tue Apr 02 14:34:23 +0000 2019,klein88,381698951,717,0,4,RT @SonyPicturesFr: Les pires ennemis vont for...
85,85,Tue Apr 02 01:49:26 +0000 2019,Rachel Johnson,355767951,32,0,1,RT @dedet3101: (Coming Soon)\r\n\r\nPerkenalka...
68,68,Tue Apr 02 16:52:27 +0000 2019,Earth and Clouds,350274399,25268,0,6,"RT @overthehedge3: 02/04/19 16:45. Big, fluff..."
13,13,Wed Apr 03 20:01:27 +0000 2019,سعود بن عبدالله بن حمد العطية,344451262,14219,5,4,الاعتماد على التكنولوجيا عبر الزمن\r\nالوقت ال...
6,6,Wed Apr 03 21:42:15 +0000 2019,الأعلامي حطّام | Ha6am 🇶🇦,313204373,7126,0,4,RT @saud_alattiyah: الاعتماد على التكنولوجيا ع...
38,38,Wed Apr 03 12:00:48 +0000 2019,MoncineAnglet,303695562,223,0,0,Les pires ennemis vont former la pire des équi...
97,97,Mon Apr 01 18:10:07 +0000 2019,pʊŋˈnaː.tɔr,293960491,241,0,0,#AngryBirds 2 is on the way 😍😍😍😍🔥🔥🔥🔥
92,92,Mon Apr 01 22:16:10 +0000 2019,Yohanes 🔀,282969581,145,1,1,(Coming Soon)\r\n\r\nPerkenalkan karakter baru...
51,51,Wed Apr 03 02:07:33 +0000 2019,AngryBirdsNest,180430422,17500,0,0,Today's Challenge: Angry Birds Rio Airfield Ch...
84,84,Tue Apr 02 02:00:52 +0000 2019,AngryBirdsNest,180430422,17500,0,0,Today's Challenge: Angry Birds Space Mirror Wo...
14,14,Wed Apr 03 20:00:01 +0000 2019,Chicklit.nl,143797362,3180,0,0,Dit is de hilarische 'Angry Birds 2' trailer h...
62,62,Tue Apr 02 17:52:47 +0000 2019,kilogrammedia,59742349,2278,0,0,"#MaurizioDistefanoLicensing, which manages lic..."
64,64,Tue Apr 02 17:36:46 +0000 2019,kilogrammedia,59742349,2278,2,0,#MaurizioDistefanoLicensing has brought an exc...
27,27,Wed Apr 03 15:26:54 +0000 2019,Zsuzsa James,33836835,787,0,2,RT @Alannainen: How Angry Birds has increased ...
32,32,Wed Apr 03 13:49:36 +0000 2019,carlos liranzo,33809339,171,0,0,#theroosterwhisperer #angrybirds #gallo #mypet...
41,41,Wed Apr 03 08:02:45 +0000 2019,Laura Ala,25869598,752,6,2,How Angry Birds has increased its brand awaren...
75,75,Tue Apr 02 12:14:33 +0000 2019,Ricky Haynes,23281734,52,0,0,"They got an Angry Birds VR game, its about to ..."
200,200,Thu Apr 04 01:15:07 +0000 2019,Lew Jetton,18488014,10564,0,0,Now I know how Tippi Hedren felt... #thebirds ...
80,80,Tue Apr 02 07:36:37 +0000 2019,Teaser-Trailer.com,14201787,9849,1,0,Angry Birds 2 - new character posters: https:...
7,7,Wed Apr 03 21:37:02 +0000 2019,aliti33028,9444002,207,0,0,@Rovio Still hard at sucking @Rovio ? Still cr...
8,8,Wed Apr 03 21:36:23 +0000 2019,aliti33028,9444002,207,0,0,Still hard at sucking @Rovio ? Still crashing ...

In [112]:
angrybirds_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,179.000000,1.790000e+02,179.000000,179.000000,179.000000
mean,45.921788,5.101818e+17,1624.966480,1.402235,28.335196
std,30.059389,4.836753e+17,6768.444151,3.947008,47.130222
min,0.000000,9.444002e+06,2.000000,0.000000,0.000000
25%,22.000000,2.371792e+09,45.000000,0.000000,0.000000
50%,44.000000,7.434137e+17,189.000000,0.000000,3.000000
75%,66.500000,9.954721e+17,543.000000,0.000000,9.000000
max,200.000000,1.113460e+18,77775.000000,34.000000,113.000000

In [113]:
# Count total out of Unique Tweets
angrybirds_total_tweets = len(angrybirds_filtered_df['Tweet Text'])
angrybirds_total_tweets

179

In [114]:
# Calculate angrybirds Avg Followers - doesn't make sense to sum.
angrybirds_avg_followers_ct = angrybirds_filtered_df['User Follower Count'].mean()
angrybirds_avg_followers_ct

1624.9664804469273

In [115]:
# Total Likes of all tweets
angrybirds_total_likes = angrybirds_filtered_df['Likes Counts'].sum()
#angrybirds_avg_likes = angrybirds_filtered_df['Likes Counts'].mean()
angrybirds_total_likes
#angrybirds_avg_likes

251

In [116]:
# Retweets Stats:
#angrybirds_sum_retweets = angrybirds_filtered_df['ReTweet Count'].sum()
angrybirds_avg_retweets = angrybirds_filtered_df['ReTweet Count'].mean()
#angrybirds_sum_retweets
angrybirds_avg_retweets

28.335195530726256

### YouTube Calculations

In [87]:
plug = 'youtube'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
youtube_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
youtube_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,5020.000000,5.020000e+03,5020.000000,5020.000000,5020.000000
mean,238.279681,4.804938e+17,7002.120518,0.072112,253.039841
std,147.918623,4.874425e+17,54618.721386,0.296051,1301.297841
min,0.000000,1.166295e+07,0.000000,0.000000,0.000000
25%,114.000000,9.542417e+08,52.000000,0.000000,0.000000
50%,228.000000,7.009658e+17,304.000000,0.000000,0.000000
75%,348.000000,9.864753e+17,1267.000000,0.000000,2.000000
max,594.000000,1.113530e+18,954984.000000,4.000000,28038.000000

In [121]:
youtube_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 19:47:36 +0000 2019,Bill Stroud,818516652899926017,20561,1,1,Hungary's illegal immigration plunges over 99%...
1,1,Wed Apr 03 19:47:36 +0000 2019,Jacqline Lee,3075515652,2681,0,0,Former FBI Agent: CIA Director John Brennan Is...
2,2,Wed Apr 03 19:47:36 +0000 2019,Fato,2201811521,186,0,0,Rober Hatemo - Beyaz Ve Sen (Official Audio) h...
3,3,Wed Apr 03 19:47:36 +0000 2019,Tecnológico Somoto,804363536071819264,103,0,0,Video Instructivo de registro INATEC https://t...
4,4,Wed Apr 03 19:47:36 +0000 2019,Veritate,1105291635552907264,4,0,0,@profpaulamarisa @brasil_paralelo @YouTube #19...

In [122]:
# Sort
youtube_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
82,82,Wed Apr 03 19:56:57 +0000 2019,Dylan Madden TV,1113530366780878848,0,0,0,Dylan Madden TV https://t.co/z18FjXPo89 via @Y...
190,190,Wed Apr 03 19:56:57 +0000 2019,Dylan Madden TV,1113530366780878848,0,0,0,Dylan Madden TV https://t.co/z18FjXPo89 via @Y...
299,299,Wed Apr 03 19:56:57 +0000 2019,Dylan Madden TV,1113530366780878848,0,0,0,Dylan Madden TV https://t.co/z18FjXPo89 via @Y...
92,92,Wed Apr 03 19:53:28 +0000 2019,splashdesign,1113528088841850881,0,0,5,RT @ArThUrCoStA0: Desafio Do Cubo Mágico! http...
21,21,Wed Apr 03 20:00:04 +0000 2019,Lady🍯,1113526663034204160,4,0,57,RT @LuxuryLeftyLucy: I want it now!!! Introduc...
146,146,Wed Apr 03 20:00:04 +0000 2019,Lady🍯,1113526663034204160,4,0,57,RT @LuxuryLeftyLucy: I want it now!!! Introduc...
242,242,Wed Apr 03 20:00:04 +0000 2019,Lady🍯,1113526663034204160,4,0,57,RT @LuxuryLeftyLucy: I want it now!!! Introduc...
342,342,Wed Apr 03 20:00:04 +0000 2019,Lady🍯,1113526663034204160,4,0,57,RT @LuxuryLeftyLucy: I want it now!!! Introduc...
16,16,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
124,124,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
233,233,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
339,339,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
449,449,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
568,568,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
100,100,Wed Apr 03 19:57:15 +0000 2019,IKARI 🕷,1113367683590791169,4,0,0,Leon X Hilfiger Jay X Plomo - She Tripping (PR...
209,209,Wed Apr 03 19:57:15 +0000 2019,IKARI 🕷,1113367683590791169,4,0,0,Leon X Hilfiger Jay X Plomo - She Tripping (PR...
315,315,Wed Apr 03 19:57:15 +0000 2019,IKARI 🕷,1113367683590791169,4,0,0,Leon X Hilfiger Jay X Plomo - She Tripping (PR...
425,425,Wed Apr 03 19:57:15 +0000 2019,IKARI 🕷,1113367683590791169,4,0,0,Leon X Hilfiger Jay X Plomo - She Tripping (PR...
544,544,Wed Apr 03 19:57:15 +0000 2019,IKARI 🕷,1113367683590791169,4,0,0,Leon X Hilfiger Jay X Plomo - She Tripping (PR...
201,201,Wed Apr 03 19:54:01 +0000 2019,DAN MORAR,1113192511684653056,0,0,0,Taxi - Ca ei https://t.co/eULJT9DQXl via @YouTube
322,322,Wed Apr 03 19:54:01 +0000 2019,DAN MORAR,1113192511684653056,0,0,0,Taxi - Ca ei https://t.co/eULJT9DQXl via @YouTube
432,432,Wed Apr 03 19:54:01 +0000 2019,DAN MORAR,1113192511684653056,0,0,0,Taxi - Ca ei https://t.co/eULJT9DQXl via @YouTube
136,136,Wed Apr 03 19:53:49 +0000 2019,O Comendador de Alagoas,1113140370890686464,6,0,0,Marysia | Resort 2019 Full Fashion Show | Excl...
257,257,Wed Apr 03 19:53:49 +0000 2019,O Comendador de Alagoas,1113140370890686464,6,0,0,Marysia | Resort 2019 Full Fashion Show | Excl...
378,378,Wed Apr 03 19:53:49 +0000 2019,O Comendador de Alagoas,1113140370890686464,6,0,0,Marysia | Resort 2019 Full Fashion Show | Excl...
66,66,Wed Apr 03 19:59:52 +0000 2019,Anahita,1113133631671820288,18,0,0,Cîwan Haco - Welat https://t.co/EjyUQcegaF via...
73,73,Wed Apr 03 19:56:58 +0000 2019,engineer naveed raheem,1112785377448869895,1,0,1,RT @engineernaveed6: Master jannat gull https:...
181,181,Wed Apr 03 19:56:58 +0000 2019,engineer naveed raheem,1112785377448869895,1,0,1,RT @engineernaveed6: Master jannat gull https:...
290,290,Wed Apr 03 19:56:58 +0000 2019,engineer naveed raheem,1112785377448869895,1,0,1,RT @engineernaveed6: Master jannat gull https:...
396,396,Wed Apr 03 19:56:58 +0000 2019,engineer naveed raheem,1112785377448869895,1,0,1,RT @engineernaveed6: Master jannat gull https:...
...,...,...,...,...,...,...,...,...
119,119,Wed Apr 03 22:17:57 +0000 2019,rolandsmartin,16116288,520083,0,0,#JustinFairfax responded to his accusers with ...
210,210,Wed Apr 03 22:17:57 +0000 2019,rolandsmartin,16116288,520083,0,0,#JustinFairfax responded to his accusers with ...
301,301,Wed Apr 03 22:17:57 +0000 2019,rolandsmartin,16116288,520083,0,0,#JustinFairfax responded to his accusers with ...
26,26,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,1,Black women beaten by white supremacist joins ...
111,111,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,1,Black women beaten by white supremacist joins ...
196,196,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,1,Black women beaten by white supremacist joins ...
281,281,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,1,Black women beaten by white supremacist joins ...
366,366,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,1,Black women beaten by white supremacist joins ...
452,452,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,1,Black women beaten by white supremacist joins ...
60,60,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
141,141,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
221,221,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
302,302,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
382,382,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
463,463,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
545,545,Wed Apr 03 22:12:23 +0000 2019,rolandsmartin,16116288,520083,0,2,Black women beaten by white supremacist joins ...
491,491,Wed Apr 03 19:54:20 +0000 2019,Mike Murphy,15535595,17545,0,0,I can’t wait for some Cap’n Kranchberries
497,497,Wed Apr 03 19:54:19 +0000 2019,matchar,15357641,52,0,0,@RefundMyTicket Twitter n a pas l air d’être u...
130,130,Wed Apr 03 19:53:50 +0000 2019,Mohammed mohanna,15127230,824,0,0,@ArabTechnocracy @AljoufItm @almansooriboos @5...
251,251,Wed Apr 03 19:53:50 +0000 2019,Mohammed mohanna,15127230,824,0,0,@ArabTechnocracy @AljoufItm @almansooriboos @5...
372,372,Wed Apr 03 19:53:50 +0000 2019,Mohammed mohanna,15127230,824,0,0,@ArabTechnocracy @AljoufItm @almansooriboos @5...
98,98,Wed Apr 03 20:00:16 +0000 2019,Chrisna,14754528,442,0,0,Jodeln ist cool.\n\nOesch's die Dritten - Jode...
194,194,Wed Apr 03 20:00:16 +0000 2019,Chrisna,14754528,442,0,0,Jodeln ist cool.\n\nOesch's die Dritten - Jode...
294,294,Wed Apr 03 20:00:16 +0000 2019,Chrisna,14754528,442,0,0,Jodeln ist cool.\n\nOesch's die Dritten - Jode...
396,396,Wed Apr 03 20:00:16 +0000 2019,Chrisna,14754528,442,0,0,Jodeln ist cool.\n\nOesch's die Dritten - Jode...
296,296,Wed Apr 03 19:54:06 +0000 2019,さとげ,14492497,976,0,0,JOKER - Teaser Trailer - In Theaters October 4...
406,406,Wed Apr 03 19:54:06 +0000 2019,さとげ,14492497,976,0,0,JOKER - Teaser Trailer - In Theaters October 4...
303,303,Wed Apr 03 19:54:04 +0000 2019,Mehmet Kamil Coşkun,12826852,502,0,6,RT @HilmiDemir60: İmam Matüridi üzerine yapaca...
413,413,Wed Apr 03 19:54:04 +0000 2019,Mehmet Kamil Coşkun,12826852,502,0,6,RT @HilmiDemir60: İmam Matüridi üzerine yapaca...
548,548,Wed Apr 03 19:54:17 +0000 2019,Dommi @ ⚰️🥀 double update,11662952,1056,0,0,@n_x_northwest @savedbynotepad My cat when I l...

In [123]:
# Drop Duplicates only for matching columns omitting the index
youtube_filtered_df = youtube_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [124]:
# Get New Snap Shot Statistics
youtube_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,1159.000000,1.159000e+03,1159.000000,1159.000000,1159.000000
mean,148.679034,4.454893e+17,4861.154443,0.057808,245.999137
std,160.298902,4.850111e+17,43351.077498,0.283585,1342.150877
min,0.000000,1.166295e+07,0.000000,0.000000,0.000000
25%,32.000000,5.574231e+08,45.000000,0.000000,0.000000
50%,77.000000,3.734348e+09,238.000000,0.000000,0.000000
75%,233.000000,9.650283e+17,992.000000,0.000000,2.000000
max,577.000000,1.113530e+18,954984.000000,4.000000,28038.000000

In [125]:
youtube_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
82,82,Wed Apr 03 19:56:57 +0000 2019,Dylan Madden TV,1113530366780878848,0,0,0,Dylan Madden TV https://t.co/z18FjXPo89 via @Y...
92,92,Wed Apr 03 19:53:28 +0000 2019,splashdesign,1113528088841850881,0,0,5,RT @ArThUrCoStA0: Desafio Do Cubo Mágico! http...
21,21,Wed Apr 03 20:00:04 +0000 2019,Lady🍯,1113526663034204160,4,0,57,RT @LuxuryLeftyLucy: I want it now!!! Introduc...
16,16,Wed Apr 03 19:57:09 +0000 2019,Sabrina Cunningham,1113524089069531136,0,0,0,"I took my students on a ""field trip"" this week..."
100,100,Wed Apr 03 19:57:15 +0000 2019,IKARI 🕷,1113367683590791169,4,0,0,Leon X Hilfiger Jay X Plomo - She Tripping (PR...

In [126]:
# Count total out of Unique Tweets
youtube_total_tweets = len(youtube_filtered_df['Tweet Text'])
youtube_total_tweets

1159

In [127]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.
youtube_avg_followers_ct = youtube_filtered_df['User Follower Count'].mean()
youtube_avg_followers_ct

4861.154443485763

In [128]:
# Total Likes of all tweets
# use sum of likes.
youtube_total_likes = youtube_filtered_df['Likes Counts'].sum()
#facebook_avg_likes = facebook_filtered_df['Likes Counts'].mean()
youtube_total_likes
#facebook_avg_likes

67

In [129]:
# You Tube Retweets Stats:
#facebook_sum_retweets = facebook_filtered_df['ReTweet Count'].sum()
youtube_avg_retweets = youtube_filtered_df['ReTweet Count'].mean()
#facebook_sum_retweets
youtube_avg_retweets

245.99913718723036

### Subway Surfers

In [130]:
# REPLACE THE CSV FILE NAME BELOW WITH THE FILE YOU WANT TO UPLOAD

# USE THIS AFTER SAVNIG AND CLOSING JUPYTER NOTEBOOK.

#SubwaySurfers

read_csv_df33 = pd.read_csv('subwaysurfers_11_batch9.csv')
read_csv_df32 = pd.read_csv('SubwaySurfers_10_batch7.csv')
read_csv_df31 = pd.read_csv('SubwaySurfers_517again_batch6.csv')
read_csv_df30 = pd.read_csv('SubwaySurfers_517_batch5.csv')

In [131]:
# Load all the files into a list  

SubwaySurfers_all_csv = [read_csv_df30, read_csv_df31, read_csv_df32, read_csv_df33]

In [88]:
plug = 'subwaysurfer'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
SubwaySurfers_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
SubwaySurfers_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,1065.000000,1.065000e+03,1065.000000,1065.000000,1065.000000
mean,250.626291,5.440740e+17,140191.392488,7.061033,2.561502
std,153.171452,4.901477e+17,292201.932131,12.602327,2.508673
min,0.000000,1.610584e+07,0.000000,0.000000,0.000000
25%,117.000000,8.770825e+08,13.000000,0.000000,0.000000
50%,250.000000,8.254647e+17,56.000000,0.000000,3.000000
75%,383.000000,9.999624e+17,3296.000000,7.000000,4.000000
max,516.000000,1.108673e+18,751349.000000,44.000000,13.000000

In [133]:
SubwaySurfers_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 17:02:57 +0000 2019,Quality GameDev Retweets,972979225958297600,3958,0,4,RT @sybogames: Hippity-hoppity! 🐰 It's time to...
1,1,Wed Apr 03 16:03:08 +0000 2019,Game Dev Bot,89346624,4068,0,4,RT @sybogames: Hippity-hoppity! 🐰 It's time to...
2,2,Wed Apr 03 16:02:49 +0000 2019,محمد ثقيف,1074247982449487872,5,0,4,RT @sybogames: Hippity-hoppity! 🐰 It's time to...
3,3,Wed Apr 03 16:00:40 +0000 2019,SYBO,119420465,751349,27,4,Hippity-hoppity! 🐰 It's time to leave sunny Sa...
4,4,Wed Apr 03 03:17:57 +0000 2019,Ia Marzan,1070980164731863042,13,0,3,RT @sybogames: ONE HUNDRED updates. ONE GROUP ...

In [134]:
# Sort
SubwaySurfers_source_df.sort_values(by=['User ID','Created At'], ascending=False)
SubwaySurfers_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 17:02:57 +0000 2019,Quality GameDev Retweets,972979225958297600,3958,0,4,RT @sybogames: Hippity-hoppity! 🐰 It's time to...
1,1,Wed Apr 03 16:03:08 +0000 2019,Game Dev Bot,89346624,4068,0,4,RT @sybogames: Hippity-hoppity! 🐰 It's time to...
2,2,Wed Apr 03 16:02:49 +0000 2019,محمد ثقيف,1074247982449487872,5,0,4,RT @sybogames: Hippity-hoppity! 🐰 It's time to...
3,3,Wed Apr 03 16:00:40 +0000 2019,SYBO,119420465,751349,27,4,Hippity-hoppity! 🐰 It's time to leave sunny Sa...
4,4,Wed Apr 03 03:17:57 +0000 2019,Ia Marzan,1070980164731863042,13,0,3,RT @sybogames: ONE HUNDRED updates. ONE GROUP ...

In [135]:
# Drop Duplicates only for matching columns omitting the index
SubwaySurfers_filtered_df = SubwaySurfers_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [136]:
# Get New Snap Shot Statistics
SubwaySurfers_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,57.000000,5.700000e+01,57.000000,57.000000,57.000000
mean,22.473684,4.620724e+17,237672.385965,11.105263,2.649123
std,13.954141,4.960357e+17,352077.712577,15.121749,2.401571
min,0.000000,1.610584e+07,0.000000,0.000000,0.000000
25%,10.000000,1.194205e+08,13.000000,0.000000,1.000000
50%,22.000000,3.321520e+09,180.000000,1.000000,3.000000
75%,34.000000,9.410043e+17,751348.000000,27.000000,4.000000
max,46.000000,1.108673e+18,751349.000000,44.000000,13.000000

In [137]:
SubwaySurfers_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
6,6,Tue Apr 02 17:16:44 +0000 2019,مممم,1108673269413089280,0,0,6,RT @KilooGames: If you can't get enough of the...
15,15,Sun Mar 31 04:52:05 +0000 2019,Riya_18181,1105890490413711362,4,1,0,OMG today is my lucky day I am on the diamond ...
2,2,Wed Apr 03 16:02:49 +0000 2019,محمد ثقيف,1074247982449487872,5,0,4,RT @sybogames: Hippity-hoppity! 🐰 It's time to...
20,20,Fri Mar 29 15:29:21 +0000 2019,محمد ثقيف,1074247982449487872,5,0,3,RT @sybogames: The contest is over! Thank you ...
4,4,Wed Apr 03 03:17:57 +0000 2019,Ia Marzan,1070980164731863042,13,0,3,RT @sybogames: ONE HUNDRED updates. ONE GROUP ...

In [138]:
# Count total out of Unique Tweets
SubwaySurfers_total_tweets = len(SubwaySurfers_filtered_df['Tweet Text'])
SubwaySurfers_total_tweets

57

In [139]:
# Calculate Avg Followers - doesn't make sense to sum.
SubwaySurfers_avg_followers_ct = SubwaySurfers_filtered_df['User Follower Count'].mean()
SubwaySurfers_avg_followers_ct

237672.38596491228

In [140]:
# Total Likes of all tweets
SubwaySurfers_total_likes = SubwaySurfers_filtered_df['Likes Counts'].sum()
#facebook_avg_likes = facebook_filtered_df['Likes Counts'].mean()
SubwaySurfers_total_likes
#facebook_avg_likes

633

In [141]:
# Subway Surfer Retweets Stats:
#facebook_sum_retweets = facebook_filtered_df['ReTweet Count'].sum()
SubwaySurfers_avg_retweets = SubwaySurfers_filtered_df['ReTweet Count'].mean()
#facebook_sum_retweets
SubwaySurfers_avg_retweets

2.6491228070175437

### Security Master - Antivirus, VPN

In [142]:
# REPLACE THE CSV FILE NAME BELOW WITH THE FILE YOU WANT TO UPLOAD

# USE THIS AFTER SAVNIG AND CLOSING JUPYTER NOTEBOOK.
# @CheetahMobile


read_csv_df43 = pd.read_csv('SecurityMaster_0_batch12.csv')
read_csv_df42 = pd.read_csv('securitymaster_0_batch11.csv')
read_csv_df41 = pd.read_csv('CheetahMobile_44_batch10.csv')
read_csv_df40 = pd.read_csv('CheetahMobile_120_batch9.csv')
read_csv_df39 = pd.read_csv('CheetahMobile_110_batch8.csv')

In [143]:
# Load all the files into a list  

SecurityMaster_all_csv = [read_csv_df39, read_csv_df40, read_csv_df41, read_csv_df42, read_csv_df43]

In [91]:
# Cheetah Mobile owns Security Master
plug = 'cheetah'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
SecurityMaster_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
SecurityMaster_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,274.000000,2.740000e+02,274.000000,274.0,274.0
mean,51.390511,9.042903e+17,365.047445,0.0,0.0
std,33.711729,3.965604e+17,985.308829,0.0,0.0
min,0.000000,3.222250e+08,4.000000,0.0,0.0
25%,22.250000,1.069502e+18,5.250000,0.0,0.0
50%,46.000000,1.072073e+18,12.000000,0.0,0.0
75%,80.000000,1.094852e+18,25.000000,0.0,0.0
max,119.000000,1.094865e+18,3466.000000,0.0,0.0

In [92]:
SecurityMaster_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Sat Mar 30 00:22:17 +0000 2019,Ferdinand Duya,1038216836662231040,17,0,0,This Is My New Best In Faded By @IAmAlanWalker...
1,1,Tue Mar 26 09:11:10 +0000 2019,Volanews,1069502003821260805,25,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
2,2,Tue Mar 26 09:11:04 +0000 2019,Volanews,1069502003821260805,25,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
3,3,Tue Mar 26 09:10:40 +0000 2019,Volanews Iran,1094853441623605248,5,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
4,4,Tue Mar 26 09:10:13 +0000 2019,Volanews Israel,1094865044909756417,4,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...

In [146]:
# has duplicates
SecurityMaster_source_df.sort_values(by=['User ID','Created At'], ascending=False)
SecurityMaster_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Sat Mar 30 00:22:17 +0000 2019,Ferdinand Duya,1038216836662231040,17,0,0,This Is My New Best In Faded By @IAmAlanWalker...
1,1,Tue Mar 26 09:11:10 +0000 2019,Volanews,1069502003821260805,25,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
2,2,Tue Mar 26 09:11:04 +0000 2019,Volanews,1069502003821260805,25,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
3,3,Tue Mar 26 09:10:40 +0000 2019,Volanews Iran,1094853441623605248,5,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
4,4,Tue Mar 26 09:10:13 +0000 2019,Volanews Israel,1094865044909756417,4,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...

In [147]:
# Drop Duplicates only for matching columns omitting the index
SecurityMaster_filtered_df = SecurityMaster_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [148]:
# Get New Snap Shot Statistics
SecurityMaster_filtered_df.describe()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
count,14,14,14,14,14,14,14,14
unique,10,14,12,12,10,1,1,14
top,3,Tue Mar 26 00:51:58 +0000 2019,Cheetah Mobile,3193429182,12,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
freq,2,1,2,2,2,14,14,1

In [149]:
SecurityMaster_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
4,4,Tue Mar 26 09:10:13 +0000 2019,Volanews Israel,1094865044909756417,4,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
3,3,Tue Mar 26 09:10:40 +0000 2019,Volanews Iran,1094853441623605248,5,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
9,9,Tue Mar 26 09:00:08 +0000 2019,Volanews SoutheastAsia,1094852672409227264,6,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
5,5,Tue Mar 26 09:07:19 +0000 2019,Volanews Indonesia,1094851269557137414,5,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...
8,8,Tue Mar 26 09:02:04 +0000 2019,Volanews Saudi Arabia,1072075553518235648,12,0,0,@CheetahMobile HAS A TOTAL REVENUE OF 5 BILLI...

In [150]:
# Count total out of Unique Tweets
SecurityMaster_total_tweets = len(SecurityMaster_filtered_df['Tweet Text'])
SecurityMaster_total_tweets

14

In [151]:
# Calculate Avg Followers - doesn't make sense to sum.
SecurityMaster_avg_followers_ct = SecurityMaster_filtered_df['User Follower Count'].mean()
SecurityMaster_avg_followers_ct

640.0714285714286

In [152]:
# Total Likes of all tweets
SecurityMaster_total_likes = SecurityMaster_filtered_df['Likes Counts'].sum()
#SecurityMaster_avg_likes = facebook_filtered_df['Likes Counts'].mean()
SecurityMaster_total_likes
#SecurityMaster_avg_likes

0

In [153]:
# Security Master Retweets Stats:
#SecurityMaster_sum_retweets = facebook_filtered_df['ReTweet Count'].sum()
SecurityMaster_avg_retweets = SecurityMaster_filtered_df['ReTweet Count'].mean()
#SecurityMaster_sum_retweets
SecurityMaster_avg_retweets

0.0

### Clash Royale

In [93]:
plug = 'clashroyale'
path = f'./resources/{plug}'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
ClashRoyale_source_df = pd.concat(li, axis=0, ignore_index=True)

# Snapshot Statistics
ClashRoyale_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,5000.000000,5.000000e+03,5000.000000,5000.000000,5000.00000
mean,511.500000,7.100726e+17,3369.361200,2.477800,10.43440
std,305.954199,4.176288e+17,15596.992853,12.352717,24.59703
min,0.000000,1.408385e+07,0.000000,0.000000,0.00000
25%,249.750000,7.139890e+17,26.000000,0.000000,0.00000
50%,499.500000,8.907390e+17,114.000000,0.000000,0.00000
75%,762.000000,9.991290e+17,602.000000,1.000000,8.00000
max,1099.000000,1.113525e+18,132140.000000,120.000000,186.00000

In [157]:
ClashRoyale_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Wed Apr 03 23:40:57 +0000 2019,FizzyBS,1072365900383178752,23,0,0,@Easy_A402 @ClashRoyale Clash ded
1,1,Wed Apr 03 23:38:32 +0000 2019,Matt Carlson,254467385,92,0,0,@ClashRoyale Great... thanks so much supercell...
2,2,Wed Apr 03 23:33:35 +0000 2019,xxAlejoRománxx,1046121854199566337,11,0,44,RT @CWA: Another batch of amazing @ClashRoyale...
3,3,Wed Apr 03 23:29:04 +0000 2019,DS Mertalz,1044628518527750144,22,0,0,Currently Streaming @ClashRoyale and talking @...
4,4,Wed Apr 03 23:27:49 +0000 2019,LadyPinkPanther🔱,1571876204,2111,1,0,@NovaEsportsTeam @ClashRoyale @BrawlStars So a...

In [158]:
# has duplicates
ClashRoyale_source_df.sort_values(by=['User ID','Created At'], ascending=False)

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
91,91,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
191,191,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
291,291,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
391,391,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
491,491,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
591,591,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
691,691,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
791,791,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
891,891,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
991,991,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
91,91,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
191,191,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
291,291,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
391,391,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
491,491,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
591,591,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
691,691,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
791,791,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
891,891,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
991,991,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
1091,1091,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
92,92,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
192,192,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
292,292,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
392,392,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
492,492,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
592,592,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
692,692,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
792,792,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
892,892,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
...,...,...,...,...,...,...,...,...
329,329,Wed Apr 03 22:28:27 +0000 2019,🌪★MILENIO☆🌪,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan 💶 R...
429,429,Wed Apr 03 22:28:27 +0000 2019,🌪★MILENIO☆🌪,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan 💶 R...
529,529,Wed Apr 03 22:28:27 +0000 2019,🌪★MILENIO☆🌪,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan 💶 R...
629,629,Wed Apr 03 22:28:27 +0000 2019,🌪★MILENIO☆🌪,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan 💶 R...
729,729,Wed Apr 03 22:28:27 +0000 2019,🌪★MILENIO☆🌪,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan 💶 R...
829,829,Wed Apr 03 22:28:27 +0000 2019,🌪★MILENIO☆🌪,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan 💶 R...
929,929,Wed Apr 03 22:28:27 +0000 2019,🌪★MILENIO☆🌪,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan 💶 R...
1029,1029,Wed Apr 03 22:28:27 +0000 2019,🌪★MILENIO☆🌪,132612172,726,0,2,RT @MojoPiconCR: Quieres estar en un #Clan 💶 R...
99,99,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
199,199,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
299,299,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
399,399,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
499,499,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
599,599,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
699,699,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
799,799,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
899,899,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
999,999,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
1099,1099,Wed Apr 03 20:16:03 +0000 2019,dr.melindre,17268696,431,0,1,RT @eSports4Players: La @LVPes expulsa a @GAEs...
20,20,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¡@YoSoyAntrax y @TheMatt_...
120,120,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¡@YoSoyAntrax y @TheMatt_...
220,220,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¡@YoSoyAntrax y @TheMatt_...
320,320,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¡@YoSoyAntrax y @TheMatt_...
420,420,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¡@YoSoyAntrax y @TheMatt_...
520,520,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¡@YoSoyAntrax y @TheMatt_...
620,620,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¡@YoSoyAntrax y @TheMatt_...
720,720,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¡@YoSoyAntrax y @TheMatt_...
820,820,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¡@YoSoyAntrax y @TheMatt_...
920,920,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¡@YoSoyAntrax y @TheMatt_...
1020,1020,Wed Apr 03 22:41:17 +0000 2019,LauraDark,14083852,19879,0,1,RT @CapitalGamingmx: ¡@YoSoyAntrax y @TheMatt_...

In [159]:
# Drop Duplicates only for matching columns omitting the index
ClashRoyale_filtered_df = ClashRoyale_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [160]:
# Get New Snap Shot Statistics
ClashRoyale_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,208.000000,2.080000e+02,208.000000,208.000000,208.000000
mean,65.567308,7.220340e+17,5934.644231,3.067308,9.480769
std,123.365117,4.209703e+17,21654.517452,12.360733,21.317694
min,0.000000,1.408385e+07,0.000000,0.000000,0.000000
25%,24.750000,7.133635e+17,28.750000,0.000000,0.000000
50%,50.000000,9.055904e+17,141.000000,0.000000,1.000000
75%,75.250000,1.035620e+18,890.500000,0.000000,8.000000
max,1043.000000,1.113525e+18,132140.000000,120.000000,186.000000

In [161]:
ClashRoyale_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
91,91,Wed Apr 03 19:36:49 +0000 2019,Dark68 Fr,1113524931332120577,0,0,71,RT @ClashRoyale: 🥰 https://t.co/WHjzvnW52r
51,51,Wed Apr 03 21:44:55 +0000 2019,DCR Championship,1113204116325580801,10,2,1,⚔️ Para saber o que vai rolar você precisa est...
17,17,Wed Apr 03 22:43:51 +0000 2019,Juan Carlos,1112997949334851584,5,0,1,RT @JuanCar50259285: #ClashRoyale https://t.co...
18,18,Wed Apr 03 22:43:46 +0000 2019,Juan Carlos,1112997949334851584,5,0,1,RT @JuanCar50259285: #ClashRoyale 🙄 https://t....
5,5,Wed Apr 03 23:21:58 +0000 2019,eSports Ayuda,1112527167274057728,2,0,17,RT @TopMexOficial: #ANUNCIO ⚠️\n\n🔶 Estos será...

In [162]:
# Count total out of Unique Tweets
ClashRoyale_total_tweets = len(ClashRoyale_filtered_df['Tweet Text'])
ClashRoyale_total_tweets

208

In [163]:
# Calculate Avg Followers - doesn't make sense to sum.
ClashRoyale_avg_followers_ct = ClashRoyale_filtered_df['User Follower Count'].mean()
ClashRoyale_avg_followers_ct

5934.6442307692305

In [164]:
# Total Likes of all tweets

# use sum of likes.
ClashRoyale_total_likes = ClashRoyale_filtered_df['Likes Counts'].sum()


#facebook_avg_likes = facebook_filtered_df['Likes Counts'].mean()

ClashRoyale_total_likes
#facebook_avg_likes

638

In [165]:
# Facebook Retweets Stats:

#facebook_sum_retweets = facebook_filtered_df['ReTweet Count'].sum()

ClashRoyale_avg_retweets = ClashRoyale_filtered_df['ReTweet Count'].mean()

#facebook_sum_retweets
ClashRoyale_avg_retweets

9.48076923076923

### Clean Master - Space Cleaner

In [166]:
# REPLACE THE CSV FILE NAME BELOW WITH THE FILE YOU WANT TO UPLOAD

# USE THIS AFTER SAVNIG AND CLOSING JUPYTER NOTEBOOK.


read_csv_df29 = pd.read_csv('CleanMaster_0again_batch4.csv')
read_csv_df28 = pd.read_csv('CleanMaster_55again_batch3.csv')
read_csv_df27 = pd.read_csv('CleanMaster_55_batch2.csv')
read_csv_df26 = pd.read_csv('CleanMaster_0 _batch1.csv')

In [167]:
# Load all the files into a list  

CleanMaster_all_csv = [read_csv_df26, read_csv_df27, read_csv_df28, read_csv_df29]

In [168]:
# Concatenate them

CleanMaster_source_df = pd.concat(CleanMaster_all_csv)

# Snapshot Statistics
CleanMaster_source_df.describe()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
count,110,110,110,110,110,110,110,110
unique,55,5,4,4,4,2,2,3
top,54,Mon Mar 25 18:44:14 +0000 2019,clean master,1108067498488987650,55,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
freq,2,22,44,44,44,88,88,66

In [169]:
CleanMaster_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Tue Mar 26 07:46:25 +0000 2019,♡Ivy Javaaa♡,634590496,598,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
1,1,Mon Mar 25 18:49:34 +0000 2019,mbabi Philchris,1078223353549414400,38,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
2,2,Mon Mar 25 18:44:14 +0000 2019,clean master,1108067498488987650,55,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
3,3,Mon Mar 25 18:43:49 +0000 2019,clean master,1108067498488987650,55,3,3,A chaque jour suffit sa peine..Merci a cette d...
4,4,Mon Mar 25 17:53:57 +0000 2019,LavanderiApp,1015722017264488449,40,0,0,¿Sabías que #LavanderiApp la puedes descargar ...

In [170]:
# has duplicates
CleanMaster_source_df.sort_values(by=['User ID','Created At'], ascending=False)
CleanMaster_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Tue Mar 26 07:46:25 +0000 2019,♡Ivy Javaaa♡,634590496,598,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
1,1,Mon Mar 25 18:49:34 +0000 2019,mbabi Philchris,1078223353549414400,38,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
2,2,Mon Mar 25 18:44:14 +0000 2019,clean master,1108067498488987650,55,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
3,3,Mon Mar 25 18:43:49 +0000 2019,clean master,1108067498488987650,55,3,3,A chaque jour suffit sa peine..Merci a cette d...
4,4,Mon Mar 25 17:53:57 +0000 2019,LavanderiApp,1015722017264488449,40,0,0,¿Sabías que #LavanderiApp la puedes descargar ...

In [171]:
# Drop Duplicates only for matching columns omitting the index
CleanMaster_filtered_df = CleanMaster_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [172]:
# Get New Snap Shot Statistics
CleanMaster_filtered_df.describe()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
count,5,5,5,5,5,5,5,5
unique,5,5,4,4,4,2,2,3
top,4,Mon Mar 25 18:43:49 +0000 2019,clean master,1108067498488987650,55,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
freq,1,1,2,2,2,4,4,3

In [173]:
CleanMaster_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
2,2,Mon Mar 25 18:44:14 +0000 2019,clean master,1108067498488987650,55,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
3,3,Mon Mar 25 18:43:49 +0000 2019,clean master,1108067498488987650,55,3,3,A chaque jour suffit sa peine..Merci a cette d...
1,1,Mon Mar 25 18:49:34 +0000 2019,mbabi Philchris,1078223353549414400,38,0,3,RT @cleanma96732504: A chaque jour suffit sa p...
4,4,Mon Mar 25 17:53:57 +0000 2019,LavanderiApp,1015722017264488449,40,0,0,¿Sabías que #LavanderiApp la puedes descargar ...
0,0,Tue Mar 26 07:46:25 +0000 2019,♡Ivy Javaaa♡,634590496,598,0,3,RT @cleanma96732504: A chaque jour suffit sa p...

In [174]:
# Count total out of Unique Tweets

CleanMaster_total_tweets = len(CleanMaster_filtered_df['Tweet Text'])

CleanMaster_total_tweets

5

In [175]:
# Calculate Avg Followers - doesn't make sense to sum.

CleanMaster_avg_followers_ct = CleanMaster_filtered_df['User Follower Count'].mean()
CleanMaster_avg_followers_ct

157.2

In [176]:
# Total Likes of all tweets

# use sum of likes.
CleanMaster_total_likes = CleanMaster_filtered_df['Likes Counts'].sum()


#facebook_avg_likes = facebook_filtered_df['Likes Counts'].mean()

CleanMaster_total_likes
#facebook_avg_likes

3

In [177]:
# Clean MasterRetweets Stats:

#facebook_sum_retweets = facebook_filtered_df['ReTweet Count'].sum()

CleanMaster_avg_retweets = CleanMaster_filtered_df['ReTweet Count'].mean()

#facebook_sum_retweets
CleanMaster_avg_retweets

2.4

### What's App

In [178]:
# Load the csv into reader
read_csv_df44 = pd.read_csv('WhatsApp_At_H_1222_batch1.csv')

# Load all the files into a list  

whatsapp_all_csv = [read_csv_df44]

In [179]:
# Concatenate them

whatsapp_source_df = pd.concat(whatsapp_all_csv)

# Snapshot Statistics
whatsapp_source_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,1222.000000,1.222000e+03,1222.000000,1222.000000,1222.000000
mean,610.500000,4.248351e+17,6411.445990,0.126023,140.546645
std,352.905323,4.950561e+17,38477.049121,0.736657,177.606008
min,0.000000,1.666568e+07,0.000000,0.000000,0.000000
25%,305.250000,2.980197e+08,36.000000,0.000000,0.000000
50%,610.500000,2.552448e+09,167.000000,0.000000,16.000000
75%,915.750000,9.956510e+17,1169.000000,0.000000,355.000000
max,1221.000000,1.113630e+18,339446.000000,7.000000,429.000000

In [180]:
whatsapp_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Thu Apr 04 03:07:50 +0000 2019,Chowkidar Ankush Khandelwal🇮🇳🇮🇳,1703848657,264,0,42,RT @manakgupta: Thanks @WhatsApp. Now nobody w...
1,1,Thu Apr 04 03:07:37 +0000 2019,Prabhu,134720028,787,0,426,RT @ShashiTharoor: This is the poisonous bilge...
2,2,Thu Apr 04 03:07:22 +0000 2019,Prabhu,134720028,787,0,258,RT @ShashiTharoor: I call on those who run @wh...
3,3,Thu Apr 04 03:07:13 +0000 2019,जागरूक मतदाता,1031206661434875904,148,0,426,RT @ShashiTharoor: This is the poisonous bilge...
4,4,Thu Apr 04 03:07:02 +0000 2019,Deepti,1039712604246044674,347,0,0,@manakgupta @WhatsApp Self control is D key to...

In [181]:
# has duplicates
whatsapp_source_df.sort_values(by=['User ID','Created At'], ascending=False)
whatsapp_source_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
0,0,Thu Apr 04 03:07:50 +0000 2019,Chowkidar Ankush Khandelwal🇮🇳🇮🇳,1703848657,264,0,42,RT @manakgupta: Thanks @WhatsApp. Now nobody w...
1,1,Thu Apr 04 03:07:37 +0000 2019,Prabhu,134720028,787,0,426,RT @ShashiTharoor: This is the poisonous bilge...
2,2,Thu Apr 04 03:07:22 +0000 2019,Prabhu,134720028,787,0,258,RT @ShashiTharoor: I call on those who run @wh...
3,3,Thu Apr 04 03:07:13 +0000 2019,जागरूक मतदाता,1031206661434875904,148,0,426,RT @ShashiTharoor: This is the poisonous bilge...
4,4,Thu Apr 04 03:07:02 +0000 2019,Deepti,1039712604246044674,347,0,0,@manakgupta @WhatsApp Self control is D key to...

In [182]:
# Drop Duplicates only for matching columns omitting the index
whatsapp_filtered_df = whatsapp_source_df.drop_duplicates(['Created At', 'Screen Name', 'User ID', 'User Follower Count', 'Likes Counts', 'ReTweet Count', 'Tweet Text']).sort_values(by=['User ID','Created At'], ascending=False)

In [183]:
# Get New Snap Shot Statistics
whatsapp_filtered_df.describe()

,Unnamed: 0,User ID,User Follower Count,Likes Counts,ReTweet Count
count,184.000000,1.840000e+02,184.000000,184.000000,184.000000
mean,371.885870,4.033641e+17,4373.668478,0.081522,220.603261
std,343.417417,4.886036e+17,30093.015828,0.581017,193.751687
min,0.000000,1.666568e+07,0.000000,0.000000,0.000000
25%,45.750000,2.565272e+08,68.000000,0.000000,1.000000
50%,270.000000,2.473971e+09,283.000000,0.000000,258.500000
75%,696.250000,9.691852e+17,1336.250000,0.000000,427.000000
max,1186.000000,1.113630e+18,339446.000000,7.000000,429.000000

In [184]:
whatsapp_filtered_df.head()

,Unnamed: 0,Created At,Screen Name,User ID,User Follower Count,Likes Counts,ReTweet Count,Tweet Text
35,35,Thu Apr 04 02:58:15 +0000 2019,sabbe yah,1113629730593550336,0,0,406,RT @Aazarouni: @WhatsApp\r\n\r\nkindly provide...
850,850,Thu Apr 04 02:58:15 +0000 2019,sabbe yah,1113629730593550336,0,0,404,RT @Aazarouni: @WhatsApp\r\n\r\nkindly provide...
50,50,Thu Apr 04 02:53:39 +0000 2019,Payal Choudhury,1112334550632271872,7,0,42,RT @manakgupta: Thanks @WhatsApp. Now nobody w...
8,8,Thu Apr 04 03:06:24 +0000 2019,The Chowkidar,1110107539855687680,4,0,0,@ShashiTharoor @DhruvSquad @WhatsApp @facebook...
868,868,Thu Apr 04 02:44:55 +0000 2019,Bella Boo,1107730072532905984,49,0,0,Wet F19 wanting guys to rate my nude pics on s...

In [185]:
# Count total out of Unique Tweets

whatsapp_total_tweets = len(whatsapp_filtered_df['Tweet Text'])

whatsapp_total_tweets

184

In [186]:
# Calculate Facebook Avg Followers - doesn't make sense to sum.

whatsapp_avg_followers_ct = whatsapp_filtered_df['User Follower Count'].mean()
whatsapp_avg_followers_ct

4373.66847826087

In [187]:
# Total Likes of all tweets

# use sum of likes.
whatsapp_total_likes = whatsapp_filtered_df['Likes Counts'].sum()


#whatsapp_avg_likes = facebook_filtered_df['Likes Counts'].mean()

whatsapp_total_likes
#whatsapp_avg_likes

15

In [188]:
# Facebook Retweets Stats:

#facebook_sum_retweets = facebook_filtered_df['ReTweet Count'].sum()

whatsapp_avg_retweets = whatsapp_filtered_df['ReTweet Count'].mean()

#facebook_sum_retweets
whatsapp_avg_retweets

220.60326086956522

# Charts and Plots

#### Scatter plot - Twitter Average Followers to Tweets

In [ ]:
# Scatter Plot 1 - Tweets vs Average Followers vs Total Likes of the Top 10 Apps for both Google and Apple App Stores

fig, ax = plt.subplots(figsize=(11,11))


# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_total_tweets, facebook_avg_followers_ct, s=facebook_total_likes*15, color='sandybrown', label='Facebook', edgecolors='black', alpha=0.75)
instagram_plot= ax.scatter(instagram_total_tweets, instagram_avg_followers_ct, s=instagram_total_likes*15, color='saddlebrown', label='Instagram', edgecolors='black', alpha=0.5)
coc_plot= ax.scatter(coc_total_tweets, coc_avg_followers_ct, s=coc_total_likes*10, color='springgreen', label='Clash Of Clans', edgecolors='black', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_total_tweets, candycrushsaga_avg_followers_ct, s=candycrushsaga_total_likes*5, color='limegreen', label='Candy Crush Saga', edgecolors='black')#, alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_total_tweets, CleanMaster_avg_followers_ct, s=CleanMaster_total_likes*5, color='m', label='Clean Master Space Cleaner', edgecolors='black', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_total_tweets, SubwaySurfers_avg_followers_ct, s=SubwaySurfers_total_likes*5, color='lime', label='Subway Surfers', edgecolors='black', alpha=0.75)
youtube_plot= ax.scatter(youtube_total_tweets, youtube_avg_followers_ct, s=youtube_total_likes*5, color='red', label='You Tube', edgecolors='black', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_total_tweets, SecurityMaster_avg_followers_ct, s=SecurityMaster_total_likes*5, color='blueviolet', label='Security Master, Antivirus VPN', edgecolors='black', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_total_tweets, ClashRoyale_avg_followers_ct, s=ClashRoyale_total_likes*5, color='darkolivegreen', label='Clash Royale', edgecolors='black', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_total_tweets, whatsapp_avg_followers_ct, s=whatsapp_total_likes*5, color='tan', label='Whats App', edgecolors='black', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_total_tweets, templerun_avg_followers_ct, s=templerun_total_likes*5, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_total_tweets, pandora_avg_followers_ct, s=pandora_total_likes*5, color='coral', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_total_tweets, pinterest_avg_followers_ct, s=pinterest_total_likes*5, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_total_tweets, bible_avg_followers_ct, s=bible_total_likes*5, color='tomato', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_total_tweets, spotify_avg_followers_ct, s=spotify_total_likes*5, color='orangered', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_total_tweets, angrybirds_avg_followers_ct, s=angrybirds_total_likes*5, color='forestgreen', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs Average Followers (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with Total Likes" )
plt.ylabel("Average Number of Followers per Twitter User \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
plt.savefig("./TWEETS_vs__AVG_followers_Scatter.png")

In [ ]:
# Scatter Plot 2 - Tweets vs ReTweets vs Likes

fig, ax = plt.subplots(figsize=(11,11))


# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_total_tweets, facebook_avg_retweets, s=facebook_total_likes*5, color='sandybrown', label='Facebook', edgecolors='black', alpha=0.75)
instagram_plot= ax.scatter(instagram_total_tweets, instagram_avg_retweets, s=instagram_total_likes*5, color='saddlebrown', label='Instagram', edgecolors='black', alpha=0.75)
coc_plot= ax.scatter(coc_total_tweets, coc_avg_retweets, s=coc_total_likes*5, color='springgreen', label='Clash Of Clans', edgecolors='black', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_total_tweets, candycrushsaga_avg_retweets, s=candycrushsaga_total_likes*5, color='limegreen', label='Candy Crush Saga', edgecolors='black')#, alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_total_tweets, CleanMaster_avg_retweets, s=CleanMaster_total_likes*5, color='m', label='Clean Master Space Cleaner', edgecolors='black', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_total_tweets, SubwaySurfers_avg_retweets, s=SubwaySurfers_total_likes*5, color='lime', label='Subway Surfers', edgecolors='black', alpha=0.75)
youtube_plot= ax.scatter(youtube_total_tweets, youtube_avg_retweets, s=youtube_total_likes*5, color='red', label='You Tube', edgecolors='black', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_total_tweets, SecurityMaster_avg_retweets, s=SecurityMaster_total_likes*5, color='blueviolet', label='Security Master, Antivirus VPN', edgecolors='black', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_total_tweets, ClashRoyale_avg_retweets, s=ClashRoyale_total_likes*5, color='darkolivegreen', label='Clash Royale', edgecolors='black', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_total_tweets, whatsapp_avg_retweets, s=whatsapp_total_likes*5, color='tan', label='Whats App', edgecolors='black', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_total_tweets, templerun_avg_retweets, s=templerun_total_likes*5, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_total_tweets, pandora_avg_retweets, s=pandora_total_likes*5, color='coral', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_total_tweets, pinterest_avg_retweets, s=pinterest_total_likes*5, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_total_tweets, bible_avg_retweets, s=bible_total_likes*5, color='tomato', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_total_tweets, spotify_avg_retweets, s=spotify_total_likes*5, color='orangered', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_total_tweets, angrybirds_avg_retweets, s=angrybirds_total_likes*5, color='forestgreen', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs ReTweets (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with Total Likes \n" )
plt.ylabel("Average Number of ReTweets per Twitter User \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
plt.savefig('./TWEETS_VS_RETWEETS_vs_LIKES_Scatter.png')

In [ ]:
# Scatter Plot 3 - Will not use this plot

fig, ax = plt.subplots(figsize=(8,8))


# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_avg_retweets, facebook_total_tweets, s=facebook_total_likes*5, color='blue', label='Facebook', edgecolors='red', alpha=0.75)
instagram_plot= ax.scatter(instagram_avg_retweets, instagram_total_tweets, s=instagram_total_likes*5, color='fuchsia', label='Instagram', edgecolors='red', alpha=0.75)
coc_plot= ax.scatter(coc_avg_retweets, coc_total_tweets, s=coc_total_likes*5, color='springgreen', label='Clash Of Clans', edgecolors='red', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_avg_retweets, candycrushsaga_total_tweets, s=candycrushsaga_total_likes*5, color='black', label='Candy Crush Saga', edgecolors='red')#, alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_avg_retweets, CleanMaster_total_tweets, s=CleanMaster_total_likes*5, color='olive', label='Clean Master Space Cleaner', edgecolors='lime', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_avg_retweets, SubwaySurfers_total_tweets, s=SubwaySurfers_total_likes*5, color='plum', label='Subway Surfers', edgecolors='lime', alpha=0.75)
youtube_plot= ax.scatter(youtube_avg_retweets, youtube_total_tweets, s=youtube_total_likes*5, color='grey', label='You Tube', edgecolors='lime', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_avg_retweets, SecurityMaster_total_tweets, s=SecurityMaster_total_likes*5, color='coral', label='Security Master, Antivirus VPN', edgecolors='lime', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_avg_retweets, ClashRoyale_total_tweets, s=ClashRoyale_total_likes*5, color='orange', label='Clash Royale', edgecolors='lime', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_avg_retweets, whatsapp_total_tweets, s=whatsapp_total_likes*5, color='green', label='Whats App', edgecolors='lime', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_avg_retweets, templerun_total_tweets, s=templerun_total_likes*5, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_avg_retweets, pandora_total_tweets, s=pandora_total_likes*5, color='cornflowerblue', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_avg_retweets, pinterest_total_tweets, s=pinterest_total_likes*5, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_avg_retweets, bible_total_tweets, s=bible_total_likes*5, color='brown', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_avg_retweets, spotify_total_tweets, s=spotify_total_likes*5, color='darkgreen', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_avg_retweets, angrybirds_total_tweets, s=angrybirds_total_likes*5, color='salmon', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs ReTweets (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with Total Likes \n" )
plt.ylabel("Average Number of ReTweets per Twitter User \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
#plt.savefig('./tweets_vs__avgfollowers_Scatter.png')

In [203]:
# Hardcoding numbers from analysis done in Apple and Google Play Store Final Code Notebooks
# Avergage Apple, Google Ratings
facebook_avg_rating = (3.5 + 4.1)/2
instagram_avg_rating = (4.5 + 4.5)/2
coc_avg_rating = (4.5 + 4.6)/2
candycrushsaga_avg_rating = (4.5 + 4.4)/2

# Avergage Apple, Google Reviews
facebook_reviews = (2974676 + 78158306)/2
instagram_reviews = (2161558 + 66577446)/2
coc_reviews = (2130805 + 44893888)/2
candycrushsaga_reviews = (961794 + 22430188)/2

# Apple App Ratings
templerun_rating = 4.5
pandora_rating = 4.5
pinterest_rating = 4.5
bible_rating = 4.5
spotify_rating = 4.5
angrybirds_rating = 4.5

# Apple App Reviews
templerun_reviews = 1724546
pandora_reviews = 1126879
pinterest_reviews = 1061624
bible_reviews = 985920
spotify_reviews = 878563
angrybirds_reviews = 824451


# Google App Ratings
whatsapp_rating = 4.4
clean_master_rating = 4.7
subway_surfers_rating = 4.5
you_tube_rating = 4.3
security_master_rating = 4.7
clash_royale_rating = 4.6

# Google App Reviews
whatsapp_reviews = 69119316
clean_master_reviews = 42916526
subway_surfers_reviews = 27725352
you_tube_reviews = 25655305
security_master_reviews = 24900999
clash_royale_reviews = 23136735

In [206]:
# Scatter Plot 5 - Tweets vs Ratings vs Likes - USE THIS ONE

fig, ax = plt.subplots(figsize=(11,11))


# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_total_tweets, facebook_avg_rating, s=facebook_total_likes*5, color='sandybrown', label='Facebook', edgecolors='black', alpha=0.75)
instagram_plot= ax.scatter(instagram_total_tweets, instagram_avg_rating, s=instagram_total_likes*5, color='saddlebrown', label='Instagram', edgecolors='black', alpha=0.75)
coc_plot= ax.scatter(coc_total_tweets, coc_avg_rating, s=coc_total_likes*5, color='springgreen', label='Clash Of Clans', edgecolors='black', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_total_tweets, candycrushsaga_avg_rating, s=candycrushsaga_total_likes*5, color='limegreen', label='Candy Crush Saga', edgecolors='black')#, alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_total_tweets, clean_master_rating, s=CleanMaster_total_likes*5, color='m', label='Clean Master Space Cleaner', edgecolors='black', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_total_tweets, subway_surfers_rating, s=SubwaySurfers_total_likes*5, color='lime', label='Subway Surfers', edgecolors='black', alpha=0.75)
youtube_plot= ax.scatter(youtube_total_tweets, you_tube_rating, s=youtube_total_likes*5, color='red', label='You Tube', edgecolors='black', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_total_tweets, security_master_rating, s=SecurityMaster_total_likes*5, color='blueviolet', label='Security Master, Antivirus VPN', edgecolors='black', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_total_tweets, clash_royale_rating, s=ClashRoyale_total_likes*5, color='darkolivegreen', label='Clash Royale', edgecolors='black', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_total_tweets, whatsapp_rating, s=whatsapp_total_likes*5, color='tan', label='Whats App', edgecolors='black', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_total_tweets,templerun_rating, s=templerun_total_likes*5, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_total_tweets, pandora_rating, s=pandora_total_likes*5, color='coral', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_total_tweets, pinterest_rating, s=pinterest_total_likes*5, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_total_tweets, bible_rating, s=bible_total_likes*5, color='tomato', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_total_tweets, spotify_rating, s=spotify_total_likes*5, color='orangered', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_total_tweets, angrybirds_rating, s=angrybirds_total_likes*5, color='forestgreen', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs Ratings (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with Total Likes \n" )
plt.ylabel("App Store User Ratings (Out of 5) \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
plt.savefig('./TWEETS_VS_RATINGSVS LIKES_Scatter.png')

In [ ]:
# Scatter Plot 5 - Tweets vs Reviews vs Ratings (size) - DO NOT USE

fig, ax = plt.subplots(figsize=(11,11))



# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_total_tweets, facebook_reviews, s=facebook_avg_rating*105, color='sandybrown', label='Facebook', edgecolors='black', alpha=0.75)
instagram_plot= ax.scatter(instagram_total_tweets, instagram_reviews, s=instagram_avg_rating*105, color='saddlebrown', label='Instagram', edgecolors='black', alpha=0.75)
coc_plot= ax.scatter(coc_total_tweets, coc_reviews, s=coc_avg_rating*105, color='springgreen', label='Clash Of Clans', edgecolors='black', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_total_tweets, candycrushsaga_reviews, s=candycrushsaga_avg_rating*105, color='limegreen', label='Candy Crush Saga', edgecolors='black', alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_total_tweets, clean_master_reviews, s=clean_master_rating*105, color='m', label='Clean Master Space Cleaner', edgecolors='black', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_total_tweets, subway_surfers_reviews, s=subway_surfers_rating*105, color='lime', label='Subway Surfers', edgecolors='black', alpha=0.75)
youtube_plot= ax.scatter(youtube_total_tweets, you_tube_reviews, s=you_tube_rating*105, color='red', label='You Tube', edgecolors='black', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_total_tweets, security_master_reviews, s=security_master_rating*105, color='blueviolet', label='Security Master, Antivirus VPN', edgecolors='black', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_total_tweets, clash_royale_reviews, s=clash_royale_rating*105, color='darkolivegreen', label='Clash Royale', edgecolors='black', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_total_tweets, whatsapp_reviews, s=whatsapp_rating*105, color='tan', label='Whats App', edgecolors='lime', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_total_tweets,templerun_reviews, s=templerun_rating*105, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_total_tweets, pandora_reviews, s=pandora_rating*105, color='coral', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_total_tweets, pinterest_reviews, s=pinterest_rating*105, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_total_tweets, bible_reviews, s=bible_rating*105, color='tomato', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_total_tweets, spotify_reviews, s=spotify_rating*105, color='orangered', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_total_tweets, angrybirds_reviews, s=angrybirds_rating*105, color='forestgreen', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs Reviews (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with App Ratings \n" )
plt.ylabel("App Store Reviews in Millions \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
#plt.savefig('./tweets_vs__avgfollowers_Scatter.png')

In [209]:
# Scatter Plot 6 - Tweets vs Reviews vs Likes (size) -USE THIS ONE

fig, ax = plt.subplots(figsize=(11,11))



# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_total_tweets, facebook_reviews, s=facebook_total_likes*5, color='sandybrown', label='Facebook', edgecolors='black', alpha=0.75)
instagram_plot= ax.scatter(instagram_total_tweets, instagram_reviews, s=instagram_total_likes*5, color='saddlebrown', label='Instagram', edgecolors='black', alpha=0.75)
coc_plot= ax.scatter(coc_total_tweets, coc_reviews, s=coc_total_likes*5, color='springgreen', label='Clash Of Clans', edgecolors='black', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_total_tweets, candycrushsaga_reviews, s=candycrushsaga_total_likes*5, color='limegreen', label='Candy Crush Saga', edgecolors='black', alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_total_tweets, clean_master_reviews, s=CleanMaster_total_likes*5, color='m', label='Clean Master Space Cleaner', edgecolors='black', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_total_tweets, subway_surfers_reviews, s=SubwaySurfers_total_likes*5, color='lime', label='Subway Surfers', edgecolors='black', alpha=0.75)
youtube_plot= ax.scatter(youtube_total_tweets, you_tube_reviews, s=youtube_total_likes*5, color='red', label='You Tube', edgecolors='black', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_total_tweets, security_master_reviews, s=SecurityMaster_total_likes*5, color='blueviolet', label='Security Master, Antivirus VPN', edgecolors='black', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_total_tweets, clash_royale_reviews, s=ClashRoyale_total_likes*5, color='darkolivegreen', label='Clash Royale', edgecolors='black', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_total_tweets, whatsapp_reviews, s=whatsapp_total_likes*5, color='tan', label='Whats App', edgecolors='black', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_total_tweets, templerun_reviews, s=templerun_total_likes*5, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_total_tweets, pandora_reviews, s=pandora_total_likes*5, color='coral', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_total_tweets, pinterest_reviews, s=pinterest_total_likes*5, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_total_tweets, bible_reviews, s=bible_total_likes*5, color='tomato', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_total_tweets, spotify_reviews, s=spotify_total_likes*5, color='orangered', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_total_tweets, angrybirds_reviews, s=angrybirds_total_likes*5, color='forestgreen', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs Reviews (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Total Tweets \n Note: Circle sizes correlate with Likes \n" )
plt.ylabel("App Store Reviews in Millions \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
plt.savefig('./TWEETS_VS_REVIEWS_VSLIKES_Scatter.png')

In [ ]:
# Scatter Plot 5 - Tweets vs Reviews vs Likes (size) - Need to do

fig, ax = plt.subplots(figsize=(8,8))


# Apps both on Google Play Store and Apple - 4 apps
facebook_plot = ax.scatter(facebook_avg_retweets, facebook_total_tweets, s=facebook_total_likes*5, color='blue', label='Facebook', edgecolors='red', alpha=0.75)
instagram_plot= ax.scatter(instagram_avg_retweets, instagram_total_tweets, s=instagram_total_likes*5, color='fuchsia', label='Instagram', edgecolors='red', alpha=0.75)
coc_plot= ax.scatter(coc_avg_retweets, coc_total_tweets, s=coc_total_likes*5, color='springgreen', label='Clash Of Clans', edgecolors='red', alpha=0.75)
candycrushsaga_plot= ax.scatter(candycrushsaga_avg_retweets, candycrushsaga_total_tweets, s=candycrushsaga_total_likes*5, color='black', label='Candy Crush Saga', edgecolors='red')#, alpha=0.75)

# Google Play Store - 6 apps:
CleanMaster_plot= ax.scatter(CleanMaster_avg_retweets, CleanMaster_total_tweets, s=CleanMaster_total_likes*5, color='olive', label='Clean Master Space Cleaner', edgecolors='lime', alpha=0.75)
SubwaySurfers_plot= ax.scatter(SubwaySurfers_avg_retweets, SubwaySurfers_total_tweets, s=SubwaySurfers_total_likes*5, color='plum', label='Subway Surfers', edgecolors='lime', alpha=0.75)
youtube_plot= ax.scatter(youtube_avg_retweets, youtube_total_tweets, s=youtube_total_likes*5, color='grey', label='You Tube', edgecolors='lime', alpha=0.75)
SecurityMaster_plot= ax.scatter(SecurityMaster_avg_retweets, SecurityMaster_total_tweets, s=SecurityMaster_total_likes*5, color='coral', label='Security Master, Antivirus VPN', edgecolors='lime', alpha=0.75)
ClashRoyale_plot= ax.scatter(ClashRoyale_avg_retweets, ClashRoyale_total_tweets, s=ClashRoyale_total_likes*5, color='orange', label='Clash Royale', edgecolors='lime', alpha=0.75)
whatsapp_plot= ax.scatter(whatsapp_avg_retweets, whatsapp_total_tweets, s=whatsapp_total_likes*5, color='green', label='Whats App', edgecolors='lime', alpha=0.75)

# Apple Apps Store - 6 apps
templerun_plot= ax.scatter(templerun_avg_retweets, templerun_total_tweets, s=templerun_total_likes*5, color='lawngreen', label='Temple Run', edgecolors='black', alpha=0.75)
pandora_plot= ax.scatter(pandora_avg_retweets, pandora_total_tweets, s=pandora_total_likes*5, color='cornflowerblue', label='Pandora', edgecolors='black', alpha=0.75)
pinterest_plot= ax.scatter(pinterest_avg_retweets, pinterest_total_tweets, s=pinterest_total_likes*5, color='firebrick', label='Pinterest', edgecolors='black', alpha=0.75)
bible_plot= ax.scatter(bible_avg_retweets, bible_total_tweets, s=bible_total_likes*5, color='brown', label='Bible', edgecolors='black', alpha=0.75)
spotify_plot= ax.scatter(spotify_avg_retweets, spotify_total_tweets, s=spotify_total_likes*5, color='darkgreen', label='Spotify', edgecolors='black', alpha=0.75)
angrybirds_plot= ax.scatter(angrybirds_avg_retweets, angrybirds_total_tweets, s=angrybirds_total_likes*5, color='salmon', label='Angry Birds', edgecolors='black', alpha=0.75)

# title and labels
plt.title("Tweets vs ReTweets (Mar 27 - Apr 3, 2019) \n")
plt.xlabel("Avg ReTweets \n Note: Circle sizes correlate with Total Likes \n" )
plt.ylabel("Total Tweets \n")

# set and format the legend
lgnd = plt.legend(title='Legend', loc="best")

lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]
lgnd.legendHandles[3]._sizes = [30]
lgnd.legendHandles[4]._sizes = [30]
lgnd.legendHandles[5]._sizes = [30]
lgnd.legendHandles[6]._sizes = [30]
lgnd.legendHandles[7]._sizes = [30]
lgnd.legendHandles[8]._sizes = [30]
lgnd.legendHandles[9]._sizes = [30]
lgnd.legendHandles[10]._sizes = [30]
lgnd.legendHandles[11]._sizes = [30]
lgnd.legendHandles[12]._sizes = [30]
lgnd.legendHandles[13]._sizes = [30]
lgnd.legendHandles[14]._sizes = [30]
lgnd.legendHandles[15]._sizes = [30]


#grid lines and show
plt.grid()
plt.show()
#plt.savefig('./tweets_vs__avgfollowers_Scatter.png')